{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Get funding to improve animal health and welfare{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">


      <h1 class="govuk-heading-l">
        Timing of reviews and follow-ups
      </h1>

      <h2 class="govuk-heading-m">Reviews</h2>

      <p class="govuk-body">You must:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>do a review before you do the resulting follow-up</li>
        <li>leave at least 10 months between your reviews</li>
      </ul>

      <h2 class="govuk-heading-m">Follow-ups</h2>

      <p class="govuk-body">You must:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>leave no more than 10 months between a review and the resulting follow-up</li>
        <li>leave at least 10 months between your follow-ups</li>
      </ul>

      <h2 class="govuk-heading-m">Claims</h2>


      <p class="govuk-body">A review claim must be approved before you claim for the resulting follow-up.</p>
      
    
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Example timeline
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an example of dates that would follow the timing rules. You do not need to match these dates, as long as you follow the timing rules.                  </div>

      <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Do first review</h3>
          <p class="govuk-body">1 September 2024</p></div>

          <div class="govuk-details__text">
            <h3 class="govuk-heading-s">Claim for first review</h3>
            <p class="govuk-body">1 October 2024</p></div>

            <div class="govuk-details__text">
              <h3 class="govuk-heading-s">Do second review</h3>
              <p class="govuk-body">1 May 2025</p></div>

              <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Claim for second review</h3>
                <p class="govuk-body">1 June 2025</p></div>

                <div class="govuk-details__text">
                  <h3 class="govuk-heading-s">Do second follow-up</h3>
                  <p class="govuk-body">1 July 2025</p></div>

                  <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">Claim for second follow-up</h3>
                    <p class="govuk-body">1 August 2025</p></div>

                    <div class="govuk-details__text">
                      <h3 class="govuk-heading-s">Do third review</h3>
                      <p class="govuk-body">1 March 2026</p></div>

                      <div class="govuk-details__text">
                        <h3 class="govuk-heading-s">Claim for third review</h3>
                        <p class="govuk-body">1 April 2026</p></div>

                        <div class="govuk-details__text">
                          <h3 class="govuk-heading-s">Do third follow-up</h3>
                          <p class="govuk-body">1 May 2026</p></div>

                          <div class="govuk-details__text">
                            <h3 class="govuk-heading-s">Claim for third follow-up</h3>
                            <p class="govuk-body">1 June 2026</p></div>
        
        
        </div>
      </details>


              
              <div class="govuk-button-group">
                <a href="declaration.html" class="govuk-button" data-module="govuk-button">
                  I agree
                </a></button>
                <a href="offer-rejected.html"class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  I do not agree – reject agreement
                </a></button>
              </div>
            
            </div>
          </div>
        </main>
      </div>















              </form>
            </div>
          </div>
        </main>
      </div>

{% endblock %}
