{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
  Review the health and welfare of your livestock 
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </div> -->
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        What is the vet's name?
        </label>
      </h1>
      <label class="govuk-label" for="full-name">
        
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="full-name" name="full-name" type="text">
    </div>

    {{ govukButton({
      text: "Continue",
      href: "vet-rcvs"
    }) }}

  </div>
</div>

{% endblock %}
