{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for an Annual Health and Welfare Review
{% endblock %}
{% set serviceName %}
Register for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l"> Enter your customer reference number (CRN)</h1>

    <form action="/form-handler" method="post" novalidate>

    <div class="govuk-form-group">

      <p class="govuk-body">Enter your CRN so we can identify you.</p>
      <p class="govuk-body">This is the 10 digit number emailed to you when you created your Rural Payments account.</p>

      <label class="govuk-label" for="crn">
        Enter your CRN
      </label>
      <input class="govuk-input govuk-input--width-10" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-10">
        Confirm your CRN
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
    </div>

{{ govukButton({
  text: "Continue",
  href: "sbi-enter"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Problems with your CRN
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>If you’ve lost or forgotten your CRN, contact the Rural Payments Agency.</p>
    <ul class="govuk-list">
      <li>Rural Payments Agency</li>
      <li>Telephone: 03000 200 301</li>
      <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
      <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
    </ul>
    <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>
  </div>
</div>
  </div>
</details>

</form>
</div>
</div>
</main>
</div>

</fieldset>
</div>



  </div>
</div>
    
 

{% endblock %}
