{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Annual health and welfare review for livestock
{% endset%}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Claim complete
      </h1>
      <div class="govuk-panel__body">
        Your agreement number<br><strong>AHWR-F021-723B</strong>
      </div>
    </div>
    <br>

    <p class="govuk-body">Your claim has been successfully submitted.</p>
    <p class="govuk-body">We’ve sent you a <a href="email-confirmation">confirmation email</a> and your claim summary</p>

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You have sucessfully made a claim for your livestock
        </h3>
        <p class="govuk-body">You can <a class="govuk-notification-banner__link" href="../pigs-vet-visits-.html">manage
            your vet visits</a> to get funding for your livestock.</p>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">The Rural Payments Agency (RPA) may contact you to request the review summary the vet has
      given you.</p>


    <h2 class="govuk-heading-m">Get help with your claim</h2>
    <p>Contact the RPA if you need to change the details of your claim. You will need to give your agreement number.</p>
    <ul class="govuk-list">
      <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
      <br>
      <li>Telephone: 03000 200 301</li>
      <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>

    <p class="govuk-body govuk-!-margin-top-9">
      <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_b78D60CTVqEC7KC" class="govuk-link">What did you think of
        this service?</a> (giving feedback takes about 5 minutes)
    </p>

  </div>
</div>



{% endblock %}