{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding to improve livestock health and welfare
{% endset%}



{% block content %}

<main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Arthington Farm Ltd</h3>
          <p class="govuk-body sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 234567890</p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m" style="float:right; margin-bottom: 8px;">Jane Doe</h3>
          <p class="govuk-body sbi-number" style="float:right; margin-bottom: 8px;"><a
              href="../apply/business-2.html">Apply for a different business</a></p>
        </div>
    </main>
    <hr>



    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <h2 class="app-task-list">
              <ol class="app-task-list">


                





                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                    <h1 class="govuk-heading-xl">Manage your claims</h1>
                  </span>
                </li>

                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                        <span class="govuk-caption-l">Agreement number: AHWR-2847-2847 </span>
                      </span>
                </li>





                <li>

                  <li>
                    <h2 class="app-task-list__section">
                      <span class="app-task-list__section-number"> </span>Start a new claim 
                    </h2>
                  
                    <h2 class="app-task-list__section">

                  <span class="app-task-list__section-number"> </span>
                    
                  <p class="govuk-body-m">You have claimed for a livestock health and welfare review. You can now claim for an endemics follow-up.</p>
              </span>
               
                
                  
                    <h2 class="app-task-list__section">
                      <span class="app-task-list__section-number"> </span>
                  <div class="govuk-button-group">
                    <a href="../claim/which-review-endemics.html" class="govuk-button" data-module="govuk-button">
                    Claim for endemics follow-up
                    </a>

                  </div>
                </li>


                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number"> </span> Your previous claims
                  </h2>
                </li>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                       <a href="../beef-cattle-application"> VV-5053-A696 – beef cattle health and welfare review
                      </a>
                   
                      <p class="govuk-body-m">

                      </p>
                      
                            <p class="govuk-body-s">
      
                            </p>
                          </span>
                          <strong class="govuk-tag govuk-tag-- app-task-list__tag" id="contact-details-status">Paid</strong>
                    </span>
                  </li>
               
                  <br>
                  <br>
                  
  
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">More information </span>
                        </h2>
                        <p class="govuk-body-m"><a href="../terms-conditions.html">Terms and conditions for reviewing the health and welfare of your livestock</a></p>
                          <p class="govuk-body-m"><a href="../landing-page.html">Guidance for reviewing the health and welfare of your livestock</a></p>
                          <p class="govuk-body-m"><a href="../email-agreement-summary.html">Agreement summary</a></p>
                        
                    

                    </span>
                  </div>



                </ul>









              </ol>




    </main>











    {% endblock %}