{{ govukDetails({
  summaryText: "What happens if you cannot achieve a scheme action?",
  html: "
  <p>We will still pay you if you carry out a scheme action but cannot meet the intended outcome, as long as it’s outside of your control – for example, heavy flooding.</p>
  <h3 class='govuk-heading-s'>Records to keep</h3>
  <p>Record-keeping can help you show that you’ve done as much as you can to meet scheme requirements.</p>
  <p>You can show this by keeping:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>records of equipment you’ve used </li>
    <li>photos of the managed land</li>
    <li>records of the locations you’ve covered</li>
  </ul>
  <p>You do not need to record everything you do as part of the scheme. Aim to gather enough records to show how you’re working towards the outcomes in your agreement.</p>
  "
}) }}