<html lang="en" class=" history flexbox no-flexboxtweener"><head>
    <meta charset="utf-8">
    <title>
        Single page notification button:
          Default
        preview -
      Component Guide
    </title>
    <meta name="robots" content="noindex,nofollow,noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="CJVnGlyjNpEoZKTugBLXnLoCIW1iZZnzB3PcY1Wddg02N1TGZrfKlx8peZ9u_rMnNHiub_IJ-ZImSi4fFUkJEQ">
    <link rel="icon" type="image/x-icon" href="https://components.publishing.service.gov.uk/assets/govuk_publishing_components/favicon-production-3d29621e53fc949f82338b9efeaeaa1a803066deef2e8e6b390c23d79c21c90b.png">

    <link rel="stylesheet" href="https://components.publishing.service.gov.uk/assets/component_guide/application-c39fd876462aab9d194efe9badc77c9d63cfebad5e3b8036a7b1af16f18a5956.css" media="all">
    
    <link rel="stylesheet" href="https://components.publishing.service.gov.uk/assets/govuk_publishing_components/components/_single-page-notification-button-94f3f13dcdab9ac5c058808e7a07854d8a57faa62f5dbcd933d561473a59c0d2.css">

    <script src="https://components.publishing.service.gov.uk/assets/govuk_publishing_components/vendor/modernizr-a694b2e4420935261ee2a50f5702d93197f5207f75a24a6ecdae2bfea4a160a3.js"></script>
    
  </head>
  <body class="gem-c-layout-for-admin govuk-template__body hide-header-and-footer js-enabled js-test-a11y-success js-test-a11y-finished">
    <script nonce="">
//<![CDATA[
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

//]]>
</script>      <main id="wrapper" class="govuk-width-container">
        
  <div class="component-guide-preview-page">
    <div data-module="test-a11y" data-excluded-rules="">
      <div class="component-guide-preview
            
            
            
            component-guide-preview--simple">
  
      <div class="govuk-!-display-none-print govuk-!-margin-bottom-3" data-module="gem-track-click">
  <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/current-page-path" data-track-action="Subscribe-button" data-track-category="Single-page-notification-button" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
    <input type="hidden" name="base_path" value="/current-page-path">
    <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
</button>
</form></div>


</div>

    </div>
  </div>

      </main>

    <script src="/assets/component_guide/application-88bb308e05c6488e566c2db07472eb1977d1aaec9b44f29c6808c2431aca85b6.js"></script>
    <script src="/assets/application-8c46719bfab08ba0c25fd5daaf894d3d6b42ca270ba44dbfddd84b38f72e610f.js"></script>
  

</body></html>