<head>
    <meta charset="utf-8">
    <title>
        Print link:
          With different text
        preview -
      Component Guide
    </title>
    <meta name="robots" content="noindex,nofollow,noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="lHHWrFSQiB5HlRVUuZbdu65aEuAIrRCfRa9DIa0PgOOq0-VwboR0GHDYyCVXerkAICCd4pjBcP5klrFd7dv__w">
    <link rel="icon" type="image/x-icon" href="/assets/govuk_publishing_components/favicon-production-3d29621e53fc949f82338b9efeaeaa1a803066deef2e8e6b390c23d79c21c90b.png">

    <link rel="stylesheet" href="/assets/component_guide/application-c39fd876462aab9d194efe9badc77c9d63cfebad5e3b8036a7b1af16f18a5956.css" media="all">
    
    <link rel="stylesheet" href="https://components.publishing.service.gov.uk/assets/govuk_publishing_components/components/_print-link-c31770450d88dd0744fa08e4847f6f386952c6c11abbf2138ec10d4ca819828e.css">

    <script src="/assets/govuk_publishing_components/vendor/modernizr-a694b2e4420935261ee2a50f5702d93197f5207f75a24a6ecdae2bfea4a160a3.js"></script>
    
  </head>

  <body class="gem-c-layout-for-admin govuk-template__body hide-header-and-footer js-enabled js-test-a11y-success js-test-a11y-finished">
    <script nonce="">
//<![CDATA[
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

//]]>
</script>      <main id="wrapper" class="govuk-width-container">
        
  <div class="component-guide-preview-page">
    <div data-module="test-a11y" data-excluded-rules="">
      <div class="component-guide-preview
            
            
            
            component-guide-preview--simple">
  
      
<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
</div>


</div>

    </div>
  </div>

      </main>

    <script src="/assets/component_guide/application-88bb308e05c6488e566c2db07472eb1977d1aaec9b44f29c6808c2431aca85b6.js"></script>
    <script src="/assets/application-8c46719bfab08ba0c25fd5daaf894d3d6b42ca270ba44dbfddd84b38f72e610f.js"></script>
  

</body>