<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

<!-- commented out for debeugging 
{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}-->

<!-- Debugging - removes -->
/Users/aaron/Documents/prototypes/ffc-ahwr-prototype-1/node_modules/@ministryofjustice/frontend/moj/init.js
<script src="/node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>

  <script src="/node_modules/browser-sync/dist/public/init.js"></script>

  <script src="/node_modules/@ministryofjustice/frontend/moj/all.jquery.min.js"></script>

  <script src="/node_modules/@ministryofjustice/frontend/moj/init.js"></script>
<!-- Debugging - remove -->

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

{% if tocPage == "specialist" %}
  <script src="/public/javascripts/toc-specialist.js"></script>
{% elif tocPage == "guide" %}
  <script src="/public/javascripts/toc.js"></script>
{% endif %}

<!-- Routing hack -->
<script>
  function setLocation(element) {
          document.forms[0].action = element.value;
  }
</script>



