{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Your agreement number is<br><strong>AHWR-F021-723B</strong>
        </div>
      </div>
      <br>

      <p class="govuk-body">
        Your application is complete and you have entered an agreement with the Rural Payments Agency.
      </p>
      <p class="govuk-body">
        We have sent you a <a href="email-confirmation">confirmation email</a> and your agreement summary.
      </p>
      <p class="govuk-body">
        The agreement will be governed by the agreed <a href="#">terms and conditions</a>.
      </p>

      <h2 class="govuk-heading-m">Set up your review</h2>

      <p class="govuk-body">Contact your vet to arrange a review.
        Read the <a href="../guidance" target="_blank">guidance on how to set up a review</a>.
      </p>
      
      <p class="govuk-body">After the vet has completed the review
        you can <a href="../report/start" target="_blank">claim funding for the annual health and welfare review</a>.
      </p>

      <p class="govuk-body">You’ll need to apply for a new agreement if you do not arrange a review and claim your funding within 6 months of getting this agreement number. 
        </p>

      <h2 class="govuk-heading-m">Get help with your application</h2>

      <p>If you have a question about your application contact the Rural Payments Agency.  
        Have your agreement number with you when you call or include it in your email. 
        </p>
      <ul class="govuk-list">
        <li>Rural Payments Agency</li>
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
        <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <p class="govuk-body govuk-!-margin-top-9">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
      <p><u>Print this page</u></p>
    </div>
  </div>





{% endblock %}
