{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Check your application</h1>

        <p class="govuk-body">
          You’re applying for funding for a beef cattle review for this business:
        </p>
        <div class="govuk-inset-text">
          Arthington Farm Ltd.<br>
          Primrose Ln, Arthington, Otley, LS21 1PH<br>
          SBI: 234567890
        </div>

        <p>You confirm that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the livestock are registered in England</li>
            <li>you’re the registered keeper</li>
            <li>you’ll have 11 or more beef cattle on the date the vet visits</li>
          </ul>

        <p>You must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>book your review within 12 months of the date your application</li>
          <li>allow a vet to test for BVD</li>
          <li>share some information with Defra including the date of the review, name of the vet and their Royal College of Veterinary Surgeons (RCVS) number</li>
        </ul>

        <p>To claim your payment:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you may need to provide the Rural Payments agency (RPA) with evidence the review took place such as an invoice or signed declaration from the vet</li>
            <li>you must claim within 15 months of the date of your application</li>
          </ul>

        <p class="govuk-body govuk-!-margin-top-6">
          By applying for this funding you’re entering into an agreement with the RPA.
        </p>

        <p><a hef="#" class="govuk-link">Read the full terms and conditions</a></p>
        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" name="confirm" id="confirm" value="Declaration Accepted">
              <label class="govuk-label govuk-checkboxes__label" for="confirm">
                I have read and agree to the terms and conditions
              </label>
            </div>
  <!--
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold govuk-checkboxes-long-label" for="agree">
                  I agree to form an agreement with Defra
                </label>
              </div>

              {{ govukButton({
                text: "Submit application",
                href: "confirmation"
              }) }}
  -->
          </div>
        </div>

        <div class="govuk-!-margin-top-6">
          <a href="confirmation" role="button" draggable="false" class="govuk-button docs-creator" data-module="govuk-button">
            Submit application
          </a>
        </div>

        <br>
        <a class="govuk-link" hef="#">Print this page</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
