{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Review your agreement offer</h1>

        <p class="govuk-body">
          This is an offer of funding for a beef cattle review for this business:
        </p>
        <div class="govuk-inset-text">
          CG Groves & Son Ltd<br>
          Primrose Farm, Arthington, Leeds, LS21 1PH<br>
          SBI: 234567890
        </div>

        <p>You must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>complete your review and claim within 6 months of the date of your application and agreement</li>
            <li>allow a vet to test for bovine viral diarrhoea (BVD) </li>
            <li>share some information with Rural Payments Agency (RPA) including the date of the review, name of the vet and their Royal College of Veterinary Surgeons (RCVS) number</li>
          </ul>

        <p>You may need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>provide the Rural Payments Agency (RPA) with evidence the review took place such as a review summary /li>
          </ul>

        <p>You confirm that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your farm or business has a Single Business Identifier (SBI) and an English County Parish Holding (CPH) number</li>
          <li>you’re the registered keeper</li>
          <li>you’ll have 11 or more beef cattle on the date the vet visits</li>
          <li>you’ve carefully read and accept the <a class="govuk-link" href="terms-conditions">full terms and conditions</a></li>
        </ul>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item  govuk-!-margin-top-6">
              <input class="govuk-checkboxes__input" type="checkbox" name="confirm" id="confirm" value="Declaration Accepted">
              <label class="govuk-label govuk-checkboxes__label govuk-!-padding-top-0" for="confirm">
                I accept the offer of agreement and agree to the terms and conditions
              </label>
            </div>
          </div>
        </div>

        <p class="govuk-body">
          If you wish to accept this offer for funding, you confirm that you are entering into an agreement with the RPA and 
          confirm you have read and accept the terms and conditions set out above.
        </p>

        <p class="govuk-body govuk-!-margin-top-6">
          If you do not wish to accept the offer, please click 'reject offer' below.
        </p>

        <div class="govuk-!-margin-top-6">
          <a href="confirmation" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Accept and send
          </a>
          <a href="offer-rejected" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Reject offer
          </a>
        </div>

        <br>
        <a class="govuk-link" hef="#">Print this page</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
