{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset %}


{% block content %}

<a class="govuk-back-link govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a>

  <div class="govuk-phase-banner">
  </div>
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l" style="margin-bottom: 8px;">Claim number: REPI-6844-3029</h2>
            <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Claim by <a href="business.html">P&D Fearnley & Sons</a></p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m" style="float:right; margin-bottom: 8px;"><strong class="govuk-tag govuk-tag--orange">
            In check
          </strong></h2>
        </div>
        <div>
          <h1 class="govuk-caption-l"style="float:right; govuk-!-margin-bottom"><a href="claims">Back to all claims</a></h1>
        </div>
      </div>
    </main>
    <hr>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <!--<h3 class="govuk-heading-m">Business overview</h3>-->
    <!--<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a href="business.html">P & D Fearnley and sons</a></p>
        </dd>
      </div>-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement number
        </dt>
        <dd class="govuk-summary-list__value">
          <p>AHWR-F001-432L</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement date
        </dt>
        <dd class="govuk-summary-list__value">
          <p>1/11/2022</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement holder
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Bill Fearnley</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement holder email
        </dt>
        <dd class="govuk-summary-list__value">
          <p>bill@fearnly.test</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number
        </dt>
        <dd class="govuk-summary-list__value">
          103491987
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Coronation Drive<br>Harleston<br>IP20 0AX</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business email
        </dt>
        <dd class="govuk-summary-list__value">
          <p>hello@fearnley-sons.com</p>
        </dd>
      </div>
    </dl>

    <!-- Start dialogue box -->
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
      <a href="claim-in-check.html" role="button" draggable="false" class="govuk-link govuk-body" style="color:#505a5f; float:right;" data-module="govuk-button">
        Back
      </a>
      <br>
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Recommend to reject
            </h1>
            <div class="govuk-!-padding-bottom-7"></div>
            <p id="checkbox-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select both checkboxes
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="on-hold-validation" name="on-hold-validation" type="checkbox" value="on-hold-validation">
                <label class="govuk-label govuk-checkboxes__label" for="on-hold-validation">
                  I have reviewed the completed verification check and agree the claim has not passed the checks. I'm satisfied we have tried to resolve the failures with the agreement holder, but they’re unable to do so. I reject this claim for payment.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="issues-log" name="issues-log" type="checkbox" value="issues-log">
                <label class="govuk-label govuk-checkboxes__label" for="issues-log">
                  I have updated the verification checklist. I have sent it back to the recommender to attach to the customer’s record in the Customer Relationship Management system.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
    
        <button class="govuk-button govuk-button govuk-!-margin-bottom-2" data-module="govuk-button" onclick="handleConfirmation()">
          Confirm and continue
        </button>
      </div>
    
      <script>
        function handleConfirmation() {
          var onHoldValidationCheckbox = document.getElementById('on-hold-validation');
          var issuesLogCheckbox = document.getElementById('issues-log');
    
          if (!onHoldValidationCheckbox.checked || !issuesLogCheckbox.checked) {
            window.location.href = 'claim-recommend-to-reject-error';
          } else {
            window.location.href = 'claim-recommended-to-reject-recommender';
          }
        }
      </script>
    </div>
    <!-- End dialogue -->
  </div>
</div>
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <!--<li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#applied">
            Agreement
          </a>
        </li>-->
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#history">
            History
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="claimed">
        <h2 class="govuk-heading-l">Claim details</h2>
        <dl class="govuk-summary-list">
          <!-- Content for the 'Claim' tab goes here -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">
                In check
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Claim date
            </dt>
            <dd class="govuk-summary-list__value">   
                11 July 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Livestock
            </dt>
            <dd class="govuk-summary-list__value">
              [Livestock type]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Type of visit
            </dt>
            <dd class="govuk-summary-list__value">
              [Review type]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date of visit
            </dt>
            <dd class="govuk-summary-list__value">
              6 November 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date of testing
            </dt>
            <dd class="govuk-summary-list__value">
              6 November 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              11 or more beef cattle
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vet's name
            </dt>
            <dd class="govuk-summary-list__value">
              Nora Williams
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vet's RCVS number
            </dt>
            <dd class="govuk-summary-list__value">
              7116359
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              URN
            </dt>
            <dd class="govuk-summary-list__value">
              URN-7374-48BC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of tests
            </dt>
            <dd class="govuk-summary-list__value">
              8
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of animals tested
            </dt>
            <dd class="govuk-summary-list__value">
              8
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Test results
            </dt>
            <dd class="govuk-summary-list__value">
              Positive
            </dd>
          </div>
        </dl>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
        <h2 class="govuk-heading-l">History</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th

>
              <th scope="col" class="govuk-table__header">Time</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header">User</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">23/03/2023</td>
              <td class="govuk-table__cell">10:00:12</td>
              <td class="govuk-table__cell">Recommend to reject</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">24/03/2023</td>
              <td class="govuk-table__cell">09:30:00</td>
              <td class="govuk-table__cell">Recommended to pay</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to reject</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to pay</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
