{% extends "layouts/layout.html" %}

{% set serviceName = "Apply for an Annual Health and Welfare review" %}

{% set title = "Check your email" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          We've sent an email with a verification code. It may take a few minutes to arrive.</p>
        <p class="govuk-notification-banner__heading">It will expire in 12 hours.
        </p>
      </div>
    </div>

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">We've sent an email with a 6 digit verification code to ted.barns@cattlemoovement.org </p>

    <p class="govuk-body">It may take a few minutes to arrive</p>

    <p class="govuk-body">The code will expire in 12 hours</p>

    <p class="govuk-body">Enter verification code</p>



    <form action="new-password" method="post">


      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: ""
        },
        id: "account-number",
  name: "account-number",
  inputmode: "numeric",
  pattern: "[0-9]*",
  spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        id: "verify",
        name: "verify-code"

      }) }}

      {{ govukDetails({
        summaryText: "I have not received the email",
        html: '<p>The email may take a few minutes to arrive. Its subject line is: ‘Confirm your email address - Defra’.</p>
        <p>Check your spam or junk folder.</p>'
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}


      <h2 class="govuk-heading-m">Problems with getting a verification code?</h2>
      <p class="govuk-body">If you have problems getting a code:</p>  
      <ul class="govuk-list govuk-list--bullet">
        <li>check your spam or junk folders if you do not get an email</li>
        <li> <a href = "#" >request a new code </a> if the old code is expired</li>
      </ul>
      <p class="govuk-body">For any other problems, contact the Rural Payments Agency:</p>  
      <ul class="govuk-list">
              <li>Rural Payments Agency</li>
              <li>Telephone: 03000 200 301</li>
              <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
              <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
            </ul>
            <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>
          </div>
        </details>
        </div>

  </div>
</div>

{% endblock %}