{% extends "layouts/layout.html" %}

 {% set serviceName = "Annual Health and Welfare review of livestock" %}

{% set title = "Your password has been reset" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">Your password has been reset.</h1>
			</div>
        <p class="govuk-body">Your password has been reset.</p>

        <p class="govuk-body">You can now use it to <a href = "defra-id.html" >sign in.</a></p>


</div>



{% endblock %}