{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Record data from an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="practice-name">
          What is the vet practice name?
        </label>
      </h1>
        <label class="govuk-label" for="practice-name">
          Vet practice name
        </label>
        <div id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
          This has to be the practice the vet was working for at the time of the review
        </div>
        <input class="govuk-input govuk-!-width-three-quarters" id="practice-name" name="practice-name" type="text">
    </div>


    {{ govukButton({
      text: "Continue",
      href: "check-answers"
    }) }}

  </div>
</div>

{% endblock %}
