{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                 Choose an SBI for your application
                </h1>
              </legend>
              <div id="sign-in-hint" class="govuk-hint">
                xxxxxxxxx
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                  <label class="govuk-label govuk-radios__label" for="sign-in">
                    SBI number: 
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Business name and address
                  </div>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                    <label class="govuk-label govuk-radios__label" for="sign-in">
                      SBI number: 
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      Business name and address
                    </div>
                  </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                  <label class="govuk-label govuk-radios__label" for="sign-in-2">
                    SBI number:xxxx
                  </label>
                  <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                    Business name and address
                  </div>


                </div>
              </div>
            </fieldset>
          </div>
       
       
        
          

    </div>
  </div>
</div>


{% endblock %}
