{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
          <h1 class="govuk-heading-l">Please choose SBI for your application</h1>
          <span class="govuk-caption-l">Use the information below to continue your application</span>
          <br>

          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Please choose the SBI for your application
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">17363874854 - The Old Farm</option>
              <option value="updated" selected>36565757484 - Dairy Limited</option>
              <option value="views">4656575848 - JR & Sons</option>
              <option value="comments">56565656484 - Pigs Can Fly</option>
            </select>
          </div>
        
          

    </div>
  </div>
</div>


{% endblock %}
