{% extends "layouts/layout.html" %}

{% block pageTitle %}
Annual health and welfare review of livestock
{% endblock %}
{% set serviceName %}
Annual health and welfare review of livestock
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
  {% endblock %}

  {% block content %}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
            Enter your business email address</label>
          </h1>
      
          <form action="/form-handler" method="post" novalidate>
  
            <div class="govuk-form-group">
 
      <p class="govuk-body">Enter the main business email address linked to the business registering an interest in your Rural Payments account.</p>
      <p class="govuk-body">Do not use your personal email address which may also be linked to the business.</p>
      <div class="govuk-inset-text">
        We'll only send  confirmation you’ve successfully registered to the main business email address.
      </div>

      <label class="govuk-label" for="crn">
        Enter your email address
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort-code">
        Confirm your email address
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>
  
      {{ govukButton({
        text: "Continue",
        href: "check-details"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with your email
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you have lost or forgotten your business email address or need to check which email address is linked to the business, contact the Rural Payments Agency.</p>
          <ul class="govuk-list">
            <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
            <br>
            <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
          </ul>
          <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </div>


      
</fieldset>
</div>



  </div>

</div>

{% endblock %}