{% extends "layouts/layout.html" %}

{% block pageTitle %}
Health and welfare review funding for this organisation
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Select if your details are correct</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h1 class="govuk-heading-l">
      Check your details
    </h1>
<!--
    <h2 class="govuk-heading-m">Arthington Farm Ltd</h2>
-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Farmer name
        </dt>
        <dd class="govuk-summary-list__value">
          Finn Williams
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          Arthington Farm Ltd 
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number
        </dt>
        <dd class="govuk-summary-list__value">
          234567890
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          jane.doe@arthington.com
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          Primrose Farm<br>Arthington<br>Otley<br>LS21 1PH
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>janedoe@yahoo.com</p>

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
-->
    </dl>
    
    <form class="form" action="../claim/vet-visits.html" method="post">

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="whereDoYouLive-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
             Are your details correct?
            </h1>
          </legend>
          <p id="whereDoYouLive-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if your details are correct
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <a href="../apply/declaration-2.html" class="govuk-button" data-module="govuk-button">Continue</a>

    </form>

  </div>
</div>

    </dl>
    
    <form class="form" method="post">

     


{% endblock %}
