{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Get funding to improve livestock health and welfare{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">


              <h1 class="govuk-heading-l">
                Minimum number of livestock
              </h1>
  
              <p class="govuk-body">Each time you do a review or follow-up, you must have the minimum number of the livestock you choose. The minimums needed are:</p>
              
              <ul class="govuk-list govuk-list--bullet">
                <li>11 beef cattle</li>
                <li>11 dairy cattle</li>
                <li>21 sheep</li>
                <li>51 pigs</li>
              </ul>
              
              <div class="govuk-button-group">
                <a href="timings.html" class="govuk-button" data-module="govuk-button">
                  I agree
                </a></button>
                <a href="offer-rejected.html"class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  I do not agree – reject agreement
                </a></button>
              </div>
            
            </div>
          </div>
        </main>
      </div>















              </form>
            </div>
          </div>
        </main>
      </div>

{% endblock %}
