{% extends "layouts/layout-defra-authoriser.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Profile: Administrator</span>
        <h1 class="govuk-heading-xl">Welcome Lisa Hammonds</h1>
      </div>
    </div>

    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h2 class="govuk-heading-l">See all applications</h2>
        <p class="govuk-body-l">Based on your personal role access, you are able to do the following: </p>
        <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">See all assisted applications</h3>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
      </div>
    </div>
  </main>
</div>



{% endblock %}


