{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../applications">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Reference: VV-021-20D
    </h1>

    <h2 class="govuk-heading-l">
      Deer Park Farm
      <strong class="govuk-tag govuk-tag--orange">
        Claim check
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of applicant:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Sophie Lewis</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          106712004
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Bucklebury, Reading RG7 6RR
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>sophielewis123@gmail.com</p>
        </dd>
      </div>
    </dl>


    <!--Tabs with application stages-->
    <div class="govuk-tabs" data-module="govuk-tabs">

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Application
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#reviewed">
            Vet Data
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#paid">
            Payment
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l">Applied</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">09/07/2022</td>
              <td class="govuk-table__cell">Details correct?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">09/07/2022</td>
              <td class="govuk-table__cell">Review type</td>
              <td class="govuk-table__cell">Dairy</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">09/07/2022</td>
              <td class="govuk-table__cell">Lifestock number</td>
              <td class="govuk-table__cell">11 or more</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">09/07/2022</td>
              <td class="govuk-table__cell">T&Cs agreed?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reviewed">
        <h2 class="govuk-heading-l">Data inputted</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">02/08/2022</td>
              <td class="govuk-table__cell">Review date</td>
              <td class="govuk-table__cell">23/07/2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">02/08/2022</td>
              <td class="govuk-table__cell">11 or more cattle?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">02/08/2022</td>
              <td class="govuk-table__cell">BVD in herd?</td>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">02/08/2022</td>
              <td class="govuk-table__cell">Report given?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l">Selected for Claim check</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/08/2022</td>
              <td class="govuk-table__cell">Details correct?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/08/2022</td>
              <td class="govuk-table__cell">Uploaded file</td>
              <td class="govuk-table__cell"><a href="#">Invoice_U388962.pdf</a></td>
            </tr>
          </tbody>
        </table>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Download file
        </a>
        <a href="deer-park-farm-fraudcheck" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Start check
        </a>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="paid">
        <h2 class="govuk-heading-l">Awaiting approval</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Payment due</td>
              <td class="govuk-table__cell">08/09/2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Payment amount</td>
              <td class="govuk-table__cell">£372</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Payment sent</td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>
</div>

{% endblock %}
