{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Reference: VV-021-20D
    </h1>

    <h2 class="govuk-heading-l">
      Deer Park Farm
      <strong class="govuk-tag govuk-tag--orange">
        Claim check
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of applicant:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Sophie Lewis</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          106712004
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Bucklebury, Reading RG7 6RR
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>sophielewis123@gmail.com</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded file:
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#">Invoice_U388962.pdf</a>
        </dd>
      </div>

    </dl>

    <!-- Questions -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <!--
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Questions
          </h1>
        </legend>
        -->

        <h2 class="govuk-heading-s">Does the SBI match the farmer?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sbi" name="sbi" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="sbi">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sbi-2" name="sbi" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="sbi-2">
              No
            </label>
          </div>
        </div>

        <h2 class="govuk-heading-s">Is the applicant authorised to act for business?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="business" name="business" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="business">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="business-2" name="business" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="business-2">
              No
            </label>
          </div>
        </div>

        <h2 class="govuk-heading-s">Does the CPH match the SBI?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cph" name="cph" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="cph">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cph-2" name="cph" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="cph-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the farmer a BPS recipient and has 5 entitlements?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="bps" name="bps" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="bps">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="bps-2" name="bps" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="bps-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the farmer a livestock keeper for the species that they had applied for?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="species" name="species" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="species">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="species-2" name="species" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="species-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Does the farmer have the eligible number of animals per species?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible" name="eligible" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="eligible">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="eligible" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Does the vet have a valid RCVS number?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rcvs" name="rcvs" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="rcvs">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rcvs-2" name="rcvs" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="rcvs-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Do the vet details match the RCVS details?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rcvs-details" name="rcvs-details" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="rcvs-details">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rcvs-details-2" name="rcvs-details" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="rcvs-details-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the date of visit after or on the agreement date?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="date-min" name="date-min" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="date-min">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="date-min-2" name="date-min" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="date-min-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the date of visit within one year of the agreement date?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="date-max" name="date-max" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="date-max">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="date-max-2" name="date-max" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="date-max-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the claim within 15 months of the agreement date?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="claim" name="claim" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="claim">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="claim-2" name="claim" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="claim-2">
              No
            </label>
          </div>
        </div>
    
        <h2 class="govuk-heading-s">Is the application the only one for that species within one year?</h2>

        <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-bottom-5" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="apply" name="apply" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="apply">
              Yes
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="apply-2" name="apply" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="apply-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>

      <a href="deer-park-farm-fraudcheck-review" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Review answers
      </a>

    </div>

  </div>
</div>

{% endblock %}
