 {% extends "layouts/layout.html" %}
 {% set serviceName = "Annual health and welfare review of livestock" %}
 
{% block pageTitle %}
 {{title}} - GOV.UK{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  
    

<h1 class="govuk-heading-l">Which business are you applying for?</h1>

<p class="govuk-body">These are the businesses that are:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>listed under your rural payments account</li>
      <li>have registered an interest in applying for an annual health and welfare review</li>
      </ul>
 
   
<p class="govuk-body">Select the business that’s applying:</p>

  <form class="form" action="/select-business" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business" name="which-business" type="radio" value="business1">
            <label class="govuk-label govuk-radios__label" for="which-business">
              Ant Farm Co. - SBI 857564831
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-2" name="which-business" type="radio" value="business2">
            <label class="govuk-label govuk-radios__label" for="which-business-2">
              Arthington Farm Ltd - SBI 234567890
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-3" name="which-business" type="radio" value="business3">
            <label class="govuk-label govuk-radios__label" for="which-business-3">
              Dairy Limited - SBI 108474838
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-4" name="which-business" type="radio" value="business4">
            <label class="govuk-label govuk-radios__label" for="which-business-4">
              Drummonds - SBI 184638403
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-5" name="which-business" type="radio" value="business5">
            <label class="govuk-label govuk-radios__label" for="which-business-5">
              Echo Foods - SBI 746383648
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-6" name="which-business" type="radio" value="business6">
            <label class="govuk-label govuk-radios__label" for="which-business-6">
              Kent Signature Chickens - SBI 107684959 
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-7" name="which-business" type="radio" value="business7">
            <label class="govuk-label govuk-radios__label" for="which-business-7">
              The Pigs Trust - SBI 174839474
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="which-business-8" name="which-business" type="radio" value="business8">
            <label class="govuk-label govuk-radios__label" for="which-business-8">
              Vegan & Greens - SBI 106599006
            </label>
          </div>
  
          
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">Start application</button>

  </form>
  
 
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">Can’t see the business you’re looking for?
</span>
</summary>
<div class="govuk-details__text">
If you have a business that has registered an interest for the review but is not listed, contact the Rural Payments Agency. <br><br> 
Email: <a href=mailto:ruralpayments@defra.gov.uk?subject=feedback>ruralpayments@defra.gov.uk</a><br><br>
      
      Telephone: 03000 200 301 <br>
      Monday to Friday, 8:30am to 5pm, except bank holidays <br>
      <br>
      <p class="govuk-body"><a href=https://www.gov.uk/call-charges target=”_blank”>Find out about call charges</p>
</div>
</details>
</div>
</div>
{% endblock %}
