{% extends "layouts/layout.html" %}

{% block pageTitle %}
Email page
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        What is your agreement number?</label>
      </h1>
      <label class="govuk-label" for="email">
        Agreement number
      </label>
      <div id="email-hint" class="govuk-hint">
        We'll use this to confirm your previous vet visit took place. </div>
      <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>

    {{ govukButton({
      text: "Continue",
      href: "check-answers-endemics"
    }) }}

  </div>
</div>

{% endblock %}
