{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Annual health and welfare review of livestock
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l">
          Beef cattle: livestock health and welfare agreement
        </h2>
            
            <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
              AHWR-F021-723B
            </h1>
        
            <!--User details-->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name:
                </dt>
                <dd class="govuk-summary-list__value">
                  <p>Jane Doe</p>
                </dd>
              </div>
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  SBI number:
                </dt>
                <dd class="govuk-summary-list__value">
                  1234567890
                </dd>
              </div>
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address:
                </dt>
                <dd class="govuk-summary-list__value">
                  Primrose Farm, Arthington, Otley, LS21 1PH
                </dd>
              </div>
            
            </dl>


            <h2 class="govuk-heading-m">
              Guidance and documentation
            </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">Read the following for guidance on what you and your vet need to do:</h3>
            <p class="govuk-body"><a href="£">Read the guidance on how to test for endemics disease</a></p>
            <p class="govuk-body"><a href="../vet/guidance/technical/cattle-test.html">Cattle: testing required for an annual health and welfare review</a></p>
            <p class="govuk-body"><a href="../vet/guidance.html">Vets: How to carry out an annual health and welfare review of livestock</a></p>

            <br>
  

            <h2 class="govuk-heading-m">
              View agreements
            </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">Check the details of your agreements:</h3>
            <p class="govuk-body"><a href="../defraid-2-20/email-agreement-summary.html">Agreement summary</a></p>
            <p class="govuk-body"><a href="../defraid-2-20/terms-conditions.html">Terms and conditions</a></p>

            <br>




            <h2 class="govuk-heading-m">
              Claim funding
            </h2>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-s">Claim your funding for current or previous agreements:</h3>
            <p class="govuk-body"><a href="../farmer/guidance-claim.html">Read the guidance on how to claim funding</a></p>
            <p class="govuk-body"><a href="../defraid-2-20/claim-endemics-2/visit-date.html">Claim funding for your beef cattle review</a></p>

            <br>


            
          <h2 class="govuk-heading-m">
            Apply for a different type of livestock
           </h2>
           <p class="govuk-body">You can apply for multiple annual welfare review and test for endemic disease throughout the year</p>
           <p class="govuk-body">Create additional agreements for other livestock in the time allocated.</p>


           {{ govukButton({
            text: "Start a new application",
            href: "which-review"
          }) }}


      
          
          <br>
           <h2 class="govuk-heading-m">Withdraw agreement</h2>
           <p>If you cannot apply online or have a question about your application contact the Rural Payments Agency by email or phone.</p>
           <ul class="govuk-list">
             <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
             <br>
             <li>Telephone: 03000 200 301</li>
             <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
     
           </ul>
           <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
     

    </div>
  </div>
</div>


{% endblock %}
