{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Annual health and welfare review of livestock
{% endset%}



{% block content %}

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

<main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row" style="padding-top:0px;">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Arthington Farm Ltd</h3>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Address: 	Primrose Farm, Arthington</h2>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Email address: jane@arthington.com</h2>
    </div>

    <div class="govuk-grid-column-one-third">
        <p class="govuk-body sbi-number" style="float:right; margin-bottom: 8px;">SBI: 2345678900</h3>
    </div>

  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</main>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-width-container">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <span class="govuk-caption-xl">AHWR and Endemic Disease management</span>
      <h1 class="govuk-heading-xl">Jane Doe's dashboard</h1>
      <h3 class="govuk-heading-m">Apply and claim for funding applications</h3>
    
          <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Before you apply
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="check-details.html" aria-describedby="eligibility-status">
                      Check your business and personal details
                    </a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="../farmer/guidance-apply.html" aria-describedby="read-declaration-status">
                      Read the guidance on how to apply for a review
                    </a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="../farmer/guidance-claim.html" aria-describedby="read-declaration-status">
                      Read the guidance on how to claim funding after reviews
                    </a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="read-declaration-status">
                      Read the guidance on how to test for endemics disease
                    </a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                </li>
              </ul>
            
          
       
    
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Your applications
              </h2>
              <ul class="app-task-list__items">

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="../beef-cattle-application"> VV-5053-A696  – Beef Cattle G AHWR -  Review</a>
                    <p class="govuk-body-s">
You must arrange this review and claim funding  by <strong>11 April 2024</strong>                    </p>
                  </span>
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="../beef-cattle-application-endemics"> Beef Cattle G – Endemics Review</a>
                    <p class="govuk-body-s">
                      Your agreement offer will expire at 11:59pm on <strong>27 Oct 2023</strong>
                    </p>
                  </span>
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="submit-pay-status">In progress</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="../beef-cattle-application-endemics-2"> Beef Cattle Test – Endemics Review</a>
                    <p class="govuk-body-s">
                      Your agreement offer will expire at 11:59pm on <strong>02 Apr 2024</strong>
                    </p>
                  </span>
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="submit-pay-status">In progress</strong>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href=""> Diary Cattle Test – Endemics Review</a>
                    <p class="govuk-body-s">
                      You have been paid <strong>£294</strong> for completing testing on your livestock
                    </p>
                  </span>
                  <strong class="govuk-tag govuk-tag-- app-task-list__tag" id="submit-pay-status">Paid</strong>
                </li>
              </ul>
            </ol>
            
            {{ govukButton({
              text: "Start a new application",
              href: "which-review"
            }) }}
            
            <h2 class="govuk-heading-m">Help and guidance</h2>
            <p class="govuk-body">
              Read the following guidance to find out what you and your vet need to do.
            </p>
            <p><a href="../farmer/guidance-apply.html">What happens at a livestock health and welfare farm visit</a></p>
            <p><a href="../vet/guidance.html">Vets: How to carry out an annual health and welfare review of livestock</a</p>

   



  

      
   
    

{% endblock %}
