{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Annual health and welfare review of livestock
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-l">
          Annual health and welfare review agreements
        </h2>
            
            <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
              Manage your agreements or start a new application
            </h1>
        
            <!--User details-->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name:
                </dt>
                <dd class="govuk-summary-list__value">
                  <p>Sandra Smith</p>
                </dd>
              </div>
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  SBI number:
                </dt>
                <dd class="govuk-summary-list__value">
                  1067778992
                </dd>
              </div>
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address:
                </dt>
                <dd class="govuk-summary-list__value">
                  Earls Court Rd, Crawley C215 9EL
                </dd>
              </div>
            
            </dl>


            <h2 class="govuk-heading-m">
              Your agreements
            </h2>
        
            <h3 class="govuk-heading-s"> Guidance and documentation</h3>

            
  
        
            <h2 class="govuk-heading-m">
              Your claims
            </h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col"> SBI number </th>
                  <th class="govuk-table__header" scope="col"> Business name </th>
                  <th class="govuk-table__header" scope="col"> Application status </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                   373847484
                  </td>
                  <td class="govuk-table__cell">JR & Sons</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
              Claimed
            </strong>
                  </td>
                </tr>
              
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    579096869
                  </td>
                  <td class="govuk-table__cell">Rose & Tulips Gardens</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--orange">
              In check
            </strong>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    1275948574
                  </td>
                  <td class="govuk-table__cell">Sunnyhills & Co</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--orange">
              In check
            </strong>
                  </td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">
              Your payments
            </h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> SBI number </th>
                <th class="govuk-table__header" scope="col"> Business name </th>
                <th class="govuk-table__header" scope="col"> Application status </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 367585968
                </td>
                <td class="govuk-table__cell">Tropical Forest Fruits</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--turquoise">
            Paid
          </strong>
                </td>
              </tr>
            
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  5790574957
                </td>
                <td class="govuk-table__cell">Veggie Greens</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--turquoise">
            Paid
          </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  5869586759
                </td>
                <td class="govuk-table__cell">Lavenderfields Farm</td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
            Pending
          </strong>
                </td>
              </tr>
            </tbody>
          </table>

          <h2 class="govuk-heading-m">
            Start a new application
           </h2>
           <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           
           <p><a href ="../v16/defraid-1/start.html">Apply for a different type of livestock</a></p>
        
           <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

           <h2 class="govuk-heading-m">Get help with your application</h2>
           <p>If you cannot apply online or have a question about your application contact the Rural Payments Agency by email or phone.</p>
           <ul class="govuk-list">
             <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
             <br>
             <li>Telephone: 03000 200 301</li>
             <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
     
           </ul>
           <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
     

    </div>
  </div>
</div>


{% endblock %}
