<dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
    <dt class="gem-c-metadata__term">From:</dt>
    <dd class="gem-c-metadata__definition">
        <a class="govuk-link" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a> and <a class="govuk-link" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a>
    </dd>
</dl>
<script src="https://draft-origin.publishing.service.gov.uk/assets/static/application-552bcc46f397538d6eec353a0eb617556364aac48b43a258be0d93d454531264.js"></script>
<script src="https://draft-origin.publishing.service.gov.uk/assets/government-frontend/application-f480365656ce8a47c44fd0799f20d6649c12b7272f7c42c910c6176d5a98b0fd.js"></script>