<h2 class="govuk-heading-m">Related content</h2>

<nav role="navigation">
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      <a rel="external" href="https://www.gov.uk/government/collections/basic-payment-scheme">Basic Payment Scheme</a>
    </li>
    <li>
      <a rel="external" href="https://www.gov.uk/government/publications/the-environmental-land-management-scheme-an-overview">Environmental Land Management Scheme</a>
    </li>
    <li>
      <a rel="external" href="https://www.gov.uk/government/collections/countryside-stewardship">Countryside Stewardship</a>
    </li>
    <li>
      <a rel="external" href="https://www.gov.uk/government/collections/environmental-stewardship-guidance-and-forms-for-existing-agreement-holders">Environmental Stewardship</a>
    </li>
  </ul>

  <nav role="navigation">
    <h3 class="govuk-heading-s">Collection</h3>
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a rel="external" href="https://www.gov.uk/government/collections/rural-payments-and-grants">Rural payments and grants</a>
      </li>
    </ul>
  </nav>
</nav>
