<div class="gem-c-related-navigation">
  <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
    Related content
  </h2>

  <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-2dae1b11" data-module="gem-toggle">
    <ul class="gem-c-related-navigation__link-list" data-module="track-click">
      <li class="gem-c-related-navigation__link">
        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content"
        data-track-label="#" data-track-options="{}" href="/v10/vet/guidance">Vets: how to carry out an annual health and welfare review of livestock
        </a>
      </li>
      <li class="gem-c-related-navigation__link">
        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content"
        data-track-label="#" data-track-options="{}" href="/v10/farmer/guidance.html">Farmers: get a funded annual health and welfare review of your livestock
        </a>
      </li>
    </ul>
  </nav>



</div>
