{% extends "layouts/layout.html" %}
{% set serviceName = "Get funding to improve animal health and welfare" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
    <div class="govuk-form-group">

      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="rcvs-number">
          What did the vet test or sample for?
        </label>
      </h1>

      <div id="dob-hint" class="govuk-hint">
      You can find this on the summary the vet gave you.</div>

      <br>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "diseases",
  fieldset: {
 
  },

  items: [
    {
      value: "disease-1",
      text: "Johne’s"
    },
    {
      value: "disease-2",
      text: "Maedi Visna (MV)"
    },
    {
      value: "disease-3",
      text: "Caseous Lymphadenitis (CLA)"
    },
    {
      value: "disease-4",
      text: "Ovine Pulmonary Adenocarcinoma (OPA)"
    },
    {
      value: "disease-5",
      text: "Trace elements"
    },
    {
      value: "disease-6",
      text: "Haemonchosis"
    },
    {
      value: "disease-7",
      text: "Ewe nutrition status"
    },
    {
      value: "disease-8",
      text: "Mastitis"
    },
    {
      value: "disease-9",
      text: "Tick-borne fever"
    },
    {
      value: "disease-10",
      text: "Louping ill"
    },
    {
      value: "disease-11",
      text: "Orf"
    },
    {
      value: "disease-12",
      text: "Pulpy kidney"
    },
    {
      value: "disease-13",
      text: "Other - something not listed"
    }
  ]
}) }}



    <br>
    <br>
    
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    
    </form>



{% endblock %}
