{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Annual health and welfare review agreements
    </h1>

    <div class="user-search-box govuk-!-width-two-thirds">
      <label class="govuk-label govuk-label--s" for="user-search">
        Search
      </label>
      <div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
        Search by agreement number, organisation or single business identifier (SBI) number

      </div>
      <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
        <input class="govuk-input" id="user-search" name="user-search" type="text" aria-describedby="user-search-hint" spellcheck="false">
        <button style="background-color:#008938;" class="search-button" data-module="govuk-button">
            Search
        </button>
      </form>
    </div>

  </div>
</div>

<br>
<br>


<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="none">Agreement number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Organisation</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">SBI number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Agreement date</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>


    </tr>
  </thead>

  <tr class="govuk-table__row">

    <td class="govuk-table__cell">AHWR-F021-726Z</td>

    <td class="govuk-table__cell" data-sort-value="6194">Green Pastures Agriculture</td>

    <td class="govuk-table__cell">408712345</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">17/09/2023</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--orange">Recommend to pay</strong></td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v18/internal/x-greenfield-recommend-to-pay.html'>View details</a></td>

  </tr>

  <tr class="govuk-table__row">

    <td class="govuk-table__cell">AHWR-F021-725Y</td>

    <td class="govuk-table__cell" data-sort-value="6194">Orchard Grove Farms</td>

    <td class="govuk-table__cell">305678912</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">08/11/2023</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--orange">Recommend to reject</strong></td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v18/internal/x-greenfield-recommend-to-reject.html'>View details</a></td>

  </tr>

  <tr class="govuk-table__row">

    <td class="govuk-table__cell">AHWR-F021-724X</td>

    <td class="govuk-table__cell" data-sort-value="6194">Greenfield & Co</td>

    <td class="govuk-table__cell">209874561</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">25/05/2023</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--orange">In check</strong></td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v18/internal/x-greenfield-in-check.html'>View details</a></td>

  </tr>

  <tr class="govuk-table__row">

    <td class="govuk-table__cell">AHWR-F021-724S </td>

    <td class="govuk-table__cell" data-sort-value="6194">Harvest Fields Co.</td>

    <td class="govuk-table__cell">103491987</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">13/02/2023</td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v18/internal/x-greenfield-on-hold.html'>View details</a></td>

  </tr>

  </tbody>
</table>

{% endblock %}