{% extends "layouts/layout.html" %}

{% block pageTitle %}
AHWR Private Beta
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}

{% endblock %}

<!-- Adds spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
<a class="govuk-back-link" href="../index">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Private Beta Prototype</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">The Annual Health and Welfare Review & Endemics Disease</h1>
    <span class="govuk-caption-m">Vet Visits Sprint 43 - 45</span>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Version 25.0</h2>


<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">User</th>
    <th class="govuk-table__header" scope="col">Journey</th>
    <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>


  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <p>Farmer</p>
      </th>
      <td class="govuk-table__cell">
        <ul class="govuk-list">
          <li><a href="../v25/first-claim/start.html" target="_blank">First claim journey</a></li>
        </ul>
      </td>
  <td class="govuk-table__cell">
    <ul class="govuk-list">
      <li>Starting point of the service</li>
      <li>The farmer is sent to a guidance page providing an overview of what to expect from the review.
        From there, a link passes the user onto the service start page.
        The start button initialises the application process.
        The farmer enters into an agreement with Defra and arranges their own vet visit.
      </li>
  </ul></td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <p>Farmer</p>
  </th>
  <td class="govuk-table__cell">
    <ul class="govuk-list">
      <li>Second claim journey:
        <ul>
          <li><a href="second-claim/review-beef/vet-visits-beef">Beef cattle second claim</a></li>
          <li><a href="second-claim/review-dairy/vet-visits-dairy">Dairy cattle second claim</a></li>
          <li><a href="second-claim/review-pig/vet-visits-pigs">Pigs second claim</a></li>
          <li><a href="second-claim/review-sheep/vet-visits-sheep">Sheep second claim</a></li>
        </ul>
      </li>
    </ul>
  </td>
<td class="govuk-table__cell">
<ul class="govuk-list">
  <li>Starting point of the service</li>
  <li>The farmer is sent to a guidance page providing an overview of what to expect from the review.
    From there, a link passes the user onto the service start page.
    The start button initialises the application process.
    The farmer enters into an agreement with Defra and arranges their own vet visit.
  </li>
</ul></td>
</tr>

<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <p>Farmer</p>
  </th>
  <td class="govuk-table__cell">
    <ul class="govuk-list">
      <li><a href="../v25/rejected-claim-3/vet-visits-progress.html" target="_blank">Second claim too early journey</a></li>
    </ul>
  </td>
<td class="govuk-table__cell">
<ul class="govuk-list">
  <li>Starting point of the service</li>
  <li>The farmer is sent to a guidance page providing an overview of what to expect from the review.
    From there, a link passes the user onto the service start page.
    The start button initialises the application process.
    The farmer enters into an agreement with Defra and arranges their own vet visit.
  </li>
</ul></td>
</tr>

<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <p>Farmer</p>
  </th>
  <td class="govuk-table__cell">
    <ul class="govuk-list">
      <li><a href="../v25/rejected-claim-2/vet-visits-progress.html" target="_blank">Rejected claim journey</a></li>
    </ul>
  </td>
<td class="govuk-table__cell">
<ul class="govuk-list">
  <li>Starting point of the service</li>
  <li>The farmer is sent to a guidance page providing an overview of what to expect from the review.
    From there, a link passes the user onto the service start page.
    The start button initialises the application process.
    The farmer enters into an agreement with Defra and arranges their own vet visit.
  </li>
</ul></td>
</tr>



</table>

</div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">

        <h3 class="govuk-heading-s">Resources</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://defra.sharepoint.com/:x:/r/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/_layouts/15/Doc.aspx?sourcedoc=%7BB2E55787-6DC5-46B2-BCBC-3F986E87CC46%7D&file=User%20insights%20and%20needs.xlsx&action=default&mobileredirect=true" target="_blank">
              User insight and needs
            </a>
          </li>
          <li>
            <a href="https://eaflood.atlassian.net/wiki/spaces/SFI/pages/3588849665/Vet+Visits" target="_blank">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://defra.sharepoint.com/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/Shared%20Documents/Forms/AllItems.aspx?viewid=c001e37e%2D0f18%2D46ce%2D96ab%2D4070d6882140&id=%2Fsites%2FMST%2DDefra%2DSustainableFarmingIncentive2022ProductTeam%2FShared%20Documents%2FAnimal%20Health%20and%20Welfare&CT=1631111182054&OR=OWA%2DNT&CID=770c6880%2Daf78%2D57d2%2D1344%2Ddb0aacf43184" target="_blank">
              Team Sharepoint
            </a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Design assets</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://docs.google.com/drawings/d/1dJIH_7FlDCVj9FPC81DJtrJRtm9TfHJh4p1cxyoT1gs/edit" target="_blank">
              FFC funding landscape
            </a>
          </li>
          <li>
            <a href="https://miro.com/app/board/uXjVOIgqslk=/?moveToWidget=3458764527581122081&cot=14" target="_blank">
              Miro board
            </a>
          </li>
        </ul>

      </nav>
    </aside>
  </div>

</div>


{% endblock %}
