{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Review the health and welfare of your livestock{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
    
              <h1 class="govuk-heading-l">Will you have the minimum number of livestock needed on the date of the vet visits?
              </h1>
              <form action="/form-handler" method="post" novalidate>
                <div class="govuk-form-group">
                  <div id="passport-number-hint" class="govuk-hint">
                    You can find this in the terms and conditions.
                  </div>
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
                    
              <a href="../apply/declaration-3.html" class="govuk-button" data-module="govuk-button">Continue</a>


              </form>
            </div>
          </div>
        </main>
      </div>

{% endblock %}
