{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Get funding to improve livestock health and welfare{% endset%}   

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Your agreement number is<br><strong>AHWR-F021-723B</strong>
        </div>
      </div>
      <br>

      <p class="govuk-body">
        Your application has been successful.
      </p>
      <p class="govuk-body">
        We have sent you a <a href="email-confirmation">confirmation email</a> and your agreement summary.
      </p>

      <h2 class="govuk-heading-m">We recommend you arrange an endemic disease follow-up by following these steps</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Read the guidance about <a href="../farmer/guidance-visit#endemic-disease-2">timing of endemic disease follow-ups</a> and arrange a follow-up at the advised time. You will need to give them the agreement number.</li>
        <li>Read the guidance about <a href="../farmer/guidance-apply.html">what happens at an endemic disease follow-up.</a>  The guidance explains what you must ask the vet to do and what’s optional.</li>
        <li> Ask the vet to <a href="../landing-page">read the guidance on endemic disease follow-ups.</a></li>
        <li>After the vet has completed the follow-up, you can claim your funding. Read the <a href="../farmer/guidance-claim.html">guidance on how to claim funding for an endemic disease follow-up.</a></li>
      </ol>

      <h2 class="govuk-heading-m">If you do not want to have a funded follow-up, you can arrange your next review </h2>

      <p class="govuk-body">
        Follow-ups help prevent the spread of disease in your livestock. If you choose not to have one, you can arrange your next <a href="#">livestock health and welfare review</a> at the advised time.  
      </p>




      <h2 class="govuk-heading-m">Get help with your application</h2>

      <p>Contact the Rural Payments Agency and give your agreement number if you:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>need to change your application</li>
      <li>decide you do not want a review after you have accepted your agreement offer</li>
      <li>have a question about your application</li>
      </ul>

      <p class="govuk-body"></p>


      <ul class="govuk-list">
        <li>Rural Payments Agency</li>
        <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>

        <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges (opens in new tab)</a></p>

      <p class="govuk-body govuk-!-margin-top-9">
        <a href="#" class="govuk-link">What did you think of this service?</a> (giving feedback takes about 5 minutes)
      </p>
      <p><u>Print this page</u></p>
    </div>
  </div>





{% endblock %}
