{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection-2.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<style>
  .navigation-container {
    padding: 20px 0 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b1b4b6
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
</style>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>

    
      
    <span class="govuk-caption-xl gem-c-title__context govuk-!-margin-top-9">Collection</span>
    <h1 class="govuk-heading-xl">
      Funding to improve animal health and welfare: guidance for farmers and vets
    </h1>
    </div>

    <p class="govuk-body govuk-!-font-size-24">
      Cattle, pig and sheep farmers can get funding for vet services. This includes disease testing and advice to improve welfare and productivity.
    </p>

    <aside class="navigation-container">
    <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          
      <section class="gem-c-devolved-nations">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England
    </h2>
    </section>
    
          <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
          <div class="responsive-bottom-margin">
              <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
        <h2 class="gem-c-contents-list__title">
          Contents
    </h2>
        <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-the-review-is" data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}" href="#funding">Apply for funding</a>
    
            </li>
  
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-the-review-is" data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}" href="#arrangereview">Arrange and do a review</a>
    
            </li>
  
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-the-review-is" data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}" href="#claimreview">Claim funding for a review</a>
    
            </li>
     
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#what-to-expect-from-a-review" data-track-options="{&quot;dimension29&quot;:&quot;What to expect from a review&quot;}" href="#arrange-follow">Arrange and do a follow-up</a>
    
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#check-youre-eligible-to-apply" data-track-options="{&quot;dimension29&quot;:&quot;Check you’re eligible to apply&quot;}" href="#claim-follow">Claim funding for a follow-up</a>
    
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#before-the-review" data-track-options="{&quot;dimension29&quot;:&quot;Before the review&quot;}" href="#sources">Other sources of funding</a>
    
            </li>
  
        </ol>
    </nav>
          </div>
        
          
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
    </div>
    
          
    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
        
            <div class="govspeak">

              <p class="govuk-body">This service used to be the annual health and welfare review. It has been expanded to include::</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>changes to the review, which is now called the animal health and welfare review</li>
                <li>the second part of the service, which is the endemic disease follow-up</li>
                <li>improve animal welfare</li>
                </ul>
                        

              
    <p class="govuk-body">This service provides funding for farm visits to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>reduce endemic diseases and conditions</li>
      <li>increase animal productivity</li>
      <li>improve animal welfare</li>
      </ul>

      <p class="govuk-body"> A vet, or a team chosen by a vet, can do these visits.</p>

    <p class="govuk-body">There are 2 parts to the service:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>animal health and welfare review</li>
    <li>endemic disease follow-up</li>
    </ul>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Endemic disease follow-up is not available for dairy cattle yet. This part of the service will be available soon.
      </strong>
    </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="funding">Apply for funding</h2>

    <p class="govuk-body">Farmers should read this guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>what the service is</li>
    <li>how much you could get </li>
    <li>whether you’re eligible</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/farmer-1.html" %}
    </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="arrangereview">Arrange and do a review</h2>

    <p class="govuk-body">Farmer and vets should read this guidance to find out what:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>farmers must ask vets to do on an annual health and welfare review</li>
    <li>disease and condition testing is required</li>
    <li>documentation farmers need to claim funding</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/farmer-2.html" %}
    </div>

    <p class="govuk-body">Farmers should ask vets to read this guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>how to do the required sampling for testing</li>
    <li>laboratory requirements for testing</li>
    <li>what advice to give farmers as part of a review</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/vet-1.html" %}
    </div>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Vets need to follow the guidance so that farmers are eligible to claim 
      </strong>
    </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="claimreview">Claim funding for the review</h2>

    <p class="govuk-body">Farmers should read this guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>when to claim for a review</li>
    <li>what information to provide when you claim funding</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/farmer-3.html" %}
    </div>
  
    <h2 class="govuk-heading-m govuk-!-font-size-27" id="arrange-follow">Arrange and do a follow-up</h2>

    <p class="govuk-body">Farmer and vets should read this guidance to find out what:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>farmers must ask vets to do on an endemic disease follow-up</li>
    <li>documentation farmers need to claim funding</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/farmer-4.html" %}
    </div>

    <p class="govuk-body">Farmers should ask vets to read this guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>how to do the required sampling for testing</li>
    <li>laboratory requirements for testing</li>
    <li>what advice to give farmers as part of a follow-up</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/vet-2.html" %}
    </div>


    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Vets need to follow the guidance so that farmers are eligible to claim
      </strong>
    </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="claim-follow">Claim funding for the follow-up</h2>

    <p class="govuk-body">Farmers should read this guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>when to claim for a follow-up</li>
    <li>what information to provide when you claim</li>
    </ul>

    <div class="govuk-!-margin-bottom-6">
      {% include "includes/publisher/farmer-5.html" %}
    </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="sources">Other sources of funding</h2>

<div class="govuk-!-margin-bottom-6">
    {% include "includes/publisher/farmer-6.html" %}
  </div>


    
  


{% endblock %}
