{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Your account has been locked</h1>

      <p class="govuk-body">You have incorrectly tried to confirm your identity too many times.</p>

      <h1 class="govuk-heading-m">What to do next</h1>

      <p class="govuk-body">To get your account unlocked, contact the Rural Payments Agency (RPA) by email or phone.</p>
        
      <p class="govuk-body">Email:  <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a><br><br>
     
        Telephone: 03000 200 301 <br>
        Monday to Friday, 8:30am to 5pm (except public holidays) <br>

      <p class="govuk-body">Find out about <a href="https://www.gov.uk/call-charges" target="”_blank”">call charges</a></p><a href="https://www.gov.uk/call-charges" target="”_blank”">
    </div>
  </div>





{% endblock %}
