{% extends "layouts/layout.html" %}

{% block pageTitle %}
Annual health and welfare review of livestock
{% endblock %}
{% set serviceName %}
Annual health and welfare review of livestock
{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">Defra ID Exceptions</h1>
  
          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 1 (apply)
              </dt>
              <dd class="govuk-summary-list__value">
                You have no businesses registered to your rural payments account
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-exception-1.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 2 (apply)
              </dt>
              <dd class="govuk-summary-list__value">
                The business has already applied for an annual health and welfare review.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-exception-2.html">
                  Link here<span class="govuk-visually-hidden"> sbi</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 3 (apply)
              </dt>
              <dd class="govuk-summary-list__value">
                The business has already applied for an annual health and welfare review. 2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-exception-3.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 4 (apply)
              </dt>
              <dd class="govuk-summary-list__value">
                The business you're applying for has no eligible county parish holding (CPH) registered to it
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-exception-4.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 5 (apply)
              </dt>
              <dd class="govuk-summary-list__value">
                The business you're applying for has no eligible county parish holding (CPH) registered to it.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-exception-5.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 1 (claim)
              </dt>
              <dd class="govuk-summary-list__value">
                You have no businesses registered to your rural payments account that have applied for a review.
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="claim-exception-1.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 2 (claim)
              </dt>
              <dd class="govuk-summary-list__value">
                The business has already claimed for an annual health and welfare review.
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="claim-exception-2.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 3 (claim)
              </dt>
              <dd class="govuk-summary-list__value">
                The business has already claimed for an annual health and welfare review.
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="claim-exception-3.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
      
            
          </dl>
  
     
  
          </form>
  
        </div>
      </div>
    </main>
  </div>


{% endblock %}
