{% extends "layouts/layout.html" %}

{% block pageTitle %}
Health and welfare review funding for this organisation
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Defra ID Errors</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-inset-text">
          Latest iterations (sprint 45)
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 1
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-1.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 2
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-2.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 3
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-3.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 4
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-4.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 5
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-5.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 6
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-6.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 7
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-7.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 8
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-8.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offer rejected 9
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/offer-rejected-9.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time out
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/time-out.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Declaration error
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/declaration-error.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Check details error
          </dt>
          <dd class="govuk-summary-list__value">
            Apply
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../exceptions/check-details-error.html">
              Link here<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
     


{% endblock %}
