{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../march-applications">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-F001-789H
    </h1>

    <h2 class="govuk-heading-l">
      Sunnyhill & Daughters
      <strong class="govuk-tag govuk-tag--grey">
        Withdrawn
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Ameila Summers</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          102749506
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          19 Summers Drive, Halesworth IP19 0EY
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>ameila@sunnyhills.com</p>
        </dd>
      </div>
    </dl>

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Agreement
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
      </ul>

      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l">Ready to pay</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of agreement</th>
                <td class="govuk-table__cell">09/02/2023</td>
              </tr>
              <th scope="row" class="govuk-table__header">Business details correct</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of review</th>
              <td class="govuk-table__cell">Beef</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number of livestock</th>
              <td class="govuk-table__cell">Minimum 11</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Agreement accepted</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l">Claimed</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of review	</th>
              <td class="govuk-table__cell">17/04/2023</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of testing</th>
              <td class="govuk-table__cell">17/04/2023</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of claim</th>
              <td class="govuk-table__cell">19/04/2023</td>
            </tr>
<tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Review details confirmed</th>
              <td class="govuk-table__cell">27/03/2023</td>
            </tr>
           
           
           
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Vet’s name</th>
              <td class="govuk-table__cell">Amanda Hiut</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Vet’s RCVS number</th>
              <td class="govuk-table__cell">4986045</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Test results unique 
                reference number (URN)</th>
              <td class="govuk-table__cell">URN-4850-53EG</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <a href="x-sunnyhills-withdrawing" class="govuk-link govuk-body" style="color:#d4351c">
        Withdraw
      </a>
      
      
      
    </div>
  </div>
</div>

{% endblock %}
