{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding to improve animal health and welfare
{% endset%}


{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You have an existing agreement for this business</h1>
    <p class="govuk-body">
      The Dairy Farm – SBI 123456789 has an agreement on the old annual health and welfare review service.  On 19 June 2024, we replaced that service with the expanded service 'Get funding to improve animal health and welfare'.
    </p>
  
    
    <h2 class="govuk-heading-m">If you have already done your review</h2>

    <p class="govuk-body">
      You should:
     </p>

     <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">claim for the review under your current agreement</a></li>
      <li><a href="#">apply for a new agreement in the expanded servicet</a></li>
      <li>if your review claim was successful, consider doing a <a href="#">follow-up in the expanded service</a> within 10 months of the date your last review was done</li>
    </ul>

    <h2 class="govuk-heading-m">If you have not done your review</h2>

    <p class="govuk-body">
      You should:
     </p>

     <ul class="govuk-list govuk-list--bullet">
      <li>withdraw your current agreement by contacting the Rural Payments Agency (RPA) by email or letter</li>
      <li><a href="#">apply for a new agreement in the expanded service</a></li>
      <li><a href="#">do a review in the expanded service</a></li>
      <li><a href="#">claim for your review in the expanded service</a></li>
      <li>if your review claim was successful, consider doing a <a href="#">follow-up in the expanded service</a> within 10 months of the review</li>
    </ul>

     <h2 class="govuk-heading-m">Contact RPA</h2>

      <ul class="govuk-list">
        <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
        <br>
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>

      </ul>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges (opens in new tab)</a></p>

      <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>

  </div>
</div>

{% endblock %}
