{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}
{% include "includes/publisher/global-bar.html" %}
{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
  </div>
{% endblock %}

{% block content %}

<style>
  .navigation-container {
    padding: 20px 0 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b1b4b6
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
    <span class="govuk-caption-xl gem-c-title__context govuk-!-margin-top-9">Guidance</span>
    <h1 class="govuk-heading-xl">
      Farmers: get a funded annual health and welfare review of your livestock
    </h1>

    <p class="govuk-body govuk-!-font-size-24">
      Find out what to expect from a review, check if you’re eligible, the funding you’ll get, how to apply and claim.
    </p>

    <aside class="navigation-container">

      <ul class="govuk-list govuk-body-s">
      <li>Contents</li>
      <li class="list-item--dashed"><a href="#whattodo">What you need to do</a></li>
      <li class="list-item--dashed"><a href="#checkeligibility">Check you’re eligible to apply</a></li>
      <li class="list-item--dashed"><a href="#howmuch">How much funding you’ll get</a></li>
      <li class="list-item--dashed"><a href="#whattoexpect">What to expect from a review</a></li>
      <li class="list-item--dashed"><a href="#apply">Apply for a review</a></li>
      <li class="list-item--dashed"><a href="#setup">Set up a review</a>
        <ul class="govuk-list govuk-body-s" style="margin-left: 25px">
          <li class="list-item--dashed"><a href="#whattodo-vet">What you need to ask the vet to do</a></li>
          <li class="list-item--dashed"><a href="#whattoask-vet">What to ask the vet to test for</a></li>
          <li class="list-item--dashed"><a href="#farm-visit">Farm visit</a></li>
          <li class="list-item--dashed"><a href="#written-report">Written report</a></li>
          <li class="list-item--dashed"><a href="#review-summary">Get evidence the review has taken place</a></li>
        </ul>
      </li>
      <li class="list-item--dashed"><a href="#claim">Claim funding for a review</a></li>
      <li class="list-item--dashed"><a href="#gethelp">Get help with your application or claim</a></li>
    </ul>

  </aside>

<!-- Intro -->
<p class="govuk-body">
You can get funding for a vet or team chosen by a vet, to visit your farm and carry out a health and welfare review if you keep: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>beef cattle</li>
<li>dairy cattle</li>
<li>sheep</li>
<li>pigs</li>
</ul>

<p class="govuk-body">
You can have a review of one eligible type of livestock. If you have more than one eligible type, you must choose the one you would like reviewed. You cannot apply for another review of the same herd or flock until 10 months after you submitted your last application.
</p>

<p class="govuk-body">A health and welfare review will help you:</p>
<ul class="govuk-list govuk-list--bullet">
<li>reduce endemic diseases and conditions</li>
<li>increase animal productivity</li>
<li>improve animal welfare</li>
</ul>

<p class="govuk-body">
The review is optional. It will not be an inspection or be used for compliance or monitoring.
</p>
<p class="govuk-body">You can choose the vet that you want to do the review.</p>

<!-- Main body -->
<h2 id="whattodo" class="govuk-heading-m">What you need to do</h2>

<ul class="govuk-list">
  <li>1. Check you’re eligible to apply.</li>
  <li>2. Apply for a review.</li>
  <li>3. Set up a review.</li>
  <li>4. Claim your funding.</li>
</ul>

<h2 id="checkeligibility" class="govuk-heading-m">Check you’re eligible to apply</h2>

<p class="govuk-body">You must have a minimum number of animals when the vet visits your farm to do the review. You must have one of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>11 or more beef cattle</li>
  <li>11 or more dairy cattle</li>
  <li>21 or more sheep</li>
  <li>51 or more pigs</li>
</ul>

<p class="govuk-body">The livestock must be registered in England and you must be responsible for their welfare.</p>
<p class="govuk-body">Your business must have a valid Single Business Identifier (SBI) that’s linked to an English County Parish Holding (CPH) number. The CPH number can be permanent or temporary but cannot be an 8000 or 9000 series CPH number.</p>

<p class="govuk-body">If you’ve received the lump sum payment to leave or retire from farming you can still apply for a review.</p>

<h2 id="howmuch" class="govuk-heading-m">How much funding you’ll get</h2>

<p class="govuk-body">You’ll get funding for each livestock type, not for each animal. You’ll get:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>£522 for a beef cattle review</li>
  <li>£372 for a dairy cattle review</li>
  <li>£436 for a sheep review</li>
  <li>£684 for a pig review</li>
</ul>

<p class="govuk-body">The funding amount for each type of livestock is different because:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>testing may take longer for some types of livestock</li>
  <li>some results cost more to analyse</li>
</ul>

<p class="govuk-body">This funding will cover the endemic disease or condition testing costs. It will contribute towards the costs for the vet’s time and your time.</p>

<h2 id="whattoexpect" class="govuk-heading-m">What to expect from a review</h2>

<p class="govuk-body">There’s no set amount of time for a review. It’s likely to take between 2 to 3 hours of your time and the vet’s time. You may choose to ask the vet to spread it over several regular visits to the farm or do it all in one visit.</p>

<p class="govuk-body">You must ask the vet to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>carry out endemic disease or condition testing of the livestock type you’re having reviewed</li>
  <li>advise on the health and welfare of these livestock – including issues such as lameness, body conditioning or mobility scoring</li>
</ul>

<p class="govuk-body">You may also ask the vet to discuss one or both of the following as part of the review:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>biosecurity, including internal and external biosecurity recommendations</li>
  <li>medicine usage, including antibiotics, vaccinations and how you can register and submit data on the
    <a href="https://ahdb.org.uk/medicine-hub" target="_blank">Agriculture and Horticulture Development Board (AHDB) Medicine Hub</a>
  </li>
</ul>

<p class="govuk-body">
  You do not need to discuss both these topics. The review is flexible, focus on what is important for your farm when the vet visits you.
</p>

<p class="govuk-body">You should agree with the vet:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>when they’ll carry out the review</li>
  <li>which optional topics they’ll focus on when they visit</li>
</ul>

<p class="govuk-body">After the review you must ask the vet to give you a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>written report, including recommended follow-up actions and the relevant endemic disease or condition test results from the laboratory</li>
  <li>review summary</li>
</ul>

<h2 id="apply" class="govuk-heading-m">Apply for a review</h2>

<p class="govuk-body">
  You can 
  <a href="/apply/start"> apply for an annual health and welfare review of your livestock.</a>
</p>

<h2 id="setup" class="govuk-heading-m">Set up a review</h2>

<p class="govuk-body">
Once you’ve accepted your agreement offer and received your agreement number, contact the vet to arrange a review.
</p>

<h3 class="govuk-heading-s" id="whattodo-vet">What you need to ask the vet to do</h3>

<p class="govuk-body">Before the review ask the vet to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>read the
  <a href="/apply/guidance-for-vet" target="_blank">guidance on how to carry out an annual health and welfare review of livestock</a>
</li>
<li>read the
  <a href="/apply/guidance-for-vet-technical" target="_blank">guidance on how to carry out disease and endemic condition testing and recommended laboratories </a>
  for the review
</li>
<li>confirm they’re able to do the review</li>
</ul>

<h3 class="govuk-heading-s" id="whattoask-vet">What to ask the vet to test for</h3>

<p class="govuk-body">You must ask the vet to test for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>bovine viral diarrhoea (BVD) in beef cattle</li>
  <li>bovine viral diarrhoea (BVD) in dairy cattle</li>
  <li>the effectiveness of worming treatments in sheep</li>
  <li>porcine reproductive and respiratory syndrome (PRRS) in pigs</li>
</ul>

<p class="govuk-body">
  You must ask them to test the minimum required number of animals for the type of review they’re doing. You should advise them to <a href="/apply/guidance-for-vet-technical">get samples analysed at one of the recommended laboratories.</a>
</p>
<p class="govuk-body">
  To find out more about testing including the minimum required numbers and recommended laboratories, read the <a href="/apply/guidance-for-vet-technical">guidance on how to carry out disease and endemic condition testing.</a>
</p>

<p class="govuk-body">You can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use these review test results for other accreditation schemes you’re a member of</li>
  <li>schedule your review to fit in with your existing testing schedule if you’re already testing for these diseases or conditions to take advantage of the funding</li>
</ul>

<p class="govuk-body">You cannot:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use other accreditation scheme test results for this review funding</li>
  <li>ask the vet to test for other medical conditions or diseases as part of the review</li>
</ul>

<h3 class="govuk-heading-s" id="farm-visit">Farm visit</h3>

<p class="govuk-body">
  The vet will visit the farm to carry out testing and discuss the health and welfare of your livestock. You may also choose to ask the vet to discuss biosecurity measures and medicine usage.
</p>

 <h3 class="govuk-heading-s" id="written-report">Written report</h3>

<p class="govuk-body">
  After the vet has carried out the review, you must ask them to give you a written report. 
</p>
<p class="govuk-body">The written report must include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>endemic disease or condition test results from the laboratory</li>
  <li>advice or suggested species-specific health and welfare actions</li>
  <li>other review findings - for example, biosecurity recommendations and medicine usage</li>
  <li>agreed achievable actions to address issues raised by the review or testing - likely to be 2 to 3 but you can base it on individual needs</li>
</ul>

<p class="govuk-body">
  The report will not be shared with Defra or used for site visits or other compliance checks. It can be digital or paper. 
</p>

<h3 class="govuk-heading-s" id="review-summary">Get evidence the review has taken place</h3>

<p class="govuk-body">
  You must ask the vet to give you a summary of the review. This is evidence that the review took place. You must supply this evidence if the Rural Payments Agency (RPA) asks to see it.
</p>

<p class="govuk-body">The review summary must include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the date of the vet’s last visit to the farm for the review</li>
  <li>the type of livestock reviewed</li>
  <li>how many animals were tested for endemic diseases or conditions – you must ask the vet to test a minimum number of animals for you to receive funding</li>
  <li>the unique reference number for laboratory test results</li>
  <li>the vet’s name and Royal College of Veterinary Surgeons (RCVS) number</li>
  <li>confirmation the minimum number of animals were on the farm when the vet did the review</li>
  <li>confirmation the vet has given you a written report</li>
</ul>

<p class="govuk-body">
  You must ask the vet to sign and date the summary. It can be digital or paper.
</p>


<h2 id="claim" class="govuk-heading-m">Claim funding for a review</h2>

<p class="govuk-body">
  You can claim your funding after the vet has carried out the review and given you:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a written report</li>
  <li>a review summary</li>
</ul>

<p class="govuk-body">You’ll be asked to share the following information:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the date of the vet’s last visit to the farm for the review</li>
  <li>vet’s name and Royal College of Veterinary Surgeons (RCVS) number</li>
  <li>the unique reference number for laboratory test results</li>
</ul>

<p class="govuk-body">
  <a class="govuk-link" href="https://ffc-ahwr-farmer-dev.azure.defra.cloud/claim">Claim funding for an annual health and welfare review</a>
  of your livestock.
</p>

<p class="govuk-body">
  It’s your responsibility to pay the vet when the review is complete.
</p>

<p class="govuk-body">
  You must make sure the review takes place and you claim funding within 6 months of receiving your agreement number.
</p>

<h2 id="gethelp" class="govuk-heading-m">Get help with your application or claim</h2>

<p class="govuk-body">
  If you cannot apply or claim online or have a question about your application or claim, contact the Rural Payments Agency.
</p>
<p class="govuk-body">Have your agreement number with you when you call or include it in your email if you have it.</p>
<ul class="govuk-list">
  <li>Rural Payments Agency</li>
  <li>Telephone: 03000 200 301</li>
  <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
  <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
</ul>
<p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>



{% endblock %}
