{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Review
{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Details are not correct</h1>

      <p class="govuk-body"><a href="https://www.ruralpayments.service.gov.uk/">Sign in to the Rural Payments service</a> to add or update the businesses registered to your account.</p>
      <p class="govuk-body">f you need help, contact the Rural Payments Agency by email or phone.</p>
 


      <p class="govuk-body">Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></p>
        
      <ul class="govuk-list">
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
        <li><a href="https://www.gov.uk/call-charges" target="”_blank”">Find out about call charges</a></li>
      </ul>

    </div>
  </div>





{% endblock %}
