{% extends "layouts/layout.html" %}
{% set serviceName = "Review the health and welfare of your livestock" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <form class="form" action="../disease-status.html" method="get">

      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="rcvs-number">
          How many tests did the vet do?
        </label>
      </h1>
    <p class="govuk-body">You can find this on the summary the vet gave you.</a></p>
    <input class="govuk-input govuk-input--width-2" id="width-2" name="width2" type="text">
  </div>
   

  
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
     
      <!-- autocomplete form end -->


      <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Need more help?
      </span>
    </summary>
    <div class="govuk-details__text">


        <p class="govuk-body">Contact the Rural Payments Agency by email or phone.</p>
        <p class="govuk-body">Email:  <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a><br><br>
     
        Telephone: 03000 200 301 <br>
        Monday to Friday, 8:30am to 5pm, except bank holidays <br>
       
      
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="”_blank”">Find out about call charges</a></p>
      </a></div><a href="https://www.gov.uk/call-charges" target="”_blank”">
    </a></details><a href="https://www.gov.uk/call-charges" target="”_blank”">

  </a></div><a href="https://www.gov.uk/call-charges" target="”_blank”">
</a></div>
</div>
</details>


{% endblock %}
