{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-labs.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="html-publication" lang="en">
          

  <div class="publication-external">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-environment-food-rural-affairs">
      <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
</a>
</div>
        </li>
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/rural-payments-agency">
      <span class="gem-c-organisation-logo__name">Rural Payments <br>Agency</span>
</a>
</div>
        </li>
    </ul>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
  

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl gem-c-title__context">
    Guidance
  </span>


  <h1 class="gem-c-title__text govuk-heading-xl">
    Recommended laboratories to test for bovine viral diarrhoea (BVD) in cattle 
  </h1>
</div>
  <p class="publication-header__last-changed">Published 20 April 2023</p>

  </header>


  
  <section class="gem-c-devolved-nations">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England
</h2>
</section>

<div id="contents">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
          <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#agri-food-and-biosciences-institute-afbi" data-track-options="{&quot;dimension29&quot;:&quot;Agri-food and Biosciences Institute (AFBI)&quot;}" href="#agri-food-and-biosciences-institute-afbi">Agri-food and Biosciences Institute (AFBI)</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#apha-penrith-veterinary-investigation-centre" data-track-options="{&quot;dimension29&quot;:&quot;\nAPHA Penrith Veterinary Investigation Centre&quot;}" href="#apha-penrith-veterinary-investigation-centre">
APHA Penrith Veterinary Investigation Centre</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#apha-scientific" data-track-options="{&quot;dimension29&quot;:&quot;\nAPHA Scientific&quot;}" href="#apha-scientific">
APHA Scientific</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#apha-starcross-veterinary-investigation-centre" data-track-options="{&quot;dimension29&quot;:&quot;\nAPHA Starcross Veterinary Investigation Centre&quot;}" href="#apha-starcross-veterinary-investigation-centre">
APHA Starcross Veterinary Investigation Centre</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#axiom-veterinary-laboratories-ltd" data-track-options="{&quot;dimension29&quot;:&quot;Axiom Veterinary Laboratories Ltd&quot;}" href="#axiom-veterinary-laboratories-ltd">Axiom Veterinary Laboratories Ltd</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#biobest-laboratories" data-track-options="{&quot;dimension29&quot;:&quot;Biobest Laboratories&quot;}" href="#biobest-laboratories">Biobest Laboratories</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#cattle-information-service" data-track-options="{&quot;dimension29&quot;:&quot;Cattle Information Service&quot;}" href="#cattle-information-service">Cattle Information Service</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#farmlab-diagnostics" data-track-options="{&quot;dimension29&quot;:&quot;FarmLab Diagnostics&quot;}" href="#farmlab-diagnostics">FarmLab Diagnostics</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="#national-milk-laboratories-nml" data-track-options="{&quot;dimension29&quot;:&quot;National Milk Laboratories (NML)&quot;}" href="#national-milk-laboratories-nml">National Milk Laboratories (NML)</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="#sruc-veterinary-services" data-track-options="{&quot;dimension29&quot;:&quot;SRUC Veterinary Services&quot;}" href="#sruc-veterinary-services">SRUC Veterinary Services</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 11" data-track-label="#wales-veterinary-science-centre" data-track-options="{&quot;dimension29&quot;:&quot;Wales Veterinary Science Centre&quot;}" href="#wales-veterinary-science-centre">Wales Veterinary Science Centre</a>

        </li>
      </ol>
  </nav>
  
  {% include "includes/print-page.html" %}
    
  
        </div>


    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
    
        <div class="govspeak">
<p>The Rural Payments Agency (<abbr title="Rural Payments Agency">RPA</abbr>) recommends that vets send samples to a laboratory on this list.</p>

<p>These laboratories meet one or more of the following specifications:</p>

<ul>
  <li>ISO/IEC 17025 accredited</li>
  <li>UKAS accredited (UK accredited) for <abbr title="bovine viral diarrhoea">BVD</abbr> testing</li>
</ul>

<p>A farmer will not be eligible for funding unless samples are tested at a laboratory that meets at least one of these specifications.</p>

<p>If you have a question about laboratories used for review testing, or want to be added to this list, contact the <abbr title="Rural Payments Agency">RPA</abbr> by email or phone.</p>

<p>Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>

<p>Telephone: 03000 200 301<br> 
Monday to Friday, 8:30am to 5pm, except bank holidays<br></p>

<p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>

<h2 id="agri-food-and-biosciences-institute-afbi">Agri-food and Biosciences Institute (<abbr title="Agri-food and Biosciences Institute">AFBI</abbr>)</h2>
<div class="contact">
<p>BVD Testing<br> 
AFBI Stormont<br> 
Veterinary Sciences Division<br> 
Stoney Road<br> 
Stormont<br> 
Belfast<br> 
BT4 3SD<br></p>

<p>Telephone: 02890 525 649<br></p>

<p>Email: <a href="mailto:bvd.testing@afbini.gov.uk" class="govuk-link">bvd.testing@afbini.gov.uk</a><br></p>
</div>

<h2 id="apha-penrith-veterinary-investigation-centre">
<abbr title="Animal and Plant Health Agency">APHA</abbr> Penrith Veterinary Investigation Centre</h2>
<div class="contact">
<p>Merrythought<br> 
Calthwaite<br> 
Penrith<br> 
Cumbria<br> 
CA11 9RR<br></p>

<p>Telephone: 03000 600012<br></p>

<p>Email: <a href="mailto:penrith@apha.gov.uk" class="govuk-link">penrith@apha.gov.uk</a><br></p>
</div>

<h2 id="apha-scientific">
<abbr title="Animal and Plant Health Agency">APHA</abbr> Scientific</h2>
<div class="contact">
<p>Woodham Lane<br> 
New Haw<br> 
Addlestone<br> 
KT15 3NB<br></p>

<p>Telephone: 03000 600001<br></p>

<p>Email: <a href="mailto:aphascientific@apha.gov.uk" class="govuk-link">aphascientific@apha.gov.uk</a><br></p>
</div>

<h2 id="apha-starcross-veterinary-investigation-centre">
<abbr title="Animal and Plant Health Agency">APHA</abbr> Starcross Veterinary Investigation Centre</h2>
<div class="contact">
<p>Staplake Mount<br> 
Starcross<br> 
Devon<br> 
EX6 8PE<br></p>

<p>Telephone: 03000 600020<br></p>

<p>Email: <a href="mailto:starcross@apha.gov.uk" class="govuk-link">starcross@apha.gov.uk</a><br></p>
</div>

<h2 id="axiom-veterinary-laboratories-ltd">Axiom Veterinary Laboratories Ltd</h2>
<div class="contact">
<p>Manor House<br> 
Brunel Rd<br> 
Newton Abbot<br> 
TQ12 4PB<br></p>

<p>Telephone: 01626 355655<br></p>

<p>Email: <a href="mailto:admin@axiomvetlab.co.uk" class="govuk-link">admin@axiomvetlab.co.uk</a><br></p>
</div>

<h2 id="biobest-laboratories">Biobest Laboratories</h2>
<div class="contact">
<p>6 Charles Darwin House<br> 
The Edinburgh Technopole<br> 
Milton Bridge<br> 
EH26 0PY<br></p>

<p>Telephone: 0131 440 262<br></p>

<p>Email: <a href="mailto:enquiry@biobest.co.uk" class="govuk-link">enquiry@biobest.co.uk</a><br></p>
</div>

<h2 id="cattle-information-service">Cattle Information Service</h2>
<div class="contact">
<p>Speir House<br> 
Stafford Park 1<br>
Telford<br> 
Shropshire<br> 
TF3 3BD<br></p>

<p>Telephone: 01923 695319<br></p>

<p>Email: <a href="mailto:info@thecis.co.uk" class="govuk-link">info@thecis.co.uk</a><br></p>
</div>

<h2 id="farmlab-diagnostics">FarmLab Diagnostics</h2>
<div class="contact">
<p>Emlagh Lodge<br> 
Elphin<br> 
Co Roscommon<br> 
F45 VW89<br></p>

<p>Telephone: 071 963 0792<br></p>

<p>Email: <a href="mailto:info@farmlab.ie" class="govuk-link">info@farmlab.ie</a><br></p>
</div>

<h2 id="national-milk-laboratories-nml">National Milk Laboratories (<abbr title="National Milk Laboratories">NML</abbr>)</h2>
<div class="contact">
<p>Hillington Facility<br> 
32 Kelvin Avenue<br> 
Hillington Park<br> 
Glasgow<br> 
G52 4LT<br></p>

<p>Wolverhampton Facility (including transport)<br> 
Laches Close<br> 
Calibre Business Park<br> 
Four Ashes<br> 
Wolverhampton<br> 
WV10 7DZ<br></p>

<p>Telephone: 01902 749920<br></p>

<p>Email: <a href="mailto:milk@nmrp.com" class="govuk-link">milk@nmrp.com</a><br></p>

<p>Web: <a href="https://www.nmr.co.uk/" class="govuk-link">www.nmr.co.uk</a><br></p>
</div>

<h2 id="sruc-veterinary-services">SRUC Veterinary Services</h2>
<div class="contact">
<p>Health Schemes<br> 
Greycrook<br> 
St Boswells<br> 
Roxburghshire<br> 
TD6 0EQ<br></p>

<p>Telephone: 01835 822456<br></p>

<p>Email: <a href="mailto:pchs1@btconnect.com" class="govuk-link">pchs1@btconnect.com</a><br></p>
</div>

<h2 id="wales-veterinary-science-centre">Wales Veterinary Science Centre</h2>
<div class="contact">
<p>Buarth<br> 
Aberystwyth<br> 
Ceredigion<br> 
SY23 1ND<br></p>

<p>Telephone: 01970 612374<br></p>

<p>Contact form: <a href="https://www.wvsc.wales/#contact" class="govuk-link">www.wvsc.wales/#contact</a><br></p>
</div>

</div>


</div>
</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
</a>

  </div>
</div>


    </main>


{% endblock %}
