{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="html-publication" lang="en">
          

  <div class="publication-external">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-environment-food-rural-affairs">
      <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
</a>
</div>
        </li>
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/rural-payments-agency">
      <span class="gem-c-organisation-logo__name">Rural Payments <br>Agency</span>
</a>
</div>
        </li>
    </ul>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
  

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl gem-c-title__context">
    Guidance
  </span>


  <h1 class="gem-c-title__text govuk-heading-xl">
    Vets: test for porcine reproductive and respiratory syndrome (PRRS) in pigs
  </h1>
</div>
  <p class="publication-header__last-changed">Published 20 April 2023</p>

  </header>


  
  <section class="gem-c-devolved-nations">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England
</h2>
</section>

<div id="contents">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
          <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#test-type-and-sampling" data-track-options="{&quot;dimension29&quot;:&quot;Test type and sampling&quot;}" href="#test-type-and-sampling">Test type and sampling</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#test-sample-laboratory-analysis" data-track-options="{&quot;dimension29&quot;:&quot;Test sample laboratory analysis&quot;}" href="#test-sample-laboratory-analysis">Test sample laboratory analysis</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#test-results" data-track-options="{&quot;dimension29&quot;:&quot;Test results&quot;}" href="#test-results">Test results</a>

        </li>
      </ol>
  </nav>
  
  {% include "includes/print-page.html" %}
    
  
        </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
    
        <div class="govspeak">
<h2 id="test-type-and-sampling">Test type and sampling</h2>

<p>We recommend you use an enzyme-linked immunosorbent assay (<abbr title="enzyme-linked immunosorbent assay">ELISA</abbr>) or porcine reproductive and respiratory syndrome (<abbr title="porcine reproductive and respiratory syndrome">PRRS</abbr>) polymerase chain reaction (<abbr title="polymerase chain reaction">PCR</abbr>) test.</p>

<p>You should sample 30 pigs.</p>

<p>Sequencing is not paid for as part of the review.</p>

<h2 id="test-sample-laboratory-analysis">Test sample laboratory analysis</h2>

<p>Send the test sample for analysis to a laboratory that meets one or more of these specifications:</p>

<ul>
  <li>ISO/IEC 17025 accredited</li>
  <li>UKAS accredited (UK accredited) for an <abbr title="enzyme-linked immunosorbent assay">ELISA</abbr> or <abbr title="porcine reproductive and respiratory syndrome">PRRS</abbr> <abbr title="polymerase chain reaction">PCR</abbr> test</li>
</ul>

<p>A farmer will not be eligible for funding unless samples are tested at a laboratory that meets at least one of these specifications.</p>

<p><a rel="external" href="https://draft-origin.publishing.service.gov.uk/government/publications/pigs-testing-required-for-an-annual-health-and-welfare-review/recommended-laboratories-to-test-for-porcine-reproductive-and-respiratory-syndrome-prrs-in-pigs" class="govuk-link">Find a recommended laboratory to test for <abbr title="porcine reproductive and respiratory syndrome">PRRS</abbr> in pigs</a>.</p>

<h2 id="test-results">Test results</h2>

<p>You should:</p>

<ul>
  <li>discuss the test results and any further action with the farmer as part of the review</li>
  <li>include test results in the written report you give to the farmer with appropriate recommendations</li>
</ul>

<p>The farmer can use the test results for other accreditation schemes they are a member of. The farmer should check with the accreditation scheme that they’ll accept testing from the review.</p>

</div>


</div>
</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
</a>

  </div>
</div>


    </main>



{% endblock %}
