{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="publication" lang="en">
          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
  
  <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  
  
    <h1 class="gem-c-title__text govuk-heading-l">
      Sheep: testing required for an annual health and welfare review
    </h1>
  </div>
    </div>
    
  
    <div class="govuk-grid-column-two-thirds">
        <p class="gem-c-lead-paragraph">Follow this guidance when you test for the effectiveness of worming treatments in sheep as part of an annual health and welfare review.</p>
  
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
    <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <aside class="navigation-container">
            <br>
            <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>
  
        </dd>
    </dl>
  </div>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
  

  
  
  
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="responsive-bottom-margin">
          
    <section class="gem-c-devolved-nations">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
        Applies to England
  </h2>
  </section>
  
        <div class="responsive-bottom-margin">
            <section id="documents">
      <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">Documents</h2>
  
  
        
  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
      
          <section class="attachment embedded" data-ga4-attachment-link="" id="attachment_7294716">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="../technical/sheep-lab-1.html"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
    <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="../technical/sheep-lab-1.html">Vets: test for the effectiveness of worming treatments in sheep</a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>
  
  
    </div>
  </section><section class="attachment embedded" data-ga4-attachment-link="" id="attachment_7294808">
    <div class="attachment-thumb">
        <a aria-hidden="true" class="thumbnail" tabindex="-1" href="../technical/sheep-lab-2.html"><svg version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
    <path d="M30,95h57v9H30V95z M30,77v9h39v-9H30z M30,122h48v-9H30V122z M12,68h9v-9h-9V68z M12,104h9v-9h-9V104z M12,86h9v-9h-9V86z   M12,122h9v-9h-9V122z M87,12v27H12V12H87z M33,17h-4v8h-6v-8h-4v18h4v-7l6,0v7l4,0V17z M49,17H35l0,3h5v15h4V20l5,0V17z M68,17h-4  l-5,6l-5-6h-4v18h4l0-12l5,6l5-6l0,12h4V17z M81,32h-6V17h-4v18h10V32z M30,68h57v-9H30V68z" stroke-width="0"></path>
  </svg>
  </a>
    </div>
    <div class="attachment-details">
      <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular"><a class="govuk-link" href="../technical/sheep-lab-2.html">Recommended laboratories to carry out a Worming Treatment Check test in sheep </a></h3>
      <p class="govuk-body metadata">
          <span class="type">HTML</span>
      </p>
  
  
    </div>
  </section>
  
  </div>
    </section>
  
  
          <section id="details">
            <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">Details</h2>
  
  
            
  <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak" data-govspeak-module-started="true">
      
              <div class="govspeak">
  <p>A vet or a team chosen by a vet can test for the effectiveness of worming treatments in sheep as part of the review.</p>
  
  <p>When you carry out testing, you should:</p>
  
  <ul>
    <li>follow the guidance for testing sheep</li>
    <li>use a laboratory that meets the specifications for review testing</li>
  </ul>
  
  <p>A farmer will not be eligible for funding unless you do both of these things.</p>
  
  <p>The guidance tells you:</p>
  
  <ul>
    <li>which tests to carry out</li>
    <li>the minimum number of sheep required for testing</li>
    <li>the sample analysis requirements</li>
  </ul>
  
<p>Read the guidance on <a rel="external" href="/v15/vet/guidance">how to carry out an annual health and welfare review of livestock</a> guidance before you read this guidance on testing.</p>
  
  <p>There’s also guidance for other species:</p>
  
  <ul>
    <li><a rel="external" href="../technical/cattle-test.html" class="govuk-link">Cattle: testing required for an annual health and welfare review</a></li>
    <li><a rel="external" href="../technical/pigs-test.html" class="govuk-link">Pigs: testing required for an annual health and welfare review</a></li>
  </ul>
  </div>
  
  </div>
          </section>
        </div>
        
  
  <div class="published-dates-button-group">
    <div class="govuk-!-display-none-print govuk-!-margin-bottom-3" data-module="gem-track-click" data-gem-track-click-module-started="true">
    <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/government/publications/sheep-testing-required-for-an-annual-health-and-welfare-review" data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button" data-button-location="bottom" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
      <input type="hidden" name="base_path" value="/government/publications/sheep-testing-required-for-an-annual-health-and-welfare-review">

  </form>
  </div>
    
  <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    {% include "includes/print-page.html" %}

  </div>
  </div>
  
  
      </div>
    </div>
    
  <div class="govuk-grid-column-one-third">
    
  <div class="gem-c-contextual-sidebar">
  
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
        <h2 id="related-nav-related_items-5f25932a" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>
  
  
  
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-5f25932a" data-module="gem-toggle" data-gem-toggle-module-started="true">
  
      <h3 id="related-nav-collections-5f25932a" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>
  
    <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/annual-health-and-welfare-review-of-livestock" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Annual health and welfare review of livestock&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}" href="../v15/landing-page">Annual health and welfare review of livestock</a></li>
  
    </ul>
  </nav>
  
  </div>
  
  
  </div>
  
  </div>
  
  </div>
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          
    <div class="gem-c-contextual-footer">
      
    </div>
  
  
      </div>
    </div>
  
  
  
      </main>




{% endblock %}
