{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-    two-thirds">
    <h1 class="govuk-heading-l">You cannot continue with your claim at this time</h1>
    <p class="govuk-body">The number of animals you have entered does not meet the minimum required for the  type of review you are claiming for. </p>
    <h2 class="govuk-heading-m">What to do next</h2>
    <h3 class="govuk-heading-s">If the vet has not tested the minimum required number of animals</h3>
    <p class="govuk-body">Ask the vet to carry out testing again on the minimum number.</p>
    <p class="govuk-body">Ask the vet to test additional animals to reach the minimum required number.</p>
    <p class="govuk-body">The number required for each species is included in the guidance:</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-cattle">cattle: testing required for an annual health and welfare review</a>
      </li>
      <li>
        <a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-sheep">sheep: testing required for an annual health and welfare review</a>
      </li>
      <li>
        <a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-pigs">pigs: testing required for an annual health and welfare review</a>
      </li>
    </ul>
    <p class="govuk-body">When the vet has tested the required number, start your claim again.</p>
    <h3 class="govuk-heading-s">If you have entered the wrong number</h3>
    <p class="govuk-body"> You’ll need to start your claim again and enter the correct number.</p>
    <h2 class="govuk-heading-m">Get help with your claim</h2>
    <p class="govuk-body">If you need help, contact the Rural Payments Agency by email or phone.</p>
    <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
    <p class="govuk-body">Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm, except bank holidays</p>
    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new tab)</a></p>
    <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>
  </div>
</div>

{% endblock %}
