{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
    <p class="govuk-body">You’re only eligible for funding if the vet tests the minimum required number of animals for the type of review you’re having.</p>
    <h2 class="govuk-heading-m">What to do next</h2>
    <p class="govuk-body">Contact the vet and ask them to <a href="#" class="govuk-link">read the guidance on How to carry out an annual health and welfare review of livestock</a>.  This includes the number of animals they must test.</p>
    <p class="govuk-body">If you need help, contact the Rural Payments Agency by email or phone.</p>
    <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
    <p class="govuk-body">Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm, except bank holidays</p>
    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new tab)</a></p>
    <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>
  </div>
</div>

{% endblock %}
