{% extends "layouts/layout.html" %}

{% block pageTitle %}
Eligible organisations you have access to
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link govuk-!-margin-bottom-0" href="../applications">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Application HDJ2124F
    </h1>

    <h2 class="govuk-heading-l">
      Mill Farm
      <strong class="govuk-tag govuk-tag--green">
        Applied
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          107264765
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          CPH number:
        </dt>
        <dd class="govuk-summary-list__value">
          12/185/8954
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Edit<span class="govuk-visually-hidden">CPH</span>
          </a>
        </dd>
      </div>
-->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Cotton Drive, Mill Hill, Linford, Hitchin SG5 3DR
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>r.patel@gmail.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
    </dl>

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Application
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#reviewed">
            Vet Review
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#paid">
            Payment
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l">Applied</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/08/2022</td>
              <td class="govuk-table__cell">Detail correct?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/08/2022</td>
              <td class="govuk-table__cell">Review type</td>
              <td class="govuk-table__cell">Sheep</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/08/2022</td>
              <td class="govuk-table__cell">Lifestock number</td>
              <td class="govuk-table__cell">At least 21</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/08/2022</td>
              <td class="govuk-table__cell">T&Cs agreed?</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reviewed">
        <h2 class="govuk-heading-l">Not yet reviewed</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l">Not yet able to claim</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="paid">
        <h2 class="govuk-heading-l">Not yet paid</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Data requested</th>
              <th scope="col" class="govuk-table__header">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
    
      </div>
    </div>


  </div>
</div>

{% endblock %}
