{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding to improve animal health and welfare
{% endset%}



{% block content %}

<main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m" style="margin-bottom: 8px;">Arthington Farm</h2>
          <p class="govuk-body sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 234567890</p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m" style="float:right; margin-bottom: 8px;">Finn Williams</h2>
          <p class="govuk-body sbi-number" style="float:right; margin-bottom: 8px;"><a
              href="../apply/business-2.html">Claim for a different business</a></p>
        </div>
    </main>
    <hr>



    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <h2 class="app-task-list">
              <ol class="app-task-list">


                





                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                    <h1 class="govuk-heading-xl">Manage your claims</h1>
                  </span>
                </li>

                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                        <span class="govuk-caption-m">Agreement number:IAHW-9154-88277 </span>
                      </span>
                </li>


                <li>


                  
                  <h2 class="app-task-list__section">

                  
                    <h2 class="app-task-list__section">
                      <span class="app-task-list__section-number"> </span>
                  <div class="govuk-button-group">
                    <a href="../claim/which-review-annual.html" class="govuk-button" data-module="govuk-button">
                     Start a new claim
                    </a>
                

                  </div>

                </li>


                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number"> </span> Your previous claims
                  </h2>
                </li>
                <ul class="app-task-list__items">

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                      <a href="../beef-cattle-application">AHWR-9325-1786 – beef cattle livestock review
                      </a>
                   
                          </span>
                          <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-details-status">Paid</strong>
                    </span>
                  </li>
                  
                  

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                      <a href="../beef-cattle-application">AHWR-4758-0697 – beef cattle livestock review
                      </a>
                   
                          </span>
                          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Rejected</strong>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                      <a href="../beef-cattle-application">AHWR-6784-9846 – beef cattle endemics follow-up
                      </a>
                   
                          </span>
                          <strong class="govuk-tag govuk-tag-- app-task-list__tag" id="contact-details-status">Claim approved</strong>
                    </span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                       <a href="../beef-cattle-application">AHWR-3452-8695 – beef cattle livestock review
                      </a>
                
                          </span>
                          <strong class="govuk-tag govuk-tag-- app-task-list__tag" id="contact-details-status">Claim approved</strong>
                    </span>
                  </li>
       
  
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">More information </span>
                        </h2>
                        <p class="govuk-body-m"><a href="#">Terms and conditions</a> </p>
                          <p class="govuk-body-m"><a href="#">Guidance for funding to improve animal health and welfare</a></p>
                          <p class="govuk-body-m"><a href="#">Agreement summary</a></p>
                        
                    

                    </span>
                  </div>



                </ul>









              </ol>




    </main>











    {% endblock %}