{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection-2.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<style>
  .navigation-container {
    padding: 20px 0 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b1b4b6
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>
    <span class="govuk-caption-xl gem-c-title__context govuk-!-margin-top-9">Collection</span>
    <h1 class="govuk-heading-xl">
      Get funding to improve animal health and welfare
    </h1>
    </div>

    <p class="govuk-body govuk-!-font-size-24">
      Cattle, sheep and pig farmers can get funding for a vet to test animals for diseases and advise on improving animal welfare and productivity.
    </p>

    <aside class="navigation-container">
    <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>

  </div>
</div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">This service provides funding for a vet, or team chosen by a vet, to visit a farm and help to improve animal welfare and productivity. </p>

    <p class="govuk-body">There are 2 parts to the service. The first part is the review which will help assess the health and condition of your livestock. The second part is the follow-up, which builds on a review to identify endemic diseases.</p>

    <p class="govuk-body">A review and follow-up will help:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>reduce endemic diseases and conditions</li>
    <li>increase animal productivity</li>
    <li>improve animal welfare</li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="farmers">Farmers</h2>

    <p class="govuk-body">Read the guidance to find out:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>if you’re eligible for a review or follow-up</li>
    <li>how much funding you can get</li>
    <li>what you must ask the vet to do when they’re visiting your farm</li>
    <li>how to claim funding</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--s">

<div class="govuk-!-margin-bottom-6">
  <ul class="gem-c-document-list">
    <li class="gem-c-document-list__item  ">

      <a class="gem-c-document-list__item-title   govuk-link" href="/v29/farmer/guidance-apply">How to apply for funding to improve animal health and welfare</a>



        <ul class="gem-c-document-list__item-metadata">

              <li class="gem-c-document-list__attribute">
                  <time datetime="2016-06-27T10:29:44+00:00">
                    10 May 2023
                  </time>
</li>
              <li class="gem-c-document-list__attribute">
                Guidance
</li>          </ul>


    </li>
    <li class="gem-c-document-list__item  ">

      <a class="gem-c-document-list__item-title   govuk-link" href="/v29/farmer/guidance-visit.html">What happens on an animal health and welfare review or endemic disease follow-up</a>




        <ul class="gem-c-document-list__item-metadata">

              <li class="gem-c-document-list__attribute">
                  <time datetime="2015-09-24T16:42:48+00:00">
                    17 May 2023
                  </time>
</li>
              <li class="gem-c-document-list__attribute">
                  Guidance
</li>          </ul>

<li class="gem-c-document-list__item  ">

<a class="gem-c-document-list__item-title   govuk-link" href="/v29/farmer/guidance-claim-ur-sheep-endemics.html">How to claim funding to improve animal health and welfare</a>



  <ul class="gem-c-document-list__item-metadata">

        <li class="gem-c-document-list__attribute">
            <time datetime="2015-09-24T16:42:48+00:00">
              17 May 2023
            </time>
</li>
        <li class="gem-c-document-list__attribute">
            Guidance
</li>          </ul>
  </div>

    <h2 class="govuk-heading-m govuk-!-font-size-27" id="vets">Vets</h2>

    <p class="govuk-body">Guidance on how to do an animal health and welfare review and endemic disease follow-up.</p>

    {% include "includes/publisher/vet-document-list-vet-visits-2.html" %}


  </div>


</div>



{% endblock %}
