{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Index page
{% endblock %}
{% set serviceName %}
  Review the health and welfare of your livestock 
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary" style="display: none;">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#" id="error-summary-link">Select a vaccination status</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="urn">
        What is the herd vaccination status?
        </label>
      </h1>
      <div id="passport-number-hint" class="govuk-hint">
        You can find this on the summary the vet gave you.
      </div>

      <div id="validation-error" class="govuk-error-message" style="display: none;">
        <span class="govuk-visually-hidden">Error:</span>Select a test result
      </div>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Vaccinated
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            Not vaccinated
          </label>
        </div>
      </div>
      <br>

      {{ govukButton({
        text: "Continue",
        href: "test-reference"
      
        }) }}
    </div>
  </div>
</div>


{% endblock %}
