{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for an Annual Health and Welfare Review
{% endblock %}
{% set serviceName %}Annual health and welfare review of livestock{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">Defra ID Exceptions (Apply)</h1>
  
          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 1 
              </dt>
              <dd class="govuk-summary-list__value">
                Do not have access permissions 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/one-business/exception-1.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 2
              </dt>
              <dd class="govuk-summary-list__value">
                No agreement for this business/ business has not applied
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/one-business/exception-2.html">
                  Link here<span class="govuk-visually-hidden"> sbi</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 3
              </dt>
              <dd class="govuk-summary-list__value">
                No eligible County Parish Holding registered to CRN
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/one-business/exception-3.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 4 (multiple businesses)
              </dt>
              <dd class="govuk-summary-list__value">
                Do not have access permissions 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/multiple-business/exception-1.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 5 (multiple businesses)
              </dt>
              <dd class="govuk-summary-list__value">
                No agreement for this business/ business has not applied
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/multiple-business/exception-2.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exception 6 (multiple businesses)
              </dt>
              <dd class="govuk-summary-list__value">
                No eligible County Parish Holding registered to SBI
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../defraid-exceptions-apply/multiple-business/exception-3.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
      
            
          </dl>
  
     
  
          </form>
  
        </div>
      </div>
    </main>
  </div>


{% endblock %}
