{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Review the health and welfare of your livestock{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li id="validation-error-item">
              <a href="#eligibility-bps">Date of testing must include a day</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form class="form" method="POST">
      <div class="govuk-form-group govuk-form-group--error">

<h1 class="govuk-heading-l">When was endemic disease or condition testing carried out?</h1>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          </legend>

          <div id="changed-name-hint" class="govuk-hint">
           This is the date the vet completed testing.
          </div>
          





          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email"
                data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
              When the vet visited the farm for the review
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                On another date
              </label>
              
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-date-input" id="when-review">
                <p id="validation-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>Date of testing must include a day
                </p>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="when-review-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-review-day"
                      name="when-review-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="when-review-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-review-month"
                      name="when-review-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="when-review-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="when-review-year"
                      name="when-review-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
        </fieldset>
      </div>





          <p class="govuk-body govuk-!-margin-top-4">
            <!--
                <input class="govuk-button" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                -->
            {{ govukButton({
            text: "Continue",
            href: "beef-numbers"
            
            }) }}
    </form>
  </div>
</div>

{% endblock %}
