{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
            {% set serviceName %}
Livestock health and welfare
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"></span>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
      This updated service is for farmers who:
      </p>
      <h1 class="govuk-heading-m list govuk-list--bullet"><li>are new to the scheme</li></h1>
      <h1 class="govuk-heading-m list govuk-list--bullet"><li>already have an agreement in the old schemes</li></h1>
    </div>
  </div>

    <h1 class="govuk-heading-xl">
Claim funding for a livestock health and welfare review or follow-up 
    </h1>

    <p>Use this service to claim funding for a vet to visit your farm to improve the health and welfare of your livestock and help reduce diseases.</p>

    <p>If you’re eligible, you can claim for:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-12">
      <li>a livestock health and welfare review</li>
      <li>a follow-up</li>
    </ul>

      <h2 class="govuk-heading-m">If you already have an agreement in the old scheme</h2>
      <p class="govuk-heading-body">If you have claimed for your last review, start now to sign an agreement for the new scheme.</p>
  
      <p class="govuk-heading-body">If you have not claimed for your last review, start now to either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>claim for your last review</li>
        <li>withdraw your old agreement</li>
      </ul>

    <p>Claiming takes about 5 minutes.</p>

    {{ govukButton({
      text: "Start now",
      href: "defra-id",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You’ll need your Rural Payments service customer reference number (CRN) and password to sign in.</p>
    <p>You must be eligible to claim. Read the guidance on <a href= "../farmer/guidance-claim.html">how to claim funding</a> before you use this service.</p>

    <h2 class="govuk-heading-m">Get help with your claim</h2>
      <p>If you cannot claim online or have a question about your claim, contact the Rural Payments Agency.</p>
      <p>You will need to give your agreement number.</p>
      <ul class="govuk-list">
        <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
        <br>
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>

      </ul>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    
{% endblock %}
