{% extends "layouts/layout.html" %}
{% set serviceName = "Review the health and welfare of your livestock" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="../sheep-endemics/disease.html" method="get" onsubmit="return validateForm()">
      <div class="govuk-error-summary" data-module="govuk-error-summary" style="display: none;">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#" id="error-summary-link">Select a disease-focused package</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="rcvs-number">
            Which disease-focused package did you choose?
          </label>
        </h1>
        <div id="waste-hint" class="govuk-hint">
          You can find this on the summary the vet gave you.
        </div>
        
        <div id="validation-error" class="govuk-error-message" style="display: none;">
          <span class="govuk-visually-hidden">Error:</span>Select a disease-focused package
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="business" name="business" type="radio" value="business1">
                <label class="govuk-label govuk-radios__label" for="business-1">Improved ewe performance
                </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="business" name="business" type="radio" value="business2">
                  <label class="govuk-label govuk-radios__label" for="business-2">Improved reproductive performance
                  </label>
                  </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="business" name="business" type="radio" value="business3">
                <label class="govuk-label govuk-radios__label" for="business-3">Improved lamb performance
                </label>
                </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="business" name="business" type="radio" value="business4">
                <label class="govuk-label govuk-radios__label" for="business-4">Reduced level of neonatal lamb disease
                </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="business" name="business" type="radio" value="business4">
                  <label class="govuk-label govuk-radios__label" for="business-4">Reduced level of external parasites
                  </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="business" name="business" type="radio" value="business4">
                    <label class="govuk-label govuk-radios__label" for="business-4">Reduced level of lameness
                    </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="business" name="business" type="radio" value="business4">
                      <label class="govuk-label govuk-radios__label" for="business-4">Reduced level of mastitis
                      </label>
                      </div>
              <!-- options -->
              <!-- Repeat for other options -->
            </div>
          </fieldset>
        </div>

        <!-- Your other content goes here -->

      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Need more help?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Contact the Rural Payments Agency by email or phone.</p>
        <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a><br><br>
          Telephone: 03000 200 301 <br>
          Monday to Friday, 8:30 am to 5 pm, except bank holidays <br>
          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a></p>
        </p>
      </div>
    </details>
  </div>
</div>

<script>
  function validateForm() {
    var selectedRadio = document.querySelector('input[name="business"]:checked');
    var errorSummary = document.querySelector('.govuk-error-summary');
    var errorSummaryLink = document.getElementById('error-summary-link');
    var formGroup = document.querySelector('.govuk-form-group');

    // Check if at least one radio button is selected
    if (!selectedRadio) {
      errorSummary.style.display = 'block';
      errorSummaryLink.innerText = 'Select a disease-focused package';
      formGroup.classList.add('govuk-form-group--error');
      document.getElementById('validation-error').style.display = 'block';
      return false;
    }

    // If radio button is selected, remove error class and allow form submission
    formGroup.classList.remove('govuk-form-group--error');
    document.getElementById('validation-error').style.display = 'none';
    return true;
  }
</script>

{% endblock %}
