{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>


        <h1 class="gem-c-title__text govuk-heading-l">
          What happens on a [scheme name] visit
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="gem-c-lead-paragraph">Guidance on what happens when a vet visits your farm to carry out a livestock
        health and welfare review and endemic disease follow-up.</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true"
          data-metadata-module-started="true">
          <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
            <hr class="govuk-section-break govuk-section-break--m">
            <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold"
                href="/government/organisations/department-for-environment-food-rural-affairs">Department for
                Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold"
                href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>
            <dd class="gem-c-metadata__definition">
            </dd>
          </dl>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <section class="gem-c-devolved-nations">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England
        </h2>
      </section>

      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container"
        data-sticky-element-container-module-started="true">
        <div class="responsive-bottom-margin">
          <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation"
            data-gem-track-click-module-started="true">
            <h2 class="gem-c-contents-list__title">
              Contents
            </h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                  data-track-category="contentsClicked" data-track-action="content_item 1"
                  data-track-label="#what-the-review-is"
                  data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}"
                  href="#livestock-health">Livestock health and welfare review</a>

              </li>
      

              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                  data-track-category="contentsClicked" data-track-action="content_item 9"
                  data-track-label="#apply-for-a-review"
                  data-track-options="{&quot;dimension29&quot;:&quot;Apply for a review&quot;}"
                  href="#endemic-disease-2">Endemic disease follow-ups</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline"
                  data-track-category="contentsClicked" data-track-action="content_item 11"
                  data-track-label="#get-help-with-your-application"
                  data-track-options="{&quot;dimension29&quot;:&quot;Get help with your application&quot;}"
                  href="#get-help-visit-2">Get help with your visit</a>

              </li>
            </ol>
          </nav>
        </div>


        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link"
            data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}"
            data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
        </div>


        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

          <div class="govspeak">
            <h2 id="livestock-health">Livestock health and welfare review</h2>

            <p>This is the first part of the [scheme name] which will help asess the health and condition of your
              livestock. You must have an agreement in place before the vet visits your farm to carry out a livestock
              health and welfare review or endemic disease follow-up.</p>

            <h3 id="vet-to-do">What you must ask the vet to do</h3>

            <ol class="steps">
              <li>
                <p>Visit your farm and take samples for the recommended testing of the one livestock type that you’re
                  having reviewed:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>bovine viral diarrhoea (BVD) in dairy and beef cattle</li>
                  <li>effectiveness of worming treatments in sheep</li>
                  <li>porcine reproductive and respiratory syndrome (PRRS) in pigs</li>
                </ul>
              </li>
              <li>
                <p>Advise on the health and welfare of these livestock - examples could include lameness or body
                  condition.</p>
              </li>
              <li>
                <p>Give you a written report after the review, including recommended follow-up actions or other observed
                  symptoms or condtions.</p>
              </li>
              <li>
                <p>Give you a summary of the review that you can use as evidence if the Rural Payments Agency (RPA)
                  requests it when you claim.</p>
              </li>
            </ol>

            <h3 id="what-a-review-can-include">How long the review takes</h3>

            <p>There’s no set amount of time for a review, but it’s likely to take between 2 and 3 hours of your time
              and the vet’s time. You may ask the vet to spread it over several regular visits to the farm or do it in a
              single visit.</p>

            <h3 id="how-the-review-works">Discuss the health and welfare of your livestock</h3>

            <p>You should discuss any issues on your farm and the vet can make recommendations on how to help and what
              to do next. Examples may include reviewing biosecurity and medicine usage, and discussing any disease
              concerns you have. Your vet can advise you on what to focus on.</p>

            <h3 id="during-the-review">During the review farm visit</h3>

            <p>During the visit, you must ask the vet to carry out sampling for the required testing, and to give you
              health and welfare advice about your livestock. You may also discuss topics such as biosecurity or
              medicine usage.</p>

            <h3 id="required-testing">Required testing</h3>

            {% from "govuk/components/table/macro.njk" import govukTable %}

            {{ govukTable({
            captionClasses: "govuk-table__caption--m",
            classes: "govuk-body !important",
            firstCellIsHeader: false,
            rows: [
            [
            {
            text: "Species",
            classes: "govuk-body govuk-!-font-weight-bold"
            },
            {
            text: "Test type",
            classes: "govuk-body govuk-!-font-weight-bold"
            },
            {
            text: "
            Minimum number of samples taken from
            ",
            classes: "govuk-body govuk-!-font-weight-bold"
            }
            ],
            [
            {
            text: "Beef cattle",
            classes: "govuk-body"
            },
            {
            text: "Bovine viral diarrhoea (BVD) blood (serum antibody test)",
            classes: "govuk-body"
            },
            {
            text: "5 unvaccinated cattle aged 9 to 18 months per management group in up to 2 groups",
            classes: "govuk-body"
            }
            ],
            [
            {
            text: "Dairy cattle",
            classes: "govuk-body"
            },
            {
            text: "Bovine viral diarrhoea (BVD) bulk milk test. The farmer can take the bulk milk sample without the
            vet, if confident in doing so.",
            classes: "govuk-body"
            },
            {
            text: "A representative milk sample from the bulk tank ",
            classes: "govuk-body"
            }
            ],
            [
            {
            text: "Sheep",
            classes: "govuk-body"
            },
            {
            text: "Worming treatment check",
            classes: "govuk-body"
            },
            {
            text: "Minimum of 10 lambs less than 12 months old (If you have less than 10 lambs on your farm, you can
            still apply, but you must test all lambs in your flock)",
            classes: "govuk-body"
            }
            ],
            [
            {
            text: "Pigs",
            classes: "govuk-body"
            },
            {
            text: "Enzyme-linked immunosorbent assay (ELISA)",
            classes: "govuk-body"
            },
            {
            text: "Minimum of 30 pigs sampled using 5 oral fluid ropes",
            classes: "govuk-body"
            }
            ]
            ]
            }) }}

            <p>You can:</p>

            <ul>
              <li>use these review test results for other accreditation schemes you’re a member of - you’ll need to
                check with the accreditation scheme that they will accept testing from the review</li>
              <li>schedule your review to fit in with your existing testing schedule if you’re already testing for these
                diseases or conditions to take advantage of the funding</li>
            </ul>

            <p>You cannot:</p>

            <ul>
              <li>use other accreditation scheme test results for this review funding</li>
              <li>ask the vet to test for other medical conditions or diseases as part of the review</li>
              <li>use testing from on or after your agreement start date. This must be during or after the first time
                the vet visits your farm, and before you claim </li>
            </ul>

            <p>You’ll only be eligible for funding if the vet:</p>

            <ul>
              <li>samples the required number of animals for the type of review they’re doing</li>
              <li>gets samples tested at a laboratory that meets the standard for review testing</li>
            </ul>

            <p>To find out more about testing including the minimum required numbers and specifications a laboratory
              needs to meet, read the guidance:</p>

            <ul>
              <li><a rel="external" href="../vet/guidance/technical/cattle-test.html" class="govuk-link">cattle: testing
                  required</a></li>
              <li><a rel="external" href="../vet/guidance/technical/sheep-test.html" class="govuk-link">sheep: testing
                  required</a></li>
              <li><a rel="external" href="../vet/guidance/technical/pigs-test.html" class="govuk-link">pigs: testing
                  required</a></li>
            </ul>

            <h3 id="after-the-review">After the review</h3>

            <p>Before you can claim your funding, you must ask the vet to give you a written report and a summary
              document which you can use as evidence that the review has taken place.</p>

            <h3 id="written-report">Get a written report</h3>

            <p>The report should be a specific report for the review.</p>

            <p>Your report from the vet should include:</p>

            <ul>
              <li>results from the laboratory of any tests carried out as part of this reveiw</li>
              <li>advice or suggested species-specific health and welfare actions</li>
              <li>other review findings - for example, biosecurity recommendations and medicine usage</li>
              <li>agreed achievable actions to address issues raised by the review or testing - likely to be 2 to 3 but
                can be more or less based on individual needs</li>
            </ul>

            <p> The Department for Environment, Food and Rural Affairs (<abbr
                title="Department for Environment, Food &amp; Rural Affairs">Defra</abbr>) will not ask to see the
              report.</p>

            <h3 id="vet-summary">Get a vet summary</h3>

            <p>The RPA may ask you to supply evidence that the review took place when you claim.  </p>
            <p>Ask the vet for a summary of the review that you can use as evidence. The summary must be a separate
              document. It can be a digital or paper version.</p>
            <p>The vet’s summary must include:</p>

            <ul>
              <li>the agreement number</li>
              <li>the business name and <abbr title="single business identifier">SBI</abbr> number where the review took
                place</li>
              <li>the date of the vet’s last visit to the farm for the review</li>
              <li>the type of livestock reviewed</li>
              <li>confirmation the minimum number of animals required for the scheme were on the farm when the vet did
                the review</li>
              <li>confirmation the vet carried out testing in accordance with the review’s endemic disease or condition
                testing guidance</li>
              <li>the date the vet completed endemic disease or condition testing</li>
              <li>the number of beef cattle, sheep and pigs the vet tested - you do not need to provide the number of
                dairy cattle tested</li>
              <li>the date the vet completed endemic disease sampling or wormer treatment check</li>
              <li>the unique reference number for laboratory test results</li>
              <li>the vet’s name and Royal College of Veterinary Surgeons (<abbr
                  title="Royal College of Veterinary Surgeons">RCVS</abbr>) number</li>
              <li>confirmation the vet has given you a written report</li>
              <li>vet signature and date document signed</li>
            </ul>

            <p>You can also ask the vet to include a vet attestation number (VAN) on the summary. </p>
            <p>You’ll need this number if one or both of the following enter the food chain and may be exported to the
              EU:</p>
            <ul>
              <li>livestock you produce</li>
              <li>animal products derived from your livestock</li>
            </ul>

            <p>You must ask the vet to sign and date the summary. The signature can be digital or on paper.</p>

            <h2 id="endemic-disease-2">Endemic disease follow-ups</h2>

            <p>This is the second part of the [scheme name] which will build on the review and identify which animals
              have diseases and how to eradicate them.</p>

            <h3 id="timing-2">Timing of vet visits</h3>

            <p>If you have already had a livestock health and welfare review, all your reviews and follow-ups must be
              done on the same species tested during your first review.</p>

            <p>If you are new to the scheme, any endemic disease follow-up must be done on the same species as your
              review.</p>

            <p>There must be:</p>
            <ul>
              <li>at least 10 months between the date of your vet visits for each livestock health and welfare review
              </li>
              <li>at least 10 months between your endemic disease follow-ups</li>
              <li>no more than 10 months between your health and welfare reviews and subsequent endemic disease
                follow-ups</li>
            </ul>

            <h3 id="long-endemic-disease-2">How long endemic disease follow-ups take</h3>

            <p>There is no set time for an follow-up, though it’s likely to take between 2 and 3 hours
              for the biosecurity assessment and testing to be completed. This could all happen in the same visit or
              could be spread across several visits.</p>

            <h3 id="ask-the-vet-2">What you must ask the vet to do</h3>

            <ol class="steps">
              <li>
                <p> Visit your farm for a follow-up and take samples from your livestock. The samples
                  will differ depending on which livestock species the endemics disease follow-up is for. Samples will
                  not always be required for sheep, [read the vet guidance] for more information on testing and
                  sampling.</p>
              </li>
              <li>
                <p>Complete <a href="#">[biosecurity assessment]</a></p>
              </li>
              <li>
                <p>Send test samples to a laboratory that meets the follow-up standard for testing.</p>
              </li>
              <li>
                <p>Give you a written report with the endemic disease or condition test results and discuss the
                  follow-up actions to improve the biosecurity score or assessment.</p>
              </li>
              <li>
                <p>Give you a summary of the endemics disease follow-up that you can use as evidence if the Rural
                  Payments Agency (RPA) requests it when you claim.</p>
              </li>
            </ol>

            <h3 id="required-testing-2">Required testing</h3>

            <p>The testing that happens in the follow-up will differ depending on the species you have chosen and the result of your livestock health and welfare review.</p>
            <p>You must make sure the vet completes the required testing or sampling. You can [read the vet guidance] to learn more about what the vet needs to do.</p>

            <h3 id="after-endemics-2">After the endemic disease follow-ups</h3>

            <p>Before you can claim your funding, you must ask the vet to give you a written report and a summary document you can use as evidence that the review has taken place.</p>

            <h3 id="written-report-2">Get a written report</h3>

            <p class="govuk-body">For dairy cattle, beef cattle and pigs, the report must include the:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>vet’s biosecurity score or assessment</li>
              <li>recommended actions to improve the biosecurity score or assessment</li>
              <li>relevant endemic disease and/or condition test results</li>
              <li>recommended actions to take to improve the disease or condition situation on farm any other agreed, achievable actions that should be taken by the farmer.</li>
              <li>This is likely to be 2-3 actions but could be more or less depending on the individual farm’s needs</li>
            </ul>

            <h3 id="vet-summary-2">Get a vet summary</h3>

            <p class="govuk-body">Your vet must give you a summary of the follow-up visit. The summary must include all the details that you will need to make a claim for funding including:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your agreement number</li>
              <li>the business name and SBI number where the follow-up took place</li>
              <li>the date of the vet’s last visit to the farm for the follow-up</li>
              <li>the type of livestock reviewed</li>
              <li>confirmation that the minimum number of animals required for the scheme were on the farm at the time the vet did the follow-up </li>
              <li>confirmation the vet carried out sampling in accordance with the endemic disease or condition follow-up guidance</li>
              <li>the date the vet completed follow-up sampling</li>
              <li>the unique reference number for laboratory test results</li>
              <li>test results from any follow-up testing</li>
              <li>confirmation that the vet has carried out a biosecurity assessment and for pigs only, an assessment score</li>
              <li>vaccination status and herd disease status number (for pigs only)</li>
              <li>the vet’s name and Royal College of Veterinary Surgeons (RCVS) number</li>
              <li>confirmation that the vet has given you a written report</li>
              <li>vet signature and date document signed</li>
            </ul>

            <p>The RPA may ask to see the vet summary as evidence that the follow-up took place.</p>

            <h2 id="get-help-visit-2">Get help with your visit</h2>

            <p>Contact the <abbr title="Rural Payments Agency">RPA</abbr> if have a question about [scheme name].</p>

            <p>Have your agreement number with you when you call or include it in your email.</p>


            <div class="contact">
              <p>Rural Payments Agency<br>
                PO Box 352<br>
                Worksop<br>
                S80 9FG<br></p>

              <p>Email: <a href="mailto:ruralpayments@defra.gov.uk"
                  class="govuk-link">ruralpayments@defra.gov.uk</a><br></p>

              <p>Telephone: 03000 200 301<br>
                Monday to Friday, 8:30am to 5pm, except public holidays<br>
                <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
              </p>
            </div>

          </div>

        </div>


        {% include "includes/print-page.html" %}







        <div data-sticky-element=""
          class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
                viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="gem-c-contextual-sidebar">

        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker"
          data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <h2 id="related-nav-related_items-da209313" class="gem-c-related-navigation__main-heading"
            data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>



          <nav role="navigation" class="gem-c-related-navigation__nav-section"
            aria-labelledby="related-nav-related_items-da209313" data-module="gem-toggle"
            data-gem-toggle-module-started="true">


            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                  data-track-category="relatedLinkClicked" data-track-action="1.1 Related content"
                  data-track-label="/government/publications/animal-health-and-welfare-pathway"
                  data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Animal Health and Welfare Pathway&quot;}"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}"
                  href="../farmer/guidance-apply.html">How to apply for livestock health and welfare review and endemic disease follow-ups
                  </a></li>
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                  data-track-category="relatedLinkClicked" data-track-action="1.2 Related content"
                  data-track-label="/government/publications/sustainable-farming-incentive-pilot-query-form"
                  data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Query form: Sustainable Farming Incentive pilot&quot;}"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}"
                  href="#">How to claim for [scheme name] 
                  Farming Incentive pilot</a></li>
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                  data-track-category="relatedLinkClicked" data-track-action="1.3 Related content"
                  data-track-label="/guidance/rural-payments-add-land-by-email-in-2022"
                  data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Rural Payments: add land by email in 2022&quot;}"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}"
                  href="#">Vet guidance 
                  2022</a></li>
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                  data-track-category="relatedLinkClicked" data-track-action="1.4 Related content"
                  data-track-label="/government/publications/sustainable-farming-incentive-how-the-scheme-will-work-in-2022"
                  data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Sustainable Farming Incentive: how the scheme will work in 2022&quot;}"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}"
                  href="/government/publications/animal-health-and-welfare-pathway">Animal Health and Welfare
                  Pathway
                  </a></li>

            </ul>
          </nav>



          <nav role="navigation" class="gem-c-related-navigation__nav-section"
            aria-labelledby="related-nav-collections-da209313" data-module="gem-toggle"
            data-gem-toggle-module-started="true">

            <h3 id="related-nav-collections-da209313"
              class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar"
              data-track-count="sidebarRelatedItemSection">Collection</h3>

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar"
                  data-track-category="relatedLinkClicked" data-track-action="2.1 Collection"
                  data-track-label="/government/collections/sustainable-farming-incentive-guidance"
                  data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Sustainable Farming Incentive guidance&quot;}"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;2&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}"
                  href="#">[Scheme name] guidance
                  guidance</a></li>

            </ul>
          </nav>

        </div>


      </div>

      <!--
  <div class="gem-c-contextual-sidebar">
  
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
        <h2 id="related-nav-related_items-7dc85539" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>
  
  
  
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-7dc85539" data-module="gem-toggle" data-gem-toggle-module-started="true">
  
      <h3 id="related-nav-collections-7dc85539" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>
  
    <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/annual-health-and-welfare-review-of-livestock" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Annual health and welfare review of livestock&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}" href="../landing-page">Annual health and welfare review of livestock</a></li>
  
    </ul>
  </nav>
  
  </div>
  
  
  </div>
-->
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

      </div>


    </div>
  </div>



</main>


{% endblock %}