{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      AHWR Applications
    </h1>

    <div class="user-search-box govuk-!-width-two-thirds">
      <label class="govuk-label govuk-label--s" for="user-search">
        Search
      </label>
      <div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
        Reference number, organisation or SBI number
      </div>
      <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
          <input class="govuk-input" id="user-search" name="user-search" type="text" aria-describedby="user-search-hint" spellcheck="false">
          <button style="background-color:#008938;" class="search-button" data-module="govuk-button">
              Search
          </button>
      </form>
    </div>

  </div>
</div>

<!-- Filters -->
<br><br>
<a href="sprint19-applications" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-5">Hide filters</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-margin-top-1">
          
    <div class="govuk-filter govuk-!-padding-4" style="background-color:#eeeeee;">
    
      <div class="govuk-filter__content">
    
        <div class="govuk-filter__selected govuk-!-margin-bottom-5">
          <div class="govuk-filter__selected-heading">

            <div class="govuk-filter__heading-title">
              <h2 class="govuk-heading-s">Filters</h2>
            </div>
            
            <div class="govuk-width-container">
              <h3 class="govuk-body govuk-!-display-inline">Selected</h3> 
              <p class="govuk-body-s">
                <a class="govuk-link--no-visited-state" href="applications-filters.html">Clear</a>
              </p>

              <a class="govuk-tag govuk-tag--orange" href="applications-filters.html" style="color:#6f3814;">
                <span class="govuk-visually-hidden">Remove this filter</span> 
                Claim check
              </a>
            </div>

          </div>
        </div>
    
        <div class="govuk-filter__options">
    
          <div class="govuk-form-group govuk-!-margin-bottom-0">
            <fieldset class="govuk-fieldset">
    
              <legend class="govuk-fieldset__legend">
                Status
              </legend>
    
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-0" name="status" type="checkbox" value="inprogress" checked>
                  <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="status-0" style="color:#a51f00;">
                    Claim check (1)
                  </label>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-1" name="status" type="checkbox" value="complete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-1">
                    Applied (2)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Data inputted (1)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Claimed (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-4">
                    Accepted (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-5" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-5">
                    Paying (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-5" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-5">
                    Paid (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-6" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-6">
                    Rejected (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-7" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-7">
                    Withdrawn (1)
                  </label>
                </div>
    
                <button class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
                  Apply filters
                </button>

              </div>
    
            </fieldset>
          </div>
        </div>
      </div>
    </div>


  </div>


<!-- Table -->
  <div class="govuk-grid-column-three-quarters govuk-!-margin-top-2">

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {text: "Reference"},
        {text: "Organisation"},
        {text: "SBI number"},
        {text: "Apply date"},
        {text: "Status"},
        {text: "Action"}
      ],

      rows: [

        [
          {html: "AHWR-F021-720D"},
          {html: "Deer Park Farm"},
          {text: "106712004"},
          {text: "09/07/2022"},
          {html: '<strong class="govuk-tag govuk-tag--orange">Claim check</strong>'},
          {html: "<a href='applications-futureversion/deer-park-farm#claimed'>View details</a>"}
        ]

      ]
    }) }}

    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>

      <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">
            Showing 1 &ndash; 10 of 34 organisations
        </div>

        <ul class="pagination">
            <li class="pagination__item">
                <span class="pagination__link disabled" aria-label="Previous page">
                    <span aria-hidden="true" role="presentation">&laquo;</span> Previous
                </span>
            </li>

            <li class="pagination__item">
                <span class="pagination__link current" aria-label="Page 1">1</span>
            </li>

            <li class="pagination__item">
                <a style="color:#008938;" class="pagination__link" href="all-2" aria-label="Page 2">2</a>
            </li>

            <li class="pagination__item">
                <a style="color:#008938;" class="pagination__link" href="all-3" aria-label="Page 3">3</a>
            </li>

            <li class="pagination__item">
                <a style="color:#008938;" class="pagination__link" href="all-2" aria-label="Next page">
                    Next <span aria-hidden="true" role="presentation">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    
  </div>
</div>

{% endblock %}
