{% extends "layouts/layout.html" %}
{% set serviceName = "Get funding to improve animal health and welfare" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <form class="form" method="post">
      <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="rcvs-number">
            Which package did you choose?
          </label>
        </h1>

        <div id="dob-hint" class="govuk-hint">
        You can find this on the summary the vet gave you.</div>
  
        <br>
  
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
    name: "package",
    fieldset: {
   
    },
  
    items: [
      {
        value: "package-1",
        text: "Improved ewe performance"
      },
      {
        value: "package-2",
        text: "Improved reproductive performance"
      },
      {
        value: "package-3",
        text: "Improved lamb performance"
      },
      {
        value: "package-4",
        text: "Improved neonatal lamb survival"
      },
      {
        value: "package-5",
        text: " Reduced level of external parasites"
      },
      {
        value: "package-6",
        text: "Reduced level of lameness"
      }
    ]
  }) }}

    <br>
    <br>
    
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    
    </form>
     
      <!-- autocomplete form end -->





{% endblock %}
