{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Annual health and welfare review agreements
    </h1>


    <div class="user-search-box govuk-!-width-two-thirds">
      <label class="govuk-label govuk-label--s" for="user-search">
        Search
      </label>
      <div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
        Search by agreement number, organisation or single business identifier (SBI) number

      </div>

      <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
        <input class="govuk-input" id="user-search" name="user-search" type="text" aria-describedby="user-search-hint" spellcheck="false">
        <button style="background-color:#008938;" class="search-button" data-module="govuk-button">
            Search
        </button>
      </form>
    </div>

  </div>
</div>

<br>
<br>


<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="none">Agreement number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Organisation</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">SBI number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Agreement date</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>


    </tr>
  </thead>

  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F021-721B</td>

      <td class="govuk-table__cell" data-sort-value="6194">P & D Fearnley & Sons</td>

      <td class="govuk-table__cell">103491987</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">11/08/2022</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--green">Agreed</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v15/internal/x-fearnley-farm.html'>View details</a></td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F021-715S</td>

      <td class="govuk-table__cell" data-sort-value="P & D Fearnley & Sons">Stubbings Mill Farm</td>

      <td class="govuk-table__cell">108966003</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="01/11/2022">01/11/2022</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Not agreed"><strong class="govuk-tag govuk-tag--pink">Not agreed</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v15/internal/x-stubbing-mills-farm-disagreed.html'>View details</a></td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F022-321G</td>

      <td class="govuk-table__cell" data-sort-value="Greenfield & Co">Greenfield & Co</td>

      <td class="govuk-table__cell">108977341</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="01/11/2022">13/02/2023</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="In check"><strong class="govuk-tag govuk-tag--orange">In check</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="In check"><a href='../v15/internal/x-greenfield#claimed'>View details</a></td>

    </tr>
    <tr class="govuk-table__row">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F001-789H</td>

      <td class="govuk-table__cell" data-sort-value="Greenfield & Co">Sunnyhill & Daughters</td>

      <td class="govuk-table__cell">102749506</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="09/02/2022">09/02/2023</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Ready to pay"><strong class="govuk-tag govuk-tag--">Ready to pay</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v15/internal/x-sunnyhills.html'>View details</a></td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F019-555K</td>

      <td class="govuk-table__cell" data-sort-value="Joseph McGregor Farm Ltd">Joseph McGregor Farm Ltd</td>

      <td class="govuk-table__cell">108506840</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12/04/2023">12/04/2023</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Withdrawn"><strong class="govuk-tag govuk-tag--grey">Withdrawn</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v15/internal/x-mcgregor.html'>View details</a></td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F001-432L</td>

      <td class="govuk-table__cell" data-sort-value="Tulips & Rose Gardens">Tulips & Rose Gardens</td>

      <td class="govuk-table__cell">104385962</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="02/01/2023">02/01/2023</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='../v15/internal/x-tulips-roses.html'>View details</a></td>

    </tr>

  </tbody>
</table>





{% endblock %}