{% extends "layouts/layout.html" %}
{% set serviceName = "Annual health and welfare review of livestock" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-heading-xl">Choose a business</h1>
  </div>
</div>

<form class="form" action="../defraid-2-20/check-details.html" method="get">

  <div class="govuk-form-group">
    <p class="govuk-body">These are the businesses registered to your rural payments account including their single business identifier (SBI).</a></p>
        <div id="waste-hint" class="govuk-hint">
      
        </div>
   
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="business" name="business" type="radio" value="business1">
    <label class="govuk-label govuk-radios__label" for="business-1">Arthington Farm Ltd - SBI 234567890
    </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="business" name="business" type="radio" value="business2">
      <label class="govuk-label govuk-radios__label" for="business-2">Dairy Limited - SBI 108474838
      </label>
      </div>
    <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="business" name="business" type="radio" value="business3">
    <label class="govuk-label govuk-radios__label" for="business-3">Drummonds - SBI 184638403
    </label>
    </div>
    <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="business" name="business" type="radio" value="business4">
    <label class="govuk-label govuk-radios__label" for="business-4">James Company - SBI 857564831
    </label>
    </div>
    </fieldset>
    </div>

  </div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
     
      <!-- autocomplete form end -->


      <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Need more help?
      </span>
    </summary>
    <div class="govuk-details__text">


        <p class="govuk-body">Contact the Rural Payments Agency by email or phone.</p>
        <p class="govuk-body">Email:  <a href="mailto:ruralpayments@defra.gov.uk?subject=feedback">ruralpayments@defra.gov.uk</a><br><br>
     
        Telephone: 03000 200 301 <br>
        Monday to Friday, 8:30am to 5pm, except bank holidays <br>
       
      
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="”_blank”">Find out about call charges</a></p><a href="https://www.gov.uk/call-charges" target="”_blank”">
      </a></div><a href="https://www.gov.uk/call-charges" target="”_blank”">
    </a></details><a href="https://www.gov.uk/call-charges" target="”_blank”">

  </a></div><a href="https://www.gov.uk/call-charges" target="”_blank”">
</a></div>
</div>
</details>


{% endblock %}
