{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
  Get funding to improve animal health and welfare 
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
    <p class="govuk-body">The number of pigs samples were taken from does not match the number required.</p>
    <h2 class="govuk-heading-m">What to do next</h2>
    <p class="govuk-body">If samples were not taken from the number of pigs required, they need to be taken again from the required number.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/government/publications/pigs-testing-required-for-an-annual-health-and-welfare-review-and-endemic-disease-follow-up/vets-testing-pigs-for-endemic-disease-follow-up">The number required is included in the guidance</a>.</p>


    <p class="govuk-body">When samples have been taken from the required number of pigs, start your claim again.</p>
    <p class="govuk-body">If you have entered the wrong number, you’ll need to go back and enter the correct number.</p>
    <p class="govuk-body"> <a class="govuk-link" href="#">Enter the number of pigs samples were taken from</a>.</p>
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "Your claim will be checked by our team.",
      iconFallbackText: "Warning"
    }) }}
    <h2 class="govuk-heading-m">Get help with your claim</h2>
    <p class="govuk-body">If you need help with your claim, contact the Rural Payments Agency and give your agreement number.</p>
    <p class="govuk-body">Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
    <p class="govuk-body">Telephone: 03000 200 301<br>Monday to Friday, 8:30am to 5pm, except bank holidays</p>
    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new tab)</a></p>
    
  </div>
</div>


{% endblock %}
