{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">The SBI (106599006) has no registered CPH</h1>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        You can make changes to the current data held in your Royal Payments Account. Once you have done this you can log in again and apply using this SBI.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact the Rural Payments Agency
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If there is a problem with your SBI number, contact the Rural Payments Agency.</p>
          <ul class="govuk-list">
            <li>Rural Payments Agency</li>
            <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
            <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
          </ul>
          <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>
        </div>
      </div>
        </div>
      </details>

    </div>
  </div>





{% endblock %}
