{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}



{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../march-applications.html">Back</a>
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-F022-321G
    </h1>

    <h2 class="govuk-heading-l">
      Greenfield & Co
      <strong class="govuk-tag govuk-tag--orange">
        In check
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Mary Greenfield</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          108977341
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Greenfield Avenue, Arthington, Romford IG1 2KL
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>greenfield&co@accounts.com</p>
        </dd>
      </div>
    </dl>

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Agreement
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
      </ul>

      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l">In check</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of agreement</th>
                <td class="govuk-table__cell">13/02/2023</td>
              </tr>
              <th scope="row" class="govuk-table__header">Business details correct</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of review</th>
              <td class="govuk-table__cell">Beef</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number of livestock</th>
              <td class="govuk-table__cell">Minimum 11</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Agreement accepted</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l">Not claimed yet</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
           
          </tbody>
        </table>
      </div>
      <br>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-right-7" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
        <h3 class="govuk-panel__title-s govuk-!-font-size-18 govuk-!-margin-top-1" style="color:#000000;">
          Authoriser only
        </h1>

        <a href="x-greenfield-&-co-approvingclaim.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Approve claim</a>
        </button>
        <a href="x-greenfield-&-co-rejectingclaim.html" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Reject claim</a>
        </button>
      </form>
      </div>

      
      
    </div>

  </div>
</div>




{% endblock %}

