{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Review the health and welfare of your livestock{% endset%}   

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which herd are you claiming for?
            </h1>
          </legend>

      
        <!--
          <p>You can have one review each year for one type of livestock.</p>
          <p>If you’re eligible for more than one type of livestock, you must choose which one you want reviewed.</p>
        -->

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="beef-1" name="beef" type="radio" value="beef-numbers" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-bps-yes") }}>
              <label class="govuk-label govuk-radios__label" for="beef-1">
                Beef cattle A
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="beef-2" name="beef" type="radio" value="beef-numbers" onclick="setLocation(this);" {{ checked("eligibility-cattle", "ineligible") }}>
              <label class="govuk-label govuk-radios__label" for="beef-2">
                Beef cattle B
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="beef-3" name="beef" type="radio" value="beef-numbers" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-bps-maybe") }}>
              <label class="govuk-label govuk-radios__label" for="beef-3">
                Beef cattle C
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="beef-4" name="beef" type="radio" value="beef-numbers" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-bps-maybe") }}>
              <label class="govuk-label govuk-radios__label" for="beef-4">
                Beef cattle D
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>

{% endblock %}