{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
      {% set serviceName %}
Livestock health and welfare
{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which type of review are you claiming for?
            </h1>
          </legend>

          <div id="vet-registered-hint" class="govuk-hint govuk-!-margin-bottom-5">
            You can have one review every 10 months for one type of livestock
            <br><br>
          </div>
        <!--
          <p>You can have one review each year for one type of livestock.</p>
          <p>If you’re eligible for more than one type of livestock, you must choose which one you want reviewed.</p>
        -->

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eligibility-bps" name="eligibility-bps" type="radio" value="date-of-visit" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-bps-yes") }}>
              <label class="govuk-label govuk-radios__label" for="eligibility-bps">
                Annual health and welfare review
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eligibility-bps-2" name="eligibility-bps" type="radio" value="endemics-pig/vaccination" onclick="setLocation(this);" {{ checked("eligibility-cattle", "ineligible") }}>
              <label class="govuk-label govuk-radios__label" for="eligibility-bps-2">
                Endemics follow-up
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>

{% endblock %}
