{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Index page
{% endblock %}
{% set serviceName %}
  Get funding to improve livestock health and welfare 
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary" style="display: none;">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li id="validation-error-item">
              <a href="#eligibility-bps">Enter the number of animals tested</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form class="form" method="post" onsubmit="return validateForm(event);">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility-bps-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How many animals did the vet test?
            </h1>
          </legend>

          <div id="vet-registered-hint" class="govuk-hint govuk-!-margin-bottom-5">
            You can find this on the summary the vet gave you.
          </div>



          <label class="govuk-label" for="number-of-animals">
            Enter a number
          </label>
          <p id="validation-error" class="govuk-error-message" style="display: none;">
            <span class="govuk-visually-hidden">Error:</span>Enter the number of animals tested
          </p>
          <input type="text" id="number-of-animals" name="number-of-animals" class="govuk-input govuk-input--width-10">

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>

    </form>

    <script>
      function validateForm(event) {
        event.preventDefault(); // Prevent the default form submission behavior
    
        var input = document.getElementById('number-of-animals');
        var errorElement = document.getElementById('validation-error');
        var formGroup = document.querySelector('.govuk-form-group');
        var errorSummary = document.querySelector('.govuk-error-summary');

        var validationErrorItem = document.getElementById('validation-error-item');

        if (input.value.trim() !== '') {
          // Check if the input is numeric
          if (!isNaN(input.value.trim())) {
            errorElement.style.display = 'none';
            formGroup.classList.remove('govuk-form-group--error');
            errorSummary.style.display = 'none'; // Hide error summary
    
            // Redirect to the desired URL based on the input value
            var numberOfAnimals = parseInt(input.value.trim());
            if (numberOfAnimals >= 10) {
              window.location.href = 'vet-name.html';
            } else {
              window.location.href = 'lamb-error.html';
            }
            return true; // Form submission allowed
          } else {
            // Non-numeric input, display error message and add error styling
            validationErrorItem.innerHTML = 'Enter the number of animals tested';
          }
        } else {
          // Empty input, display error message and add error styling
          validationErrorItem.innerHTML = 'Enter the number of animals tested';
        }
    
        errorElement.style.display = 'block';
        formGroup.classList.add('govuk-form-group--error');
        errorSummary.style.display = 'block'; // Show error summary
        return false; // Form submission blocked
      }
    </script>
    

  </div>
</div>

{% endblock %}