   {% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Livestock health and welfare{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Submit your claim</h1>

        <p class="govuk-body">
          By submitting your claim, you confirm that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the vet did disease and endemic condition testing after the start date of your agreement</li>
            <li>the vet tested the required number of animals</li>
            <li>the vet has given you a written report</li>
            <li>the vet has given you a signed and dated review summary</li>
            <li>the review was carried out in accordance with the terms and conditions</li>
<li>you understand you may have to provide evidence to the Rural Payments Agency to support this claim</li>
<li>all the information you have provided in this claim is correct to the best of your knowledge</li>
          </ul>
        <!--


        <div class="govuk-form-group">

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm" value="Declaration Accepted">
              <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold govuk-checkboxes-long-label" for="confirm">I confirm that the information I have provided is correct to the best of my knowledge</label>
            </div>

          </div>

        </div>
        -->
        <div class="govuk-!-margin-top-6">
          <a href="confirmation" role="button" draggable="false" class="govuk-button docs-creator" data-module="govuk-button">
          Submit claim
          </a>
        </div>

      </div>


{% endblock %}
