{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Livestock health and welfare
{% endset%}



{% block content %}

<main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="govuk-grid-row" style="padding-top:16px;">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m" style="margin-bottom: 8px;">Arthington Farm Ltd</h3>
          <p class="govuk-body sbi-number" style="margin-bottom: 8px;">SBI: 234567890</p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m" style="float:right; margin-bottom: 8px;">Jane Doe</h3>
          <p class="govuk-body sbi-number" style="float:right; margin-bottom: 8px;"><a
              href="../apply/business-2.html">Apply for a different business</a></p>
        </div>
    </main>
    <hr>



    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <h2 class="app-task-list">
              <ol class="app-task-list">


                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                        <span class="govuk-caption-xl">Livestock health and welfare</span>
                      </span>
                </li>





                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                    <h1 class="govuk-heading-xl">Manage your claims</h1>
                  </span>
                </li>

                <li>
                  <span h1 class="app-task-list__section class=govuk-heading-xl">
                    <span class="app-task-list__section-number"> </span>
                        <span class="govuk-caption-l">Agreement number: AWHR-2847-2847 </span>
                      </span>
                </li>





                <li>
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number"> </span> Your claims
                  </h2>
                </li>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="../beef-cattle-application"> VV-5053-A696 – Beef Cattle Annual Health and Welfare
                        Review</a>
                      <p class="govuk-body-s">

                      </p>
                      <p class="govuk-body-s">
                        You have been paid <strong>£294</strong> for completing testing on your livestock
                      </p>
                    </span>
                    <strong class="govuk-tag govuk-tag-- app-task-list__tag" id="contact-details-status">Paid</strong>
                  </li>
                  <br>
                  <div class="govuk-button-group">
                    <a href="../claim/which-review-annual.html" class="govuk-button" data-module="govuk-button">
                      Claim for livestock health and welfare review
                    </a>
                    <a href="../claim/which-review-endemics.html" class="govuk-button" data-module="govuk-button"
                      target="_blank">
                      Claim for follow-up
                    </a>
                  </div>
                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Terms and conditions
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                        aria-labelledby="accordion-default-heading-1">
                        <p class="govuk-body">The agreement will be governed by the agreed <a
                            href="../apply/terms-conditions.html">terms and conditions</a>.
                          .</p>
                      </div>
                    </div>
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Guidance
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                        aria-labelledby="accordion-default-heading-2">
                        <p class="govuk-body">Read the <a href="../farmer/guidance-claim.html">guidance on livestock
                            health and welfare review and follow-up .</a></p>
                      </div>
                    </div>
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Future farming front door
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                        aria-labelledby="accordion-default-heading-2">
                        <p class="govuk-body">Take a look at another <a href="../farmer/guidance-claim.html">funding
                            scheme.</a></p>
                      </div>
                    </div>



                </ul>









              </ol>




    </main>











    {% endblock %}