{% extends "layouts/layout.html" %}
{% set serviceName = "Get funding to improve animal health and welfare" %}


{% set title = "Reviews and follow-ups must be for the same species" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}


{% block beforeContent %}

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
   
<h2 class="govuk-heading-m">You can claim for multiple species as part of this agreement</h2>

<p class="govuk-heading-body">Under this agreement, you can claim funding for up to 3 different species. The species you can claim for include:</p>

<ul>
  <li>dairy cattle</li>
  <li>beef cattle</li>
  <li>pigs</li>
  <li>sheep</li>
</ul>

<p class="govuk-heading-body">You can do a maximum of 3 reviews and follow-ups per species.</p>

<p class="govuk-heading-body">You need to make a separate claim for each species.</p>

      
<div class="govuk-button-group">
  <a href="numbers.html" class="govuk-button" data-module="govuk-button">
    I agree
  </a></button>
  <a href="offer-rejected.html"class="govuk-button govuk-button--secondary" data-module="govuk-button">
    I do not agree – reject agreement
  </a></button>
</div>


  
  
     
  
  
     
    </div>
  </div>

{% endblock %}