{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Get funding to improve animal health and welfare{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">


              <h1 class="govuk-heading-l">
                Timing of reviews and follow-ups
              </h1>

              <p class="govuk-body">You can do up to 3 reviews and follow-ups under this agreement. We recommend you follow this sequence.</p>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                  At each step you choose to complete, you must follow the relevant timing rules to be eligible to claim.
                </strong>
              </div>


              <h2 class="govuk-heading-m">1. Do a review</h2>

              <p class="govuk-body">If you do a review, you must:</p>
              
              <ul class="govuk-list govuk-list--bullet">
                <li>always do the review before you do the resulting follow-up</li>
                <li>wait at least 10 months between your reviews </li>
              </ul>

              <h2 class="govuk-heading-m">2. Claim for a review</h2>

              <h2 class="govuk-heading-m">3. Do a follow-up</h2>

              <p class="govuk-body">If you do a follow-up, you must:</p>
              
              <ul class="govuk-list govuk-list--bullet">
                <li>do the follow-up no more than 10 months after the review</li>
                <li>wait at least 10 months between your follow-ups</li>
              </ul>

              <h2 class="govuk-heading-m">4. Claim for a follow-up</h2>

              <p class="govuk-body">Your review claim must be approved before you claim for the resulting follow-up.</p>
              
              <h2 class="govuk-heading-m">5. Repeat this sequence for your second and third reviews and follow-ups</h2>


              <div class="govuk-button-group">
                <a href="declaration.html" class="govuk-button" data-module="govuk-button">
                  I agree
                </a></button>
 <a href="offer-rejected.html"class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  I do not agree
                </a></button>
              </div>
            
            </div>
          </div>
        </main>
      </div>















              </form>
            </div>
          </div>
        </main>
      </div>

{% endblock %}
