{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="detailed-guide" lang="en">
          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
  
  <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  
  
    <h1 class="gem-c-title__text govuk-heading-l">
      How to apply for a funded annual health and welfare review of livestock
    </h1>
  </div>
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <p class="gem-c-lead-paragraph">Farmers: find out how much funding you’ll get, what a review involves, if you’re eligible and how to apply. </p>
  
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
    <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
    <hr class="govuk-section-break govuk-section-break--m">
    <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>  
        <dd class="gem-c-metadata__definition">
        </dd>
    </dl>
  </div>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
  
  
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
    <section class="gem-c-devolved-nations">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
        Applies to England
  </h2>
  </section>
  
        <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
        <div class="responsive-bottom-margin">
            <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
      <h2 class="gem-c-contents-list__title">
        Contents
  </h2>
      <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-the-review-is" data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}" href="#what-the-review-is">What the review is</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#how-much-funding-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;How much funding you’ll get&quot;}" href="#how-much-funding-youll-get">How much funding you’ll get</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-to-expect-from-a-review" data-track-options="{&quot;dimension29&quot;:&quot;What to expect from a review&quot;}" href="#what-to-expect-from-a-review">What happens during a review</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#check-youre-eligible-to-apply" data-track-options="{&quot;dimension29&quot;:&quot;Check you’re eligible to apply&quot;}" href="#check-youre-eligible-to-apply">Check you’re eligible to apply</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#before-the-review" data-track-options="{&quot;dimension29&quot;:&quot;Before the review&quot;}" href="#before-the-review">What you need to do after you have applied</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#on-the-farm" data-track-options="{&quot;dimension29&quot;:&quot;On the farm&quot;}" href="#on-the-farm">During the farm visit</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#after-the-review" data-track-options="{&quot;dimension29&quot;:&quot;After the review&quot;}" href="#after-the-review">After the review</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#apply-for-a-review" data-track-options="{&quot;dimension29&quot;:&quot;Apply for a review&quot;}" href="#apply-for-a-review">Apply for a review</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="#claim-your-funding" data-track-options="{&quot;dimension29&quot;:&quot;Claim your funding&quot;}" href="#claim-your-funding">How to claim your funding</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="#get-help-with-your-application" data-track-options="{&quot;dimension29&quot;:&quot;Get help with your application&quot;}" href="#get-help-with-your-application">Get help with your application</a>
  
          </li>
      </ol>
  </nav>
        </div>
      
        
  <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
  </div>
  
        
  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
      
          <div class="govspeak">
  <h2 id="what-the-review-is">What the review is</h2>
  
  <p>You can get funding for a vet, or team chosen by a vet, to visit your farm and carry out a health and welfare review if you keep:</p>
  
  <ul>
    <li>beef cattle</li>
    <li>dairy cattle</li>
    <li>sheep</li>
    <li>pigs</li>
  </ul>
  
  <p>A health and welfare review will help you:</p>
  
  <ul>
    <li>reduce endemic diseases and conditions</li>
    <li>increase animal productivity</li>
    <li>improve animal welfare</li>
  </ul>
  
  <p>You can choose the vet that you want to do the review. The review is not an inspection or audit and is optional.</p>
  
  <h2 id="how-much-funding-youll-get">How much funding you’ll get</h2>
  
  <p>You’ll get funding for each livestock type, not for each animal.</p>
  
  <p>You’ll get:</p>
  
  <ul>
    <li>£522 for a beef cattle review</li>
    <li>£372 for a dairy cattle review</li>
    <li>£436 for a sheep review</li>
    <li>£684 for a pig review</li>
  </ul>
  
  <p>The funding amount for each type of livestock is different because:</p>
  
  <ul>
    <li>testing may take longer for some types of livestock</li>
    <li>some results cost more to analyse</li>
  </ul>
  
  <p>The funding will cover the endemic disease or condition testing costs. It will also contribute towards the costs of both your time and the vet’s time.</p>
  
  <h2 id="what-to-expect-from-a-review">What happens during a review</h2>
  
  <p>There’s no set amount of time for a review, but it’s likely to take between 2 and 3 hours of your time and the vet’s time. You may ask the vet to spread it over several regular visits to the farm or do it in a single visit.</p>
  
  <h3 id="what-a-review-must-include">What you must ask the vet to do</h3>
    
  <ol class="steps">
    <li>
    <p>Visit your farm and test for the endemic diseases or condition of the livestock type you’re having reviewed to recommended standards - bovine viral diarrhoea (BVD) in dairy and beef cattle, effectiveness of worming treatments in sheep, porcine reproductive and respiratory syndrome (PRRS) in pigs.</p>
    </li>
    <li>
    <p>Advise on the health and welfare of these livestock - examples of this could include lameness, body conditioning or mobility scoring.</p>
    </li>
    <li>
    <p>Give you a written report after the review, including recommended follow-up actions and the relevant endemic disease or condition test results from the laboratory.</p>
    </li>
    <li>
    <p>Give you a summary of the review you can use as evidence if the Rural Payments Agency (RPA) requests it when you claim.</p>
    </li>
    </ol>
  
  <h3 id="what-a-review-can-include">What a review can include</h3>

  <p>You and the vet can also choose to discuss biosecurity, medicine usage or both if it’s useful. </p>
  
  <h2 id="check-youre-eligible-to-apply">Check you’re eligible to apply</h2>
  
  <p>You must have a minimum number of animals when the vet visits your farm to do the review.</p>
  
  <p>You must have one of the following:</p>
  
  <ul>
    <li>11 or more beef cattle</li>
    <li>11 or more dairy cattle</li>
    <li>21 or more sheep</li>
    <li>51 or more pigs</li>
  </ul>
  
  <p>The livestock must be registered in England and you must be responsible for their welfare when the vet carries out the review.</p>
  
  <p>Your business must have:</p>
  
  <ul>
    <li>a single business identifier (<abbr title="single business identifier">SBI</abbr>) linked to a county parish holding (<abbr title="county parish holding">CPH</abbr>) number registered in England</li>
    <li>a <abbr title="county parish holding">CPH</abbr> number that’s permanent or temporary</li>
  </ul>
  
  <p>You can only apply for a review on a <abbr title="county parish holding">CPH</abbr> registered in England. You cannot apply for a review on CPHs registered in Wales or Scotland.</p>
  
  <p>The <abbr title="county parish holding">CPH</abbr> number cannot be:</p>
  
  <ul>
    <li>an 8,000 number used for abattoirs, pet food manufacturers, racing pigeon establishments and showgrounds</li>
    <li>a 9,000 number used for poultry keepers</li>
  </ul>

<p>To apply, you must be: </p>

<ul>
<li>eligible for the Basic Payment Scheme (BPS) - this means the SBI must have at least 5 hectares of BPS eligible land and 5 or more BPS entitlements on 16 May 2022 </li>
<li>planning to make a 2023 BPS claim </li>
</ul>

  
  <p>If you have received a lump sum payment to leave or retire from farming, you can still apply for a review.</p>
  
  <p>You can have an agreement for a review of one eligible type of livestock every 10 months. If you have more than one eligible type, you must choose the one you would like reviewed.</p>
  
  <p>You cannot apply for another review of the same herd or flock until 10 months after you submitted your last application and accepted an agreement offer.</p>
  
  <h2 id="before-the-review">What you need to do after you have applied</h2>
  
  <p>When you apply, you’ll be offered an agreement. You must accept your agreement offer and get an agreement number before you arrange a review.</p>
  
  <p>Contact the vet to arrange a review and give them the agreement number.</p>

  <p>Agree with the vet what they’ll focus on at the review. Ask them to read the <a href="../vet/guidance.html">guidance on how to carry out a health and welfare review of livestock.</a></p>

  <div class="govuk-inset-text govuk-body govuk-!-font-size-16">You must make sure the review is completed and you have claimed your funding within 6 months from the date you accept your agreement offer.</div>
    
  <h2 id="on-the-farm">During the farm visit</h2>
  
  <p>During the visit, you must ask the vet to carry out the required testing, and to give you health and welfare advice about your livestock. You may also discuss topics such as biosecurity or medicine usage.</p>

  <h3>Endemic diseases and condition testing</h3>

  <p>You must ask the vet to test for:</p>
  
  <ul>
    <li>
  <abbr title="bovine viral diarrhoea">BVD</abbr> in beef cattle</li>
    <li>
  <abbr title="bovine viral diarrhoea">BVD</abbr> in dairy cattle</li>
    <li>the effectiveness of worming treatments in sheep</li>
    <li>
  <abbr title="porcine reproductive and respiratory syndrome">PRRS</abbr> in pigs</li>
  </ul>
  
  <p>You can:</p>
  
  <ul>
    <li>use these review test results for other accreditation schemes you’re a member of - you’ll need to check with the accreditation scheme that they will accept testing from the review</li>
    <li>schedule your review to fit in with your existing testing schedule if you’re already testing for these diseases or conditions to take advantage of the funding</li>
  </ul>
  
  <p>You cannot:</p>
  
  <ul>
    <li>use other accreditation scheme test results for this review funding</li>
    <li>ask the vet to test for other medical conditions or diseases as part of the review</li>
  </ul>
  
  <p>You’ll only be eligible for funding if the vet:</p>
  
  <ul>
    <li>tests the minimum required number of animals for the type of review they’re doing</li>
    <li>carries out testing after your agreement date and before you claim</li>
    <li>gets samples tested at a laboratory that meets the specifications for review testing</li>
  </ul>
  
  <p>To find out more about testing including the minimum required numbers and specifications a laboratory needs to meet, read the guidance:</p>

  <ul>
  <li><a rel="external" href="../vet/guidance/technical/cattle-test.html" class="govuk-link">cattle: testing required for an annual health and welfare review</a></li>
  <li><a rel="external" href="../vet/guidance/technical/sheep-test.html" class="govuk-link">sheep: testing required for an annual health and welfare review</a></li>
  <li><a rel="external" href="../vet/guidance/technical/pigs-test.html" class="govuk-link">pigs: testing required for an annual health and welfare review</a></li>
  </ul>

  <h3>Discuss the health and welfare of your livestock</h3>
  <p>You must discuss the health and welfare of your livestock with the vet as part of the review. Examples may include lameness, body conditioning or mobility scoring. Your vet will be able to advise you on what to focus on.</p>

  <div class="govuk-inset-text govuk-body govuk-!-font-size-16">Reviewing biosecurity and medicine usage are optional parts of the review.</div>

  <h3>Biosecurity and medicine usage (optional)</h3>

  <p>You may also choose to discuss one or both of the following if it’s useful:</p>

  <ul>
    <li>biosecurity, including internal and external biosecurity recommendations</li>
    <li>medicine usage, including antibiotics, vaccinations and how you can register and submit data on the <a rel="external" href="https://ahdb.org.uk/medicine-hub" class="govuk-link">Agriculture and Horticulture Development Board (<abbr title="Agriculture and Horticulture Development Board">AHDB</abbr>) Medicine Hub <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">link text (opens in new tab)</a></a>
  </li>
  </ul>
  
  <p>If it is not useful to discuss either, you do not have to. The review is flexible and you should focus on what’s important for your farm when the vet visits you.</p>
  
  <h2 id="after-the-review">After the review</h2>
  
  <p>Before you can claim your funding, you must ask the vet to give you a written report and a document you can use as evidence the review has taken place.</p>
  
  <h3 id="get-a-written-report">Get a written report</h3>

  <p>The report can be either a specific report for the review or included in an existing health and welfare document that covers the same timeframe as the agreement. </p>
  
  <p>You’ll only be eligible for funding if the report includes:</p>
  
  <ul>
    <li>endemic disease or condition test results from the laboratory</li>
    <li>advice or suggested species-specific health and welfare actions</li>
    <li>other review findings - for example, biosecurity recommendations and medicine usage</li>
    <li>agreed achievable actions to address issues raised by the review or testing - likely to be 2 to 3 but can be more or less based on individual needs</li>
  </ul>
  
  <p> The Department for Environment, Food and Rural Affairs (<abbr title="Department for Environment, Food &amp; Rural Affairs">Defra</abbr>) will not ask to see the report. It will also not be used for site visits or other compliance checks.</p>
  
  <h3 id="get-a-summary-of-the-review">Get evidence the review took place</h3>
  
  <p>The RPA may ask you to supply evidence that the review took place when you claim.  </p>
  <p>Ask the vet for a summary of the review that you can use as evidence. The summary must be a separate document. It can be a digital or paper version.</p>
  <p>The vet’s summary must include:</p>

  <ul>
    <li>the agreement number</li>
    <li>the business name and <abbr title="single business identifier">SBI</abbr> number where the review took place</li>
    <li>the date of the vet’s last visit to the farm for the review</li>
    <li>the type of livestock reviewed</li>
    <li>confirmation the minimum number of animals being reviewed were on the farm when the vet did the review</li>
    <li>confirmation the vet carried out testing in accordance with the review’s endemic disease or condition testing guidance</li>
    <li>the date the vet completed endemic disease or condition testing</li>
    <li>the number of beef cattle, sheep and pigs the you tested  -  you do not need to provide the number of dairy cattle tested</li>
    <li>the unique reference number for laboratory test results</li>
    <li>the vet’s name and Royal College of Veterinary Surgeons (<abbr title="Royal College of Veterinary Surgeons">RCVS</abbr>) number</li>
    <li>confirmation the vet has given you a written report</li>
  </ul>
  
  <p>You must ask the vet to sign and date the summary. The signature can be digital or on paper.</p>
  
  <h2 id="apply-for-a-review">Apply for a review</h2>
  <div class="call-to-action">
  <p>Find out <a rel="external" href="/v13/defraid-1/start.html" class="govuk-link">how to apply for an annual health and welfare review of livestock.</a></p>
  </div>
  
  <h2 id="claim-your-funding">How to claim your funding</h2>

  <p>When the vet has completed the review, you can claim your funding.</p>
  
  <p>Read guidance on <a rel="external" href="../farmer/guidance-claim.html" class="govuk-link">how to claim for an annual health and welfare review of your livestock</a>.</p>
  
  <h2 id="get-help-with-your-application">Get help with your application</h2>
  
  <p>Contact the <abbr title="Rural Payments Agency">RPA</abbr> if you:</p>
  
  <ul>
    <li>decide you do not want a review after you have accepted the agreement offer</li>
    <li>cannot apply online or have a question about your application</li>
  </ul>
  
  <p>Have your agreement number with you when you call or include it in your letter or email.</p>
  
  <div class="contact">
  <p>Rural Payments Agency<br>
  PO Box 352<br>
  Worksop<br>
  S80 9FG<br></p>
  
  <p>Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a><br></p>
  
  <p>Telephone: 03000 200 301<br>
  Monday to Friday, 8:30am to 5pm, except public holidays<br>
  <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
  </div>
  
  </div>
  
  </div>
  
        
  {% include "includes/print-page.html" %}

    

  
  
  
  
        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--stuck-to-window sticky-element--enabled sticky-element--hidden">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      Contents
  </a>
  
          </div>
        </div>
    </div>
    </div>
    
  <div class="govuk-grid-column-one-third">
    
  <div class="gem-c-contextual-sidebar">
  
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
        <h2 id="related-nav-related_items-7dc85539" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>
  
  
  
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-7dc85539" data-module="gem-toggle" data-gem-toggle-module-started="true">
  
      <h3 id="related-nav-collections-7dc85539" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>
  
    <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/annual-health-and-welfare-review-of-livestock" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Annual health and welfare review of livestock&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}" href="../landing-page">Annual health and welfare review of livestock</a></li>
  
    </ul>
  </nav>
  
  </div>
  
  
  </div>
  
  </div>
  
  </div>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          
    <div class="gem-c-contextual-footer">
      
    </div>
  
  
      </div>
    </div>
  
  
  
      </main>


{% endblock %}
