{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../a-digital.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <strong class="govuk-tag govuk-tag--yellow">
      Pre application
    </strong>
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-G2453-128K
    </h1>

    <h2 class="govuk-heading-l">
      The Dairy Limited
      <strong class="govuk-tag govuk-tag--yellow">
        Agreement sent
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Sandra Smith</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          1067778992
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Earls Court Rd, Crawley C215 9EL
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>+44 7987 77741</p>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">
      Digital Assistance
    </h2>

    <h3 class="govuk-heading-s"> Fill in apply form on behalf of customer</h3>

  <!-- Questions -->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend">
        When was the agreement accepted?
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2022
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <legend class="govuk-fieldset__legend">
            Has the customer phone call been recorded?
          </legend>
        </legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <legend class="govuk-fieldset__legend">
            Has the customer understood and signed the terms and conditions?
          </legend>
        </legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <legend class="govuk-fieldset__legend">
            Which livestock do you want a review for?
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Select one option.
        </div>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Beef cattle
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-phone">
                Will there be 11 or more beef cattle on the date of the review?
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              Dairy cattle
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Will there be 11 or more dairy cattle on the date of the review?
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
            </div>
            
            
          </div>
        </div>
      </fieldset>
    </div>

    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
   
    
    


                   <!--Digital Assistance-->

                   <h2 class="govuk-cookie-banner__heading govuk-heading-m">Submit application</h2>

                   <div class="govuk-cookie-banner__content">
                                 <p class="govuk-body">This customer has successfully applied for an AHWR review</p>
                             <p class="govuk-body">To progress to next step of the application process, confirm the applicant meets the eligibility criteria above or contact the security and compliance team.</p>
                 
                   
                   <div class="govuk-button-group">
                    <a href="../internal/x-dairylimited-confirm.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
                      Confirm and continue</a>
                 
                     
                     </button>
                     </div>
                     
                   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                   
                   </div>
                   
                   </div>
                   

{% endblock %}
