{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../a-digital-2.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-G2453-128K
    </h1>

    <h2 class="govuk-heading-l">
      The Dairy Limited
      <strong class="govuk-tag govuk-tag--green">
        Agreed
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Sandra Smith</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          1067778992
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Earls Court Rd, Crawley C215 9EL
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>+44 7987 77741</p>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded files:
        </dt>
        <dd class="govuk-summary-list__value">
         <p><a href="#">Review summary.pdf</a></p>
        <p><a href="#">Claim form.pdf</a></p>
        </dd>
      </div>


    </dl>

       <!-- Questions -->
       <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend">
            When was the review completed?
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2022
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend">
            When was endemic disease or condition testing carried out?
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2022
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      
     

    
      



 
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    What is the vet's name?
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    Vet's full name
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    What is the vet's Royal College of Veterinary Surgeons (RCVS) number?
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    It’s a 7-digit number. You can find it on the review summary the vet has given you.
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    What is the laboratory unique reference number for the test results?
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    Enter the unique reference number (URN) for the laboratory test results. You can find it on the review summary.
  </div>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-cookie-banner__heading govuk-heading-m">Submit application</h2>

  <div class="govuk-cookie-banner__content">
    <p class="govuk-body">Ensure the information is accurately recored before proceeding to the next step.</p>
    <p class="govuk-body">Double check the customer documentation which has been uploaded into the CRM</p>

  <a href="x-dairylimited-4.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Save and continue
  </a>




</div>
</div>


      
    </div>
  </div>
</div>
                   

{% endblock %}
