{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../a-digital-2.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-G2453-128K
    </h1>

    <h2 class="govuk-heading-l">
      The Dairy Limited
      <strong class="govuk-tag govuk-tag--green">
        Agreed
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Sandra Smith</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          1067778992
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Earls Court Rd, Crawley C215 9EL
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>+44 7987 77741</p>
        </dd>
      </div>
    </dl>
 

    <!-- "Pop-up" box -->
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
      <div class="govuk-form-group">
        <a href="x-dairylimited-1.html" role="button" draggable="false" class="govuk-link govuk-body" style="color:#505a5f; float:right;" data-module="govuk-button">
          Back
        </a>
        <br>
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Progress application
            </h1>
            <div class="govuk-!-padding-bottom-7"></div>



          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
               I have received the claim form from the customer. I have uploaded the agreement into the CRM.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                I am uploading the review summary and claim form into the CRM.
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <a href="x-dairylimited-3.html" role="button" draggable="false" class="govuk-button govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
        Confirm and continue
      </a>

   

    </div>

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Agreed
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#history">
              History
            </a>
            </li>
      </ul>

    
      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l">Agreed</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of agreement</th>
                <td class="govuk-table__cell">02/04/2023</td>
              </tr>
              <th scope="row" class="govuk-table__header">Business details correct</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of review</th>
              <td class="govuk-table__cell">Beef</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Number of livestock</th>
              <td class="govuk-table__cell">Minimum 11</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Agreement accepted</th>
              <td class="govuk-table__cell">Yes</td>

            </tr>
          </tbody>
        </table>
      </div>

    
 



      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l">Agreed</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <div class="govuk-summary-list__row">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Upload files</th>
                  <td class="govuk-table__cell"><p><a href="#">Review summary.pdf</a></p>
                    <p><a href="#">Claim form.pdf</a></p></td>
                  </div>
                </tr>



          </tbody>
        </table>
      </div>

      

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
        <h2 class="govuk-heading-l">History</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Time</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header">User</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">23/03/2023</td>
              <td class="govuk-table__cell">10:00:12</td>
              <td class="govuk-table__cell">Recommend to reject</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">24/03/2023</td>
              <td class="govuk-table__cell">09:30:00</td>
              <td class="govuk-table__cell">Recommend to pay</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to reject</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to pay</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
      </div>

    </tbody>
  </table>
</div>


      
      
      <br>


      
    </div>
  </div>
</div>
                   

{% endblock %}
