{% extends "layouts/layout-defra-authoriser.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../a-digital.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">You must select both checkboxes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Reference: AHWR-F045-697K
    </h1>

    <h2 class="govuk-heading-l">
      Organic Bean Industries
      <strong class="govuk-tag govuk-tag--orange govuk-!-margin-left-2">
        In check
      </strong>
    </h2>

    <!-- "Pop-up" box -->
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
      <a href="x-greenfield.html" role="button" draggable="false" class="govuk-link govuk-body" style="color:#505a5f; float:right;" data-module="govuk-button">
        Cancel
      </a>
      <br>
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Reject claim
            </h1>
            <div class="govuk-!-padding-bottom-4"></div>



            <p id="nationality-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select both checkboxes
            </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
               I have reviewed the completed verfication check and agree the claim has not passed. I reject the claim for payment.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                I have updated the verfication checklist and sent it back to the recommender to attach to the customer's record in the Customer Relationship Management system.
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <a href="../internal/organicbeanauthorise#claimed" role="button" draggable="false" class="govuk-button govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
        Confirm and continue
      </a>
      <br>
      <br>


    </div>
  
  
      <!--Application stages (in tabs)-->
      <div class="govuk-tabs govuk-!-margin-top-7" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#applied">
              Agreement
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claimed">
              Claim
            </a>
            </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#history">
              History
            </a>
            </li>
      </ul>

  
        <div class="govuk-tabs__panel" id="applied">
          <h2 class="govuk-heading-l">Recommend to reject</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of agreement</th>
                  <td class="govuk-table__cell">14/03/2023</td>
                </tr>
                <th scope="row" class="govuk-table__header">Business details correct</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type of review</th>
                <td class="govuk-table__cell">Beef</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Number of livestock</th>
                <td class="govuk-table__cell">Minimum 11</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Agreement accepted</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
          <h2 class="govuk-heading-l">Recommend to reject</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of claim	</th>
                <td class="govuk-table__cell">03/04/2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review details confirmed</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of review</th>
                <td class="govuk-table__cell">18/04/2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Vet’s name</th>
                <td class="govuk-table__cell">Michael Johnson</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Vet’s RCVS number</th>
                <td class="govuk-table__cell">10938475</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Test results unique 
                  reference number (URN)</th>
                <td class="govuk-table__cell">URN-7366-28DE</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
          <h2 class="govuk-heading-l">History</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Time</th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header">User</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">23/03/2023</td>
                <td class="govuk-table__cell">10:00:12</td>
                <td class="govuk-table__cell">Recommend to reject</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">24/03/2023</td>
                <td class="govuk-table__cell">09:30:00</td>
                <td class="govuk-table__cell">Recommend to pay</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25/03/2023</td>
                <td class="govuk-table__cell">11:10:15</td>
                <td class="govuk-table__cell">Authorise to reject</td>
                <td class="govuk-table__cell">Amanda Hassan</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25/03/2023</td>
                <td class="govuk-table__cell">11:10:15</td>
                <td class="govuk-table__cell">Authorise to pay</td>
                <td class="govuk-table__cell">Amanda Hassan</td>
              </tr>
        </div>

      </tbody>
    </table>
  </div>
</div>
</div>
      
    </div>


  </div>
   

  
</div>
      
    </div>


  </div>
   
  
</div>

{% endblock %}
