{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for vets
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}


<main role="main" id="content" class="detailed-guide" lang="en">
          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
  
  <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  
  
    <h1 class="gem-c-title__text govuk-heading-l">
      How to carry out an annual health and welfare review of livestock
    </h1>
  </div>
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <p class="gem-c-lead-paragraph">Vets: check what to do during and after a review including disease and condition testing, advice on increasing animal productivity and improving welfare.</p>
  
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
    <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <aside class="navigation-container">
            <br>
            <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food & Rural Affairs</b></a> and </b><a class="govuk-link govuk-!-font-weight-bold" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>
  
        </dd>
    </dl>
  </div>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
  

  
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
    <section class="gem-c-devolved-nations">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
        Applies to England
  </h2>
  </section>
  
        <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
        <div class="responsive-bottom-margin">
            <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
      <h2 class="gem-c-contents-list__title">
        Contents
  </h2>
      <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-the-review-is" data-track-options="{&quot;dimension29&quot;:&quot;What the review is&quot;}" href="#what-the-review-is">What the review is</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#who-can-take-part" data-track-options="{&quot;dimension29&quot;:&quot;Who can take part&quot;}" href="#who-can-take-part">Who can take part</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#arrange-a-review" data-track-options="{&quot;dimension29&quot;:&quot;Arrange a review&quot;}" href="#arrange-a-review">Arrange a review</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#during-the-farm-visit" data-track-options="{&quot;dimension29&quot;:&quot;During the farm visit&quot;}" href="#during-the-farm-visit">During the farm visit</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#after-the-review" data-track-options="{&quot;dimension29&quot;:&quot;After the review&quot;}" href="#after-the-review">After the review</a>
  
          </li>
      </ol>
  </nav>
  {% include "includes/print-page.html" %}
        </div>
      
        
 

  
        
  <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
      
          <div class="govspeak">
  <div class="call-to-action">
  <p>Before you visit a farm, print out both this guidance on what to do on the farm and the guidance on testing the species you’re reviewing:</p>
  
  <ul>
    <li><a rel="external" href="../vet/guidance/technical/cattle-test.html" class="govuk-link">cattle: testing required for an annual health and welfare review</a></li>
    <li><a rel="external" href="../vet/guidance/technical/sheep-test.html" class="govuk-link">sheep: testing required for an annual health and welfare review</a></li>
    <li><a rel="external" href="../vet/guidance/technical/pigs-test.html" class="govuk-link">pigs: testing required for an annual health and welfare review</a></li>
  </ul>
  </div>
  
  <h2 id="what-the-review-is">What the review is</h2>
  
  <p>The annual health and welfare review of livestock is designed to help farmers:</p>
  
  <ul>
    <li>reduce endemic diseases and conditions</li>
    <li>increase animal productivity</li>
    <li>improve animal welfare</li>
  </ul>
  
  <p>You may be asked by a farmer to carry out a review. It is not an inspection or audit and is optional.</p>
  
  <h3 id="what-a-farmer-will-ask-you-to-do">What a farmer will ask you to do</h3>
  
  <ol class="steps">
  <li>
  <p>Visit the farm and test for the endemic diseases or condition of the livestock type you’re reviewing to recommended standards - bovine viral diarrhoea (BVD) in dairy and beef cattle, effectiveness of worming treatments in sheep, porcine reproductive and respiratory syndrome (PRRS) in pigs.</p>
  </li>
  <li>
  <p>Advise on the health and welfare of the livestock you’re reviewing - examples of this could include lameness, body conditioning or mobility scoring.</p>
  </li>
  <li>
  <p>Give them a written report after the review, including recommended follow-up actions and the relevant endemic disease or condition test results from the laboratory.</p>
  </li>
  <li>
  <p>Give them a summary of the review they can use as evidence if the Rural Payments Agency (RPA) requests it when they claim.</p>
  </li>
  </ol>
  <p>The review must include all of these for a farmer to be eligible for funding.</p>
  
  <h3 id="what-a-review-can-include">What a review can include</h3>
  
  <p>You and the farmer can also choose to discuss biosecurity, medicine usage or both if it’s useful. The review is flexible, so you can focus on what’s important for the farm.</p>
  
  <h2 id="who-can-take-part">Who can take part</h2>
  
  <p>A farmer is eligible for a funded review if they keep any of the following:</p>
  
  <ul>
    <li>11 or more beef or dairy cattle</li>
    <li>21 or more sheep</li>
    <li>51 or more pigs</li>
  </ul>
  
  <h2 id="arrange-a-review">Arrange a review</h2>
  
  <p>The farmer will contact you to arrange a review.</p>
  
  <p>There’s no set amount of time for a review, but it’s likely to take between 2 and 3 hours of your time and the farmer’s time. The farmer can agree with you to spread the review over several regular visits to the farm or do it in a single visit.</p>
  
  <p>They’ll give you their agreement number, so you can include it in the review summary they’ll ask you for after you have done the review.</p>
  
  <p>The farmer must make sure the review is completed and they claim their funding within 6 months from the date they accepted their agreement offer. They can have one agreement for a review every 10 months for one eligible type of livestock.</p>
  
  <h2 id="during-the-farm-visit">During the farm visit</h2>
  
  <p>The farmer will ask you to carry out the required testing, and to give health and welfare advice about their livestock. You and the farmer may also discuss topics such as biosecurity or medicine usage.</p>
  
  <h3 id="test-for-endemic-diseases-or-conditions">Test for endemic diseases or conditions</h3>
  
  <p>Depending on the type of livestock you review, the farmer will ask you to test for:</p>
  
  <ul>
    <li>
  <abbr title="bovine viral diarrhoea">BVD</abbr> in beef cattle</li>
    <li>
  <abbr title="bovine viral diarrhoea">BVD</abbr> in dairy cattle</li>
    <li>the effectiveness of worming treatments in sheep</li>
    <li>
  <abbr title="porcine reproductive and respiratory syndrome">PRRS</abbr> in pigs</li>
  </ul>
  
  <p>The farmer will only be eligible for funding if you:</p>
  
  <ul>
    <li>test the minimum required number of animals for the type of review you’re doing</li>
    <li>carry out testing after their agreement date and before they claim</li>
    <li>get samples tested at a laboratory that meets the specifications for review testing</li>
  </ul>
  
  <p>Read the guidance:</p>
  
  <ul>
    <li><a rel="external" href="../vet/guidance/technical/cattle-test.html" class="govuk-link">cattle: testing required for an annual health and welfare review</a></li>
    <li><a rel="external" href="../vet/guidance/technical/sheep-test.html" class="govuk-link">sheep: testing required for an annual health and welfare review</a></li>
    <li><a rel="external" href="../vet/guidance/technical/pigs-test.html" class="govuk-link">pigs: testing required for an annual health and welfare review</a></li>
  </ul>
  
  <p>The farmer can use the review test results for other accreditation schemes they’re a member of. They should check with the accreditation scheme that they’ll accept testing from the review.</p>
  
  <p>They cannot use other accreditation scheme test results for this review funding or ask you to test for other medical conditions or diseases as part of the review.</p>
  
  <h3 id="advise-on-the-health-and-welfare-of-the-livestock">Advise on the health and welfare of the livestock</h3>
  
  <p>The farmer will ask you to advise on the health and welfare of the livestock you’re reviewing. Examples of this could include lameness, body conditioning or mobility scoring.</p>
  
  <p>The Department for Environment, Food and Rural Affairs (Defra) advises you to work with the farmer to improve the health and productivity of the animals. You could discuss easy wins and more ambitious targets to improve health and welfare.</p>

  <div class="govuk-inset-text govuk-body govuk-!-font-size-19">
    Reviewing biosecurity and medicine usage are optional parts of the review.
  </div>

  <h3 id="review-biosecurity-optional">Review biosecurity (optional)</h3>
  
  <p>The farmer may ask you to review biosecurity measures, explain the benefits of good biosecurity and give recommendations for improving it.</p>
  
  <p>For external biosecurity, this could include:</p>
  
  <ul>
    <li>purchasing policies</li>
    <li>farm visitors and vehicles</li>
    <li>wildlife</li>
    <li>interaction with other farm animals</li>
    <li>quarantine plans</li>
  </ul>
  
  <p>For internal biosecurity, this could include:</p>
  
  <ul>
    <li>feed stores</li>
    <li>contaminated water</li>
    <li>sheds</li>
    <li>isolation of sick stock</li>
    <li>movement control</li>
    <li>training farm workers</li>
  </ul>
  
  <p>You could direct the farmer to some of the <a rel="external" href="https://ahdb.org.uk/Contents/Item/Display/53637" class="govuk-link">species-specific biosecurity resources on the Agriculture and Horticulture Development Board (<abbr title="Agriculture and Horticulture Development Board">AHDB</abbr>) (opens in new tab).</a></p>
  
  <h3 id="review-medicine-usage-optional">Review medicine usage (optional)</h3>
  
  <p>The farmer may ask you to review farm medicines, including how to prescribe and use them.</p>
  
  <p>You could discuss:</p>
  
  <ul>
    <li>recommendations about medicines used on the farm, including antibiotics and vaccinations</li>
    <li>preventative medicines, including how and when they should be used, as well as information on how to store them</li>
    <li>the value of testing over treatment and why the right diagnostics can save money</li>
  </ul>
  
  <p>You can tell the farmer about the <a rel="external" href="https://ahdb.org.uk/medicine-hub" class="govuk-link"><abbr title="Agriculture and Horticulture Development Board">AHDB</abbr> Medicine Hub (opens in new tab)</a>. You could explain how it can help them and encourage them to register if they have not already.</p>
  
  <p>If you’re reviewing pigs, you could tell the farmer about the <a rel="external" href="https://ahdb.org.uk/electronic-medicine-book-for-pigs-emb-pigs" class="govuk-link"><abbr title="Agriculture and Horticulture Development Board">AHDB</abbr> Medicine book for pigs (opens in new tab)</a>.</p>
  
  <h2 id="after-the-review">After the review</h2>
  
  <p>When you have completed the review, the farmer will ask you to give them a written report and a document they can use as evidence the review has taken place.</p>
  
  <h3 id="give-the-farmer-a-written-report">Give the farmer a written report</h3>
  
  <p>You could either write a specific report for the review or include this information in an existing health and welfare document that’s identifiable as review information.</p>
  
  <p>The farmer will ask you to read over with them what was agreed each year, so you can both monitor progress until the next review takes place. Defra will not ask to see the report.</p>
  
  <p>The farmer will only be eligible for funding if your report includes:</p>
  
  <ul>
    <li>endemic disease or condition test results from the laboratory</li>
    <li>advice or suggested species-specific health and welfare actions</li>
    <li>other review findings - for example, biosecurity recommendations and medicine usage</li>
    <li>agreed achievable actions to address issues raised by the review or testing - likely to be 2 to 3 but can be based on individual needs</li>
  </ul>
  
  <h3 id="give-the-farmer-evidence-the-review-took-place">Give the farmer evidence the review took place</h3>
  
  <p>The <abbr title="Rural Payments Agency">RPA</abbr> may ask the farmer to supply evidence that the review took place.</p>
  
  <p>The farmer will ask you for a summary of the review they can use as evidence. They’ll request you provide it as a separate document and that you include your signature and date. You can provide the summary and signature digitally or on paper.</p>
  
  <p>The farmer will only be eligible for funding if your summary includes:</p>
  
  <ul>
    <li>the agreement number</li>
    <li>the business name and SBI number where the review took place</li>
    <li>the date of your last visit to the farm for the review</li>
    <li>the type of livestock reviewed</li>
    <li>confirmation the minimum number of animals being reviewed were on the farm when you did the review</li>
    <li>confirmation you carried out testing in accordance with the review’s disease and endemic conditions testing guidance</li>
    <li>the date you completed disease and endemic condition testing</li>
    <li>the unique reference number for laboratory test results</li>
    <li>your name and Royal College of Veterinary Surgeons (<abbr title="Royal College of Veterinary Surgeons">RCVS</abbr>) number</li>
    <li>confirmation you have given the farmer a written report</li>
  </ul>
  
  </div>
  
  </div>
  
        
  
  <div class="published-dates-button-group">
    <div class="govuk-!-display-none-print govuk-!-margin-bottom-3" data-module="gem-track-click" data-gem-track-click-module-started="true">
    <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/how-to-carry-out-an-annual-health-and-welfare-review-of-livestock" data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button" data-button-location="bottom" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
      <input type="hidden" name="base_path" value="/guidance/how-to-carry-out-an-annual-health-and-welfare-review-of-livestock">
  </form>
  </div>
    
  <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:2},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
  </div>
  </div>
  
  
  
        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      Contents
  </a>
  
          </div>
        </div>
    </div>
    </div>
    
  <div class="govuk-grid-column-one-third">
    
  <div class="gem-c-contextual-sidebar">
  
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
        <h2 id="related-nav-related_items-18660664" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>
  
  
  
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-18660664" data-module="gem-toggle" data-gem-toggle-module-started="true">
  
      <h3 id="related-nav-collections-18660664" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>
  
    <ul class="gem-c-related-navigation__link-list">
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/annual-health-and-welfare-review-of-livestock" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Annual health and welfare review of livestock&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}" href="../v15/landing-page">Annual health and welfare review of livestock</a></li>
  
    </ul>
  </nav>
  
  </div>
  
  
  </div>
  
  </div>
  
  </div>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          
    <div class="gem-c-contextual-footer">
      
    </div>
  
  
      </div>
    </div>
  
  
  
      </main>

      {% endblock %}
