{% extends "layouts/layout.html" %}

{% block pageTitle %}
Health and welfare review funding for this organisation
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Are these details correct?
    </h1>
<!--
    <h2 class="govuk-heading-m">Arthington Farm Ltd</h2>
-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Farmer name
        </dt>
        <dd class="govuk-summary-list__value">
          David Mitchell
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          Drummonds
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number
        </dt>
        <dd class="govuk-summary-list__value">
          107684959
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          Pinewood Way<br>Woods<br>Bradford<br>BN32 4TR
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>janedoe@yahoo.com</p>

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
-->
    </dl>
    
  </dl>
    
  <form action="../apply/which-review.html" method="get">

    <button class="govuk-button" data-module="govuk-button">Confirm and continue</button>

    <p><a href= "https://www.gov.uk/claim-rural-payments">Update your details on the Rural Payments service</a>, if they’re not correct.</p>

  </form>



  </div>
</div>


{% endblock %}