{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-labs.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="html-publication" lang="en">
          

  <div class="publication-external">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-environment-food-rural-affairs">
      <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
</a>
</div>
        </li>
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/rural-payments-agency">
      <span class="gem-c-organisation-logo__name">Rural Payments <br>Agency</span>
</a>
</div>
        </li>
    </ul>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
  

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl gem-c-title__context">
    Guidance
  </span>


  <h1 class="gem-c-title__text govuk-heading-xl">
    Recommended laboratories to carry out a Worming Treatment Check test in sheep 
  </h1>
</div>
  <p class="publication-header__last-changed">Published 20 April 2023</p>

  </header>


  
  <section class="gem-c-devolved-nations">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England
</h2>
</section>

<div id="contents">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
          <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#apha-carmarthen-veterinary-investigation-centre" data-track-options="{&quot;dimension29&quot;:&quot;\nAPHA Carmarthen Veterinary Investigation Centre&quot;}" href="#apha-carmarthen-veterinary-investigation-centre">
APHA Carmarthen Veterinary Investigation Centre</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#biobest-laboratories" data-track-options="{&quot;dimension29&quot;:&quot;Biobest Laboratories&quot;}" href="#biobest-laboratories">Biobest Laboratories</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#techion-uk-fecpak" data-track-options="{&quot;dimension29&quot;:&quot;Techion UK (FECPAK)&quot;}" href="#techion-uk-fecpak">Techion UK (FECPAK)</a>

        </li>
    </ol>
</nav>

        
{% include "includes/print-page.html" %}
      </div>






    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
    
        <div class="govspeak">
<p>The Rural Payments Agency (<abbr title="Rural Payments Agency">RPA</abbr>) recommends that vets send samples to a laboratory on this list.</p>

<p>These laboratories follow the SCOPS testing guidance for the review and meet one or more of the following specifications:</p>

<ul>
  <li>ISO/IEC 17025 accredited</li>
  <li>UKAS accredited (UK accredited) for a worm egg count</li>
  <li>part of the <a rel="external" href="http://apha.defra.gov.uk/ahvla-scientific/vetqas/PT0114.html" class="govuk-link">Animal and Plant Health Agency (<abbr title="Animal and Plant Health Agency">APHA</abbr>) VetQAS worm eggs count proficiency scheme</a> and has provided results defined by the z-score as satisfactory</li>
</ul>

<p>A farmer will not be eligible for funding unless samples are tested at a laboratory that meets at least one of these specifications.</p>

<p>If you have a question about laboratories used for review testing, or want to be added to this list, contact the <abbr title="Rural Payments Agency">RPA</abbr> by email or phone.</p>

<p>Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>

<p>Telephone: 03000 200 301<br> 
Monday to Friday, 8:30am to 5pm, except bank holidays<br></p>

<p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>

<h2 id="apha-carmarthen-veterinary-investigation-centre">
<abbr title="Animal and Plant Health Agency">APHA</abbr> Carmarthen Veterinary Investigation Centre</h2>

<div class="contact">
<p>Job’s Well Road<br>
Johnstown<br>
Carmarthen<br>
SA31 3EZ<br></p>

<p>Telephone: 03000 600016</p>

<p>Email: <a href="mailto:carmarthen@apha.gov.uk" class="govuk-link">carmarthen@apha.gov.uk</a> and <a href="mailto:carmarthenvicparasitology@apha.gov.uk" class="govuk-link">carmarthenvicparasitology@apha.gov.uk</a></p>

<p>You should send requests to both email addresses.</p>
</div>

<h2 id="biobest-laboratories">Biobest Laboratories</h2>

<p>Contact Biobest Laboratories and tell them the testing is for an annual health and welfare review. They’ll provide the submission forms and sampling kits you must use.</p>

<div class="contact">
<p>6 Charles Darwin House<br> 
The Edinburgh Technopole<br> 
Milton Bridge<br> 
EH26 0PY<br></p>

<p>Telephone: 0131 440 26 28</p>

<p>Email: <a href="mailto:enquiry@biobest.co.uk" class="govuk-link">enquiry@biobest.co.uk</a></p>
</div>

<h2 id="techion-uk-fecpak">Techion UK (FECPAK)</h2>

<div class="contact">
<p>AIEC Office<br>
Gogerddan Campus<br>
Aberystwyth<br>
Ceredigion<br>
SY23 3EE<br></p>

<p>Telephone: 01970 821 918</p>

<p>Email: <a href="mailto:uk@techion.com" class="govuk-link">uk@techion.com</a></p>
</div>

</div>


</div>
</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
</a>

  </div>
</div>


    </main>



{% endblock %}
