{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
     <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<!-- Title + Search -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Start a new application
      </h1>
 
<form class="form" action="../v8/a-digital-check-answers.html" method="_blank">

  
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="crn">
      Customer reference number (CRN)
    </label>
  
    
    
    <div id="crn-hint" class="govuk-hint">
      e.g. 1234567898
    </div>
  
  <input class="govuk-input govuk-!-width-full-width" id="crn" name="crn" type="text" aria-describedby="crn-hint" autocomplete="false">
  </div>
  
  
      
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="password--">
      Single business identifier (SBI)
    </label>
    <div id="sbi-hint" class="govuk-hint">
      e.g. 123456789
    </div>
  
  <input class="govuk-input govuk-!-width-full-width" id="password--" name="password--" type="password" autocomplete="false">

  

  </div>
  
  
      
  
    
      
    
  <button class="govuk-button">Sign in</button>



</form>
  
  
  
  
     
    </div>
  </div>

{% endblock %}