{% extends "layouts/layout.html" %}


{% block pageTitle %}
Review the health and welfare of your livestock
{% endblock %}
{% set serviceName %}
Review the health and welfare of your livestock
{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Subsection</a>
    </li>
  </ol>
</div>

<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="farmer">
    Review the health and welfare of your livestock
  </a>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check if you are eligible to apply
    </h1>

    <h2 class="govuk-heading-m">Overview</h2>
    <p>You can apply for funding for a yearly vet visit that will cover:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>a check of your biosecurity measures and advice on improving it</li>
          <li>recommendations about medicines used on the farm</li>
          <li>a health and welfare review</li>
          <li>testing for BVD in cattle, resistance to parasite treatments in sheep and PRRSv in pigs</li>
          <li>advice on access to grants and payments </li>
          </ul>
    <p>You and your vet will agree on the best actions for your farm.</p>
    <p>The vet will also collect data that will be used to improve understanding of the health and welfare of the national stock. The data will not be used for inspection purposes.</p>



          <h2 class="govuk-heading-m">Who is eligible</h2>
          <p>You are eligible for funding if you’re a commercial cattle, pig and sheep keeper who has:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>received BPS (direct payments) in the last 12 months</li>
            <li>at least one of the following:</li>
              <ul class="govuk-list govuk-list--bullet">
                <li>10 cattle</li>
                  <li>20 sheep</li>
                  <li>50 pigs</li></ul>
              </ul>



    <h2 class="govuk-heading-m">Payments</h2>
          <p>Payments will range from £374 to £684, depending on the type of livestock you have.</p>
          <!-- <h3>Type of Livestock</h3> -->
    <p><strong>Beef cattle</strong> – £522</p>
    <p><strong>Dairy cattle</strong> – £374</p>
    <p><strong>Sheep</strong> – £436</p>
    <p><strong>Pigs</strong> – £684</p>

    <p>You will receive payment in the same way you do for the Basic Payment Scheme (BPS).</p>

          <h2 class="govuk-heading-m">What you need to do</h2>
    <p>Once you apply for funding, you will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>need to contact your vet to arrange a visit</li>
            <li>pay the vet</li>
          </ul>
          <p>Following the vet visit, it will usually take Defra about 28 days to send the funding. You may need to pay the vet before you get your funding.</p>


          <h2 class="govuk-heading-m">How to apply</h2>
            <p><strong><a href="farmer-step-2" class="docs-creator">Apply for funding</a></strong>, it takes around 5 minutes.</p>


          <h2 class="govuk-heading-m">Contact</h2>
            <p>If you cannot apply online or have a question about your application, contact:</p>

          <div class="contact">
            <p><strong>Rural Payments Agency</strong><br>
              <a href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a><br>
              Telephone: 03000 200 301<br>
              Monday to Friday, 8:30am to 5pm</p>
          </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="farmer">
          Review the health and welfare of your livestock
        </a>
      </h2>
    </div>

    <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden " data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">

      <ol class="app-step-nav__steps">


        <!-- STEP 1 -->
        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show id="check-if-you-are-eligible" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check if you are eligible
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-if-you-are-eligible-1">
            <p class="app-step-nav__paragraph">Livestock farmers can apply...</p>
            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                <a data-position="1.1" class="app-step-nav__link js-link" href="#content">
                  <span class="app-step-nav__link-active-context govuk-visually-hidden">You are currently viewing: </span>Check if you are eligible to apply</a>
              </li>
            </ol>
          </div>
        </li>



        <!-- STEP 2 -->
        <li class="app-step-nav__step js-step" id="get-a-reference-code" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get a reference code to book a review with your vet
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-reference-code-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="farmer-step-2">Apply for health and welfare review funding</span>
                </a>
              </li>
            </ol>

          </div>
        </li>



        <!-- STEP 3 -->
        <li class="app-step-nav__step js-step" id="book-a-review" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Book a review with your vet
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-book-a-review-3">
            <p class="app-step-nav__paragraph">You need to arrange a date for a review with your vet.</p>
            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="farmer-step-3">Link to guidance</a>
              </li>

            </ol>
          </div>
        </li>



        <!-- STEP 4 -->
        <li class="app-step-nav__step js-step" id="get-ready-for-your-review">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get ready for your review
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-ready-for-your-review-4">
            <p class="app-step-nav__paragraph">You need to get ready for your review.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="farmer-step-4">Link to guidance</a>
              </li>
            </ol>

          </div>
        </li>




         <!-- STEP 5 -->
         <li class="app-step-nav__step js-step" id="have-your-review" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Have your review
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-have-your-review-5">
            <p class="app-step-nav__paragraph">Your vet will visit your farm and carry out the review.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.1" class="app-step-nav__link js-link" href="farmer-step-5">Link to guidance</a>
              </li>
            </ol>
          </div>
        </li>




        <!-- STEP 6 -->
        <li class="app-step-nav__step js-step" id="get-funding-to-pay-for-your-review" >
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 6
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get funding to pay for the review
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-funding-to-pay-for-your-review-6">
            <p class="app-step-nav__paragraph">You can get funding to pay your vet.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="farmer-step-6">Apply for funding to pay for the review</a>
              </li>
            </ol>

          </div>
        </li>



      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
