{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../applications">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Reference: AHWR-F021-723B
    </h1>

    <h2 class="govuk-heading-l">
      Arthington Farm
      <strong class="govuk-tag govuk-tag--grey">
        Withdrawn
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of applicant:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Jane Doe</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          106599006
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Arthington Ln, Arthington, Otley LS21 1PH
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>janedoe@yahoo.com</p>
        </dd>
      </div>
    </dl>

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#applied">
            Application
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#paid">
            Payment
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#history">
            History
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="applied">
        <h2 class="govuk-heading-l" style="color: #b1b4b6;">Applied</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data requested</th>
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Details correct?</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Review type</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">Beef</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Lifestock number</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">11 or more</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">T&Cs agreed?</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
        <h2 class="govuk-heading-l" style="color: #b1b4b6;">Claimed</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data requested</th>
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Details correct?</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Date of visit</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">06/11/2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Vet RCVS</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">7116359</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Vet name</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">Nora Williams</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Test result URN</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">URN-7374-48BC</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="paid">
        <h2 class="govuk-heading-l" style="color: #b1b4b6;">To be paid</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data requested</th>
              <th scope="col" class="govuk-table__header" style="color: #b1b4b6;">Data entered</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Payment amount</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">£522</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="color: #b1b4b6;">Payment due</td>
              <td class="govuk-table__cell" style="color: #b1b4b6;">21/12/2022</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
        <h2 class="govuk-heading-l">Activity Log</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">25/11/2022 - Application withdrawn</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">23/11/2022 - Claim submitted</th>
            </tr>
            <tr>
              <th scope="col" class="govuk-table__header">12/08/2022 - Application created</th>
            </tr>
          </thead>
        </table>
      </div>
      
    </div>

  </div>
</div>

{% endblock %}
