{% extends "layouts/layout-defra-authoriser.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../a-digital.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Reference: AHWR-F022-321G
    </h1>

    <h2 class="govuk-heading-l">
      Greenfield & Co
      <strong class="govuk-tag govuk-tag--orange govuk-!-margin-left-2">
        In check
      </strong>
    </h2>

    <!-- "Pop-up" box -->
    <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left" style="background-color:#fafafa; border-color:#000000; border-width:medium;">
      <h1 class="govuk-panel__title-s govuk-!-font-size-36 govuk-!-margin-top-1" style="color:#000000;">
        What would you like to withdraw?
      </h1>

      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdrawal" name="withdrawal" type="radio" value="x-greenfield-&-co-withdrawing2" onclick="setLocation(this);">
                <label class="govuk-label govuk-radios__label" for="withdrawal">
                  Claim only
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdrawal-2" name="withdrawal" type="radio" value="x-greenfield-&-co-withdrawing2" onclick="setLocation(this);">
                <label class="govuk-label govuk-radios__label" for="withdrawal-2">
                  The whole agreement
                </label>
              </div>
          </fieldset>
        </div>
        <button class="govuk-button govuk-button govuk-!-margin-bottom-3" data-module="govuk-button">Yes</button>
        <a href="javascript:history.go(-1)" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3" data-module="govuk-button">
          No
        </a>
      </form>

    </div>
  
      <!--Application stages (in tabs)-->
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#applied">
              Agreement
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claimed">
              Claim
            </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#history">
                History
              </a>
              </li>
        </ul>

        <div class="govuk-tabs__panel" id="applied">
          <h2 class="govuk-heading-l">Agreement</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of agreement</th>
                  <td class="govuk-table__cell">13/02/2023</td>
                </tr>
                <th scope="row" class="govuk-table__header">Business details correct</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type of review</th>
                <td class="govuk-table__cell">Beef</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Number of livestock</th>
                <td class="govuk-table__cell">Minimum 11</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Agreement accepted</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
          <h2 class="govuk-heading-l">Claimed</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of claim	</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Review details confirmed</th>
                <td class="govuk-table__cell">03/03/2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of review</th>
                <td class="govuk-table__cell">18/02/2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Vet’s name</th>
                <td class="govuk-table__cell">Corrine Bailey</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Vet’s RCVS number</th>
                <td class="govuk-table__cell">10938475</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Test results unique 
                  reference number (URN)</th>
                <td class="govuk-table__cell">URN-7366-28DE</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
          <h2 class="govuk-heading-l">History</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Time</th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header">User</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">23/03/2023</td>
                <td class="govuk-table__cell">10:00:12</td>
                <td class="govuk-table__cell">Recommend to reject</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">24/03/2023</td>
                <td class="govuk-table__cell">09:30:00</td>
                <td class="govuk-table__cell">Recommend to pay</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25/03/2023</td>
                <td class="govuk-table__cell">11:10:15</td>
                <td class="govuk-table__cell">Authorise to reject</td>
                <td class="govuk-table__cell">Amanda Hassan</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25/03/2023</td>
                <td class="govuk-table__cell">11:10:15</td>
                <td class="govuk-table__cell">Authorise to pay</td>
                <td class="govuk-table__cell">Amanda Hassan</td>
              </tr>
        </div>

      </tbody>
    </table>
  </div>
</div>
</div>
      
    </div>


  </div>
   
  <div class="govuk-grid-column-one-third">
    <a href="x-greenfield.html" role="button" draggable="false" class="govuk-link govuk-body" style="color:#d4351c; float:right;" data-module="govuk-button">
      Cancel
    </a>
  </div>
  
</div>

{% endblock %}
