{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for vets
{% endblock %}
{% set serviceName %}
How to carry out an annual livestock health and welfare review
{% endset%}


{% block header %}
{% include "includes/publisher/header.html" %}
{% include "includes/publisher/global-bar.html" %}
{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<style>
  .navigation-container {
    padding: 20px 0 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b1b4b6
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
</style>

<div class="govuk-width-container ">
        
  <main class="govuk-main-wrapper " id="main-content" role="main">
    
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div>
  <span class="govuk-caption-xl govuk-!-margin-top-9">Guidance</span>
  <h1 class="govuk-heading-xl">How to carry out an annual health and welfare review of livestock</h1>
</div>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<p class="govuk-body govuk-!-font-size-24">
Vets should check what to do during and after a review including disease and condition testing, advice on increasing animal productivity and improving welfare.
</p>

<aside class="navigation-container">
  <ul class="govuk-list govuk-body-s">
  <li>Contents</li>
  <li class="list-item--dashed"><a href="#arrangereview">Arrange a review</a></li>
  <li class="list-item--dashed"><a href="#mustinclude">What a review must include</a></li>
  <li class="list-item--dashed"><a href="#endemic">Test for endemic diseases or conditions</a></li>
  <li class="list-item--dashed"><a href="#advice">Advise on the health and welfare of the livestock</a></li>
  <li class="list-item--dashed"><a href="#caninclude">What a review can include</a></li>
  <li class="list-item--dashed"><a href="#biosecurity">Review biosecurity</a></li>
  <li class="list-item--dashed"><a href="#medicine">Review medicine usage</a></li>
  <li class="list-item--dashed"><a href="#after">After the review</a></li>
  <li class="list-item--dashed"><a href="#report">What to include in your written report</a></li>
  <li class="list-item--dashed"><a href="#reviewsummary">What to include in your review summary</a></li>
  <li class="list-item--dashed"><a href="#funding">How much funding the farmer will get</a></li>
</ul>
</aside>

<p class="govuk-body">
You may be asked by a farmer to carry out an annual health and welfare review. A review will help a farmer to:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>reduce endemic diseases and conditions </li>
<li>increase animal productivity</li>
<li>improve animal welfare</li>
</ul>

<p class="govuk-body">
A farmer is eligible for a funded annual health and welfare review of livestock if they keep one of the following:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>11 or more beef cattle</li>
<li>11 or more dairy cattle</li>
<li>21 or more sheep</li>
<li>51 or more pigs</li>
</ul>

<p class="govuk-body">The review is not an inspection or audit and is optional.</p>


<h2 id="arrangereview" class="govuk-heading-m">Arrange a review</h2>

<p class="govuk-body">
  The farmer will contact you to agree when you’ll carry out the review. 
</p>

<p class="govuk-body">They’ll give you their agreement number, so you can include it in the review summary they’ll ask you for after you have done the review.</p>
<p class="govuk-body">There’s no set amount of time for a review, but it’s likely to take between 2 and 3 hours of your time and the farmer’s time. The farmer can agree with you to spread the review over several regular visits to the farm or do it in a single visit.</p>
<p class="govuk-body">The farmer needs to make sure the review is completed and they have claimed for their funding within 6 months from the date they accepted their agreement offer. They can have one review every 10 months for one type of livestock.</p>

<h2 id="mustinclude" class="govuk-heading-m">What a review must include</h2>

<p class="govuk-body">A farmer will only be eligible for funding if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>visit the farm and test for the endemic diseases or condition of the livestock type you’re reviewing to recommended standards</li>
  <li>advise on the health and welfare of these livestock - including issues such as lameness, body conditioning or mobility scoring</li>
  <li>give them a written report after the review, including recommended follow-up actions and the relevant endemic disease or condition test results from the laboratory </li>
  <li>give them a summary of the review after you have completed it - they may be asked to provide this as evidence when they claim</li>
  </ul>

  <h2 id="endemic" class="govuk-heading-s">Test for endemic diseases or conditions</h2>

<p class="govuk-body">
Depending on the type of livestock you review, the farmer will ask you to test for: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>bovine viral diarrhoea (BVD) in beef cattle</li>
<li>bovine viral diarrhoea (BVD) in dairy cattle</li>
<li>the effectiveness of worming treatments in sheep</li>
<li>porcine reproductive and respiratory syndrome (PRRS) in pigs</li>
</ul>

<p class="govuk-body">
The farmer will only be eligible for funding if you:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>test the minimum required number of animals for the type of review you’re doing</li>
  <li>carry out testing after their agreement date and before they claim</li>
  <li>get samples tested at a laboratory that meets the specifications for review testing</li>
  </ul>

  <p class="govuk-body">
    Read the guidance on <a href="../vet/guidance/technical.html">how to carry out disease and endemic condition testing</a>
    </p>
    
    <p class="govuk-body">
      The farmer can use the review test results for other accreditation schemes they’re a member of. The farmer will need to check with the accreditation scheme that they'll accept testing from the review. 
    </p>
    
    <p class="govuk-body">They cannot use other accreditation scheme test results for this review funding or ask you to test for other medical conditions or diseases as part of the review.</p>

    <h2 id="advice" class="govuk-heading-s">Advise on the health and welfare of the livestock</h2>

    <p class="govuk-body">
      The farmer will ask you to advise on the health and welfare of the livestock you’re reviewing. This may include lameness, body conditioning or mobility scoring.
    </p>
    <p class="govuk-body">
      Defra advises you to work with the farmer to improve the health and productivity of their animals. You could discuss easy wins and more ambitious targets to improve health and welfare. 
    </p>
    
    <h2 id="caninclude" class="govuk-heading-m">What a review can include</h2>

    <p class="govuk-body">You and the farmer can choose to discuss biosecurity, medicine usage or both. The review is flexible, so you can focus on what’s important for the farm.</p>

    <h2 id="biosecurity" class="govuk-heading-s">Review biosecurity</h2>

<p class="govuk-body">
  The farmer may ask you to review biosecurity measures, explain the benefits of good biosecurity and give recommendations for improving it.
</p>

<p class="govuk-body">For external biosecurity, this could include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>purchasing policies</li>
<li>farm visitors and vehicles</li>
<li>wildlife</li>
<li>interaction with other farm animals</li>
<li>quarantine plans</li>
</ul>

<p class="govuk-body">For internal biosecurity, this could include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>feed stores</li>
<li>contaminated water</li>
<li>sheds</li>
<li>isolation of sick stock</li>
<li>movement control</li>
<li>training farm workers</li>
</ul>

<p class="govuk-body">You could direct the farmer to some of the <a href="https://ahdb.org.uk/Contents/Item/Display/53637" target="_blank">species-specific biosecurity resources on the Agriculture and Horticulture Development Board (AHDB).</a></p>

<h2 id="medicine" class="govuk-heading-s">Review medicine usage</h2>

<p class="govuk-body">
The farmer may ask you to review farm medicines, including how to prescribe and use them.
</p>

<p class="govuk-body">You could discuss:</p>
<ul class="govuk-list govuk-list--bullet">
<li>recommendations about medicines used on the farm, including antibiotics and vaccinations</li>
<li>preventative medicines, including how and when they should be used, as well as information on how to store them</li>
<li>the value of testing over treating and why the right diagnostics can save money</li>
</ul>

<p class="govuk-body">
You can tell the farmer about the 
<a class="govuk-link" href="https://ahdb.org.uk/medicine-hub" target="_blank">Agriculture and Horticulture Development Board Medicine Hub.</a>
 You could explain how it can help them and encourage them to register if they have not already.
</p>
<p class="govuk-body">If you’re reviewing pigs, you could tell the farmer about the <a href="https://ahdb.org.uk/electronic-medicine-book-for-pigs-emb-pigs">Agriculture and Horticulture Development Board Medicine book for pigs.</a></p>

<h2 id="#" class="govuk-heading-m">After the review</h2>

<p class="govuk-body">When you have completed the review, the farmer will ask you to provide them with a written report and summary of the review.</p>

<h2 id="report" class="govuk-heading-s">What to include in your written report</h2>

<p class="govuk-body">
  The farmer will only be eligible for funding if your report includes: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>endemic disease or condition test results from the laboratory</li>
<li>advice or suggested species-specific health and welfare actions</li>
<li>other review findings - for example, biosecurity recommendations and medicine usage</li>
<li>agreed achievable actions to address issues raised by the review or testing 
  - likely to be 2 to 3 but can be more or less based on individual needs</li>
</ul>

<p class="govuk-body">You could either write a specific report for the review or include this information in an existing health and welfare document that’s clearly identifiable as review information.</p>
<p class="govuk-body">The farmer will ask you to read over with them what was agreed each year, so you can both monitor progress until the next review takes place. Defra will not ask to see the report.</p>

<h2 id="reviewsummary" class="govuk-heading-s">What to include in your review summary</h2>

<p class="govuk-body">The Rural Payments Agency (RPA) may ask the farmer to supply the review summary as evidence that the review took place.</p>

<p class="govuk-body">The farmer will only be eligible for funding if your review summary includes:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the agreement number</li>
  <li>the business name and SBI number where the review took place</li>
  <li>the date of your last visit to the farm for the review</li>
  <li>the type of livestock reviewed</li>
  <li>confirmation the minimum number of animals being reviewed were on the farm when you did the review</li>
  <li>confirmation you carried out testing in accordance with the review’s disease and endemic conditions testing guidance</li>
  <li>the date you completed disease and endemic condition testing</li>
  <li>the unique reference number for laboratory test results</li>
  <li>your name and Royal College of Veterinary Surgeons (RCVS) number</li>
  <li>confirmation you have given the farmer a written report</li>
</ul>

<p class="govuk-body">The farmer will request that you provide your summary as a separate document. They’ll ask you to include your signature and the date the review took place on the summary. You can provide the summary and signature digitally or on paper.</p>

<h2 id="funding" class="govuk-heading-m">How much funding the farmer will get</h2>
<p class="govuk-body">
  A farmer will get funding for each livestock type, not for each animal. 
</p>

<p class="govuk-body">They’ll get:</p>
<ul class="govuk-list govuk-list--bullet">
<li>£522 for a beef cattle review</li>
<li>£372 for a dairy cattle review</li>
<li>£436 for a sheep review</li>
<li>£684 for a pig review</li>
</ul>

<p class="govuk-body">
The funding amount for each livestock type is different because: 
</p>
<ul class="govuk-list govuk-list--bullet">
<li>testing may take longer for some livestock types</li>
<li>some results cost more to analyse</li>
</ul>

<p class="govuk-body">
The funding will cover the endemic disease or condition testing costs. It’ll contribute towards the costs for both your time and the farmer’s time.
</p>






    <!--Footer-->
    <div class="app-back-to-top" style="margin: 50px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
      </a>
    </div>
    
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      {% block sidebar %}
      {% include "includes/publisher/transition-countdown.html" %}
      {% include "includes/publisher/related-content.html" %}
      {% endblock %}
    </div>
  </div>

</div>

{% endblock %}
