{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for an Annual Health and Welfare Review
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Registration complete
        </h1>
      </div>
      <br>

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">
        We’ll check the information you’ve provided and send you an <a href="all-emails">email</a> to confirm one of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you’re eligible to apply</li>
          <li>what you need to do to be eligible to apply</li>
        </ul>

      <p class="govuk-body">This may take a few days but can take longer.</p>
      <p class="govuk-body">If you don’t receive an email, contact the Rural Payments Agency.</p>

      <ul class="govuk-list">
        <li>Rural Payments Agency</li>
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
        <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <p class="govuk-body govuk-!-margin-top-9">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>





{% endblock %}
