{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}
{% include "includes/publisher/global-bar.html" %}
{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for farmers</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<style>
  .navigation-container {
    padding: 20px 0 20px 0;
    margin-top: 30px;
    border-top: 1px solid #b1b4b6
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
    <span class="govuk-caption-xl gem-c-title__context govuk-!-margin-top-9">Guidance</span>
    <h1 class="govuk-heading-xl">
      SFI annual health and welfare review
    </h1>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk-!-font-size-24">
Farmers who keep cattle, sheep and pigs can get funding to pay for a vet or vet-led team to visit their farm and carry out an annual health and welfare view.
    </p>

    <aside class="navigation-container">

      <ul class="govuk-list govuk-body-s">
      <li>Contents</li>
      <li class="list-item--dashed"><a href="#checkeligibility">Check you’re eligible to apply</a></li>
      <li class="list-item--dashed"><a href="#register">Register your interest</a></li>
      <li class="list-item--dashed"><a href="#apply">Apply for a review</a></li>
    </ul>

  </aside>

    <!-- Intro -->
    <p class="govuk-body">
      To apply to get funding for a vet or team chosen by a vet, to visit your farm and carry out a health and welfare review you need to: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check you’re eligible to apply </li>
      <li>register your interest</li>
    </ul>

    <p><h1 id="checkeligibility"class="govuk-heading-m">Check your eligible to apply</h1></p>
    <p class="govuk-body">
      To be eligible to apply you must have a minimum number of animals when the vet visits your farm to do the review.
    </p>

    <p class="govuk-body">You must have one of the following:  </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>11 or more beef cattle </li>
      <li>11 or more dairy cattle </li>
      <li>21 or more sheep </li>
      <li>51 or more pigs  </li>
    </ul>

    <p class="govuk-body">
      The livestock must be registered in England and you must be responsible for their welfare.
      The business you’re applying for must have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a valid single business identifier (SBI) number linked to a permanent or temporary English County Parish Holding (CPH) number</li>
      <li>a CPH number that’s not an ‘8000’ series</li>

  <p class="govuk-body">If you’ve received the lump sum payment to leave or retire from farming you can still apply for a review.</p>

  <h2 id="register" class="govuk-heading-m">Register your interest</h2>

  <p class="govuk-body">When you register you’ll be asked to provide the following information to check you’re eligible to register:</p>


  <ul class="govuk-list govuk-list--bullet">
        <li>your customer reference number (CRN)</li>
        <li>the single business identifier (SBI) number of the business you want to apply for the review</li>
        <li>the email associated to your Rural Payments account </li>
  </ul>

  <p class="govuk-body">After you’ve registered you’ll receive an email with information about the next steps. </p>

  <p class="govuk-body">You may have to wait a short time before you’re given access to the service depending on how many people register. 
        This will be explained in the email.</p>
  
  <h2 id="apply" class="govuk-heading-m">Apply for a review</h2>

  <p class="govuk-body">Jump to <a href="#" class="govuk-link">HTML example</a>.</p>

    

    <!--Footer-->
    <div class="app-back-to-top" style="margin: 50px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
      <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
        <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
      </a>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      {% block sidebar %}
      {% include "includes/publisher/transition-countdown.html" %}
      {% include "includes/publisher/related-content.html" %}
      {% endblock %}
    </div>
  </div>

</div>



{% endblock %}
