{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for an Annual Health and Welfare Review
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"></span>
      <h1 class="govuk-heading-l">
        Register your interest in a health and welfare review of your livestock 
      </h1>

      <p class="govuk-heading-body">To be eligible for a review you must have one of the following: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>11 or more beef or dairy cattle </li>
        <li>21 or more sheep </li>
        <li>51 or more pigs  </li>
        </ul>

      <p class="govuk-heading-body">The animals must be registered in England and you must be responsible for their welfare.</p>

      <p class="govuk-heading-body">If you’ve received the lump sum payment to leave or retire from farming you’re still eligible for a review.</p>
        
      <p class="govuk-heading-body">Your business must have:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>a single business identifier (SBI) linked to a county parish holding (CPH) number registered in England</li>
          <li>the CPH number can be permanent or temporary</li>
      </ul>

      <p class="govuk-heading-body">You can only apply for a review on a CPH registered in England. You cannot apply for a review on CPHs registered in Wales or Scotland.</p>

      <p class="govuk-heading-body">The CPH number cannot be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an 8000 number used for abattoirs, pet food manufacturers, racing pigeon establishments and showgrounds</li>
        <li>a 9000 number used for poultry keepers</li>
    </ul>

    <p class="govuk-heading-body">During this phase we’re inviting applications from farmers who are one of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>eligible for the Basic Payment Scheme (BPS) - this means the SBI must have at least 5 ha of BPS eligible land and 5 or more BPS entitlements on 16 May 2022</li>
      <li>anticipating making a 2023 BPS claim</li>
      </ul>

      <a href="crn-enter.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Register now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-l">
        Before you register 
      </h2>

      <p class="govuk-heading-body">You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your customer reference number (CRN)</li>
        <li>the single business identifier (SBI) number of the business you want to apply for the review</li>
        <li>the business email linked to the business registering </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Need to update your SBI or email address?
          </span>
        </summary>
        <div class="govuk-details__text">
      <p>If you need to update your SBI or email address you’ll need to <a href="guidance-for-farmers">sign in to the 
        Rural Payments service </a> before you use this service and update your details.  You may need your CRN to sign in.</a></p>
      </div>
      </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with your CRN
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If you’ve lost or forgotten your CRN, contact the Rural Payments Agency.</p>
            <ul class="govuk-list">
              <li>Rural Payments Agency</li>
              <li>Telephone: 03000 200 301</li>
              <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
              <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
            </ul>
            <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>
          </div>
        </details>

            <h2 class="govuk-heading-m">Get help with registering</h2>
            <p>If you’re unable to sign in to your Rural Payments account or have a question about your registration, contact the Rural Payments Agency.</p>
            <ul class="govuk-list">
              <li>Rural Payments Agency</li>
              <li>Telephone: 03000 200 301</li>
              <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
              <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
            </ul>
            <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/call-charges">call charges</a></p>
          </div>
        </div>



  </div>
</div>

{% endblock %}
