{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding for a vet visit
{% endset%}

{% block content %}

<!-- <a href="index" class="govuk-back-link">Back</a> -->
<!-- <a class="govuk-back-link" href="/url/of/previous/page">Back</a> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">



          <h1 class="govuk-heading-l">Check your answers</h1>

          <h2 class="govuk-heading-m">Eligibility</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                BPS in the last 12 months
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Livestock
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">50 pigs or more</p>
                <p class="govuk-body">10 cattle or more</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cattle type
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Dairy</p>
                <p class="govuk-body">Beef</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Application details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Farm assurance scheme
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Livestock location
              </dt>
              <dd class="govuk-summary-list__value">
                12/345/6789
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence type</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vet practise registered
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> home address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vet practise name
              </dt>
              <dd class="govuk-summary-list__value">
                Ashfield Veterinary Surgery
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence period</span>
                </a>
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Personal details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Helen Oswald
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact preference
              </dt>
              <dd class="govuk-summary-list__value">
                email<br>email@hotmail.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence type</span>
                </a>
              </dd>
            </div>

            </div>

          <!-- <h2 class="govuk-heading-m">Now send your application</h2> -->

          <!-- <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p> -->

          <form action="/form-handler" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button class="govuk-button" data-module="govuk-button">
              Accept and send
            </button>

          </form>

        </div>
      </div>
  </div>

    <!-- {{ govukButton({
      text: "Continue",
      href: "check-answers"
    }) }} -->


{% endblock %}
