{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}
Get funding for a vet visit
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="payment-cattletype" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="livestock-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you keep any of the following number of livestock?
            </h1>
          </legend>
          <div id="livestock-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="livestock" name="livestock" type="checkbox" value="cattle">
              <label class="govuk-label govuk-checkboxes__label" for="livestock">
                10 cattle (or more)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="livestock-2" name="livestock" type="checkbox" value="sheep">
              <label class="govuk-label govuk-checkboxes__label" for="livestock-2">
                20 sheep (or more)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="livestock-3" name="livestock" type="checkbox" value="pigs">
              <label class="govuk-label govuk-checkboxes__label" for="livestock-3">
                50 pigs (or more)
              </label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="livestock-4" name="livestock" type="checkbox" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="livestock-4">
                No, I do not keep any of this number or type of livestock
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>
{% endblock %}
