{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for the Annual Health and Welfare Review funding
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

<!-- Adds spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">
      The Annual Health and Welfare Review
    </h1>

  <h2 class="govuk-heading-m">Internal User Guide</h2>

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Latest Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col"> Guidance & Instructions</th>
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="v3">v3.0</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p> Sprint 22</p>
        </td>
        <td class="govuk-table__cell">
          <p>17 January 2023</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
          <li>The Vet Visits team are currently building and reiterating our solution. We are sharing a Miniumm Viable Product</li>
          </ul>
          <ul class="govuk-list--bullet">
            <li>Be open minded and share your feedback about your experience of the Vets Visits service.
            </li>
            <li>Use links such as <a href="#">email@address.com</a> to progress further through the product  journey.
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  
  </table>

  {{ govukInsetText({
    text: "Use this section for more guidance on how to use and navigate this prototype"
  }) }}
  

    
  <h2 class="govuk-heading-m">SFI (before Vet Visits)</h2>

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="https://sfi-prototype.herokuapp.com/ahw/pre-vv">Handover <br> at v23</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p>SFI Sprint 22</p>
        </td>
        <td class="govuk-table__cell">
          <p>25 January 2022</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>AHWR pages developed as part of the Sustainable Farming Incentive.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  
  </table>

{{ govukInsetText({
  text: "Vet Visits started as independent project on 16 sprint1 2022."
}) }}

  <h2 class="govuk-heading-m">Alpha</h2>

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Versions</th>
        <th class="govuk-table__header" scope="col">Sprints</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="https://sfi-prototype.herokuapp.com/ahw/vv-0/">v0.0 - 0.4</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p class="govuk-body">Sprint <br> 1 - 5</p>
        </td>
        <td class="govuk-table__cell">
          <p>16 sprint1 - 31 May</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>Prototype used in user testing.</li>
            <li>Key development is shaping of the end-to-end farmer apply, vet review and farmer claim journeys.</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>v0.0 - Guidance replaces step-by-step approach</li>
            <li>v0.1 - Reduced number of questions for vets <!-- for simplicity and policy alignment --></li>
            <li>v0.2 - Simplified process for farmers to choose review and check eligibility</li>
            <li>v0.3 - Improved content, consistent interactions throughout journeys, species-specific screens</li>
            <li>v0.4 - File upload introduced for claim checks</li>
          </ul>
        </td>
      </tr>
    </tbody>

  </table>


  <h2 class="govuk-heading-m">Private Beta</h2>

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="https://sfi-prototype.herokuapp.com/ahw/vv-1/">v1.0</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p class="govuk-body">Sprint 6</p>
        </td>
        <td class="govuk-table__cell">
          <p>1 June - <br> 14 June</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>Introduction of back office for internal users</li>
          </ul>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="v1" target="_blank">v1.1 - 1.4</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p class="govuk-body">Sprint 7 - 10</p>
        </td>
        <td class="govuk-table__cell">
          <p>15 June - 9 August</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>Prototype gets its own environment and URL</li>
            <li>Key development is the extension of the back office and addition of technical guidance.</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>v1.1 - Example applications w/ status and tabs for recorded info can be viewed in back office</li>
            <li>v1.2 - Front end service extended by technical guidance and content updated</li>
            <li>v1.3 - Back office rebranded in green and gets filter functionality</li>
            <li>v1.4 - Fraud check questions, commenting function, history log and withdrawal button introduced to back office</li>
          </ul>
        </td>
      </tr>
    </tbody>

  </table>

  {{ govukInsetText({
    text: "Vets are removed from service on 3 August 2022."
  }) }}

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="v2">v2.0 - v2.5</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p class="govuk-body">Sprint 11 - 17</p>
        </td>
        <td class="govuk-table__cell">
          <p>10 August - <br> 18 October</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>New version excluding vets as user group</li>
            <li>Key development is a new service blueprint and prototype to test with farmers only.</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>v2.0 - First basic farmer-only journey including upload of review form and test result</li>
            <li>v2.1 - Refined all-digital claim journey including questions on disease testing</li>
            <li>v2.2 - Simplified claim journey without data collection</li>
            <li>v2.3 - Agreement offer added to apply journey</li>
            <li>v2.4 - Technical guidance & apply content update</li>
            <li>v2.5 - Alignment and preparation for PB Release 1</li>
          </ul>
        </td>
      </tr>
    </tbody>

  </table>

  {{ govukInsetText({
    text: "Private Beta Release 1 user testing"
  }) }}

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <ul class="govuk-list">
            <li><a href="v3">v3.0 onwards</a></li>
          </ul>
        </th>
        <td class="govuk-table__cell">
          <p class="govuk-body">Sprint 19 - 22</p>
        </td>
        <td class="govuk-table__cell">
          <p>19 October - <br> 24 January</p>
        </td>
        <td class="govuk-table__cell">
          <ul class="govuk-list">
            <li>New version reintroducing back office for internal RPA staff</li>
            <li>Key development will be revision of the service based on user testing findings.</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>v3.0 - Colour code and labels updated to agree, not agreed, paid, claimed, rejected, authorised, in check</li>
            <li>v3.0 - Simplifed user interface with reduced table content and bold title</li>
            <li>v3.0 - Detail links updated to match technical capabilities</li>
            <li>v3.0 - Search bar and filter removed. Sort functionality added</li>
            <li>v3.0 - Registration and auto eligibility journey added</li>
            <li>v3.0 - Content design changes implemented across the enitre prototype</li>
            <li>v3.0 - Multiple interations of the internal user journey available</li>
            <li>v3.0 - Content updated based on legislation and compliance regulations</li>
            <li>v3.0 - BO colours updated due to accessibility design review</li>
            <li>v3.0 - Apply journey agreement confirmation page updated due to accessiblity design review</li>
            <li>v3.0 - Accept and send button updated, terms and conditions page now has continue button</li>
            <li>v3.0 - Status checker, authoriser action and withdraw function added to Back Office journey</li>
           <li>v3.0 - Colour code and labels updated to agree, not agreed, ready to pay, claimed, rejected, withdrawn, in check</li> 
          </ul>
        </td>
      </tr>
    </tbody>

  </table>

  {{ govukInsetText({
    text: "Private Beta Release 2 user testing"
  }) }}

  <table class="govuk-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <th class="govuk-table__header" scope="col">Sprint</th>
        <th class="govuk-table__header" scope="col">Dates</th>
        <th class="govuk-table__header" scope="col">Details</th>
      </tr>
    </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
          <li><a href="v6">v4.0</a></li>
        </ul>
      </th>
      <td class="govuk-table__cell">
        <p class="govuk-body">Sprint <br> 22 - 23</p>
      </td>
      <td class="govuk-table__cell">
        <p>11 January- 24 January<br> </p>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list">
          <li>New version reintroducing back office for internal RPA staff</li>
          <li>Key development will be revision of the service based on business requirements and intergration of DEFRA ID.</li>
        </ul>
        <ul class="govuk-list--bullet">
          <li>v4.0 - Apply Picker: Display all businesses (SBIs) the customer has expressed an interest for, that have passed through the waiting list but have not reached agreed stage.  
          <li>v4.0 - Claim Picker: Display all businesses (SBIs) that are at 'Agreed' status.</li>   
          <li>v4.0 - Picker to come after the magic link is clicked.</li>
          <li>v4.0 - Users with more than one of business, with multiple SBI's, at RYI stage can choose to create an agreement against an AHWR for all the eligible livestock.</li>
          <li>v4.0 - Back Office now includes history tab to allow internal users to cross reference and keep audit trail of compliance check.</li>
        </ul>
      </td>
    </tr>
  </tbody>

</table>

{{ govukInsetText({
  text: "Private Beta Release 2 & 3 user testing"
}) }}

  </div>


  <div class="govuk-grid-column-one-quarter">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <h3 class="govuk-heading-s">Resources</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://defra.sharepoint.com/:x:/r/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/_layouts/15/Doc.aspx?sourcedoc=%7BB2E55787-6DC5-46B2-BCBC-3F986E87CC46%7D&file=User%20insights%20and%20needs.xlsx&action=default&mobileredirect=true" target="_blank">
              User insight and needs
            </a>
          </li>
          <li>
            <a href="https://eaflood.atlassian.net/wiki/spaces/SFI/pages/3588849665/Vet+Visits" target="_blank">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://defra.sharepoint.com/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/Shared%20Documents/Forms/AllItems.aspx?viewid=c001e37e%2D0f18%2D46ce%2D96ab%2D4070d6882140&id=%2Fsites%2FMST%2DDefra%2DSustainableFarmingIncentive2022ProductTeam%2FShared%20Documents%2FAnimal%20Health%20and%20Welfare&CT=1631111182054&OR=OWA%2DNT&CID=770c6880%2Daf78%2D57d2%2D1344%2Ddb0aacf43184" target="_blank">
              Team Sharepoint
            </a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">Design assets</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://docs.google.com/drawings/d/1dJIH_7FlDCVj9FPC81DJtrJRtm9TfHJh4p1cxyoT1gs/edit" target="_blank">
              FFC funding landscape</a>
          </li>
          <li>
            <a href="https://miro.com/app/board/uXjVOIgqslk=/" target="_blank">Miro board</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>


{% endblock %}