{% extends "layouts/layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Get funding to improve animal welfare
    </h1>

    <p>This prototype is maintained by the Vet Visits team.</p>

    <p>
      <a href="mailto:enterEmailAddress">Melissa Wills</a>Interaction Designer<br>
      <a href="mailto:enterEmailAddress">Aaron Boland</a>Interaction Designer<br>
      <a href="mailto:enterEmailAddress">Berkin Gurakan</a>Service Designer<br>

      <br>

      <h2 class="govuk-heading-m">About the service</h2>


      <p>The Animal Health and Welfare Pathway (the Pathway) was launched in 2023.

        The Pathway supports continual improvement in farm animal health and welfare. It is a partnership with farmers, vets, the wider industry and the supply chain.
        
        The Pathway is a critical part of the farming reforms set out in the Agricultural Transition Plan, delivering benefits for animal health and welfare, farm productivity, food security, public health, UK trade and the environment.</p>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Guidance<br>
          <span class="govuk-hint">{Summary of this side of the service}</span>
        </h2>
  
        <hr class="govuk-!-margin-top-0">
  
        <h2 class="govuk-heading-m">
          Latest version
        </h2>
  
        <ul
          class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.30</a>
          </li>
        </ul>

        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
          <ul class="govuk-list govuk-list--bullet">
            <li>{Change log option 1}</li>
          </ul>
        </p>

  
        <hr>

      </div>

      <!-- Second half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Apply<br>
          <span class="govuk-hint">{Summary of this side of the service}</span>
        </h2>
  
        <hr class="govuk-!-margin-top-0">
  
        <h2 class="govuk-heading-m">
          Latest version
        </h2>
  
        <!-- Add a link to your latest version here -->
        <ul
          class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.31</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
          <ul class="govuk-list govuk-list--bullet">
            <li>{Change log option 1}</li>
          </ul>
        </p>

        <!-- How would you like to display the other versions of your prototype? You could use a details component here -->
  
        <hr>

      </div>

  <!-- Third half of your service -->
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Claim<br>
      <span class="govuk-hint">{Summary of this side of the service}</span>
    </h2>

    <hr class="govuk-!-margin-top-0">

    <h2 class="govuk-heading-m">
      Latest version
    </h2>

    <!-- Add a link to your latest version here -->
    <ul
      class="govuk-list govuk-list--bullet">
      <li>
        <a href="../v30">V.30</a>
      </li>
    </ul>

    <!-- An optional changelog to show the main points of what this version covers -->
    <p>
      <span class="govuk-!-font-weight-bold">Changelog:</span>
      <br>
      <ul class="govuk-list govuk-list--bullet">
        <li>{Change log option 1}</li>
      </ul>
    </p>

    <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

    <hr>

  </div>

   <!-- Third half of your service -->
   <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Back Office<br>
      <span class="govuk-hint">{Summary of this side of the service}</span>
    </h2>

    <hr class="govuk-!-margin-top-0">

    <h2 class="govuk-heading-m">
      Latest version
    </h2>

    <!-- Add a link to your latest version here -->
    <ul
      class="govuk-list govuk-list--bullet">
      <li>
        <a href="../">TBC</a>
      </li>
    </ul>

    <!-- An optional changelog to show the main points of what this version covers -->
    <p>
      <span class="govuk-!-font-weight-bold">Changelog:</span>
      <br>
      <ul class="govuk-list govuk-list--bullet">
        <li>{Change log option 1}</li>
      </ul>
    </p>

    <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

    <hr>

  </div>


    </div>

  </div>
</div>

{% endblock %}
