{% extends "layouts/layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- End prototype links and intro-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Protoype index and overview
    </h1>
    <p class="govuk-body-l">Learn about the journeys through the "Get funding to improve animal health and welfare" service and access the interactive prototypes.</p>
    <h2 class="govuk-heading-m">Prototype versions</h2> 

    <p class="govuk-body">The latest version of the protoype is version 31.</p>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Open version 31
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    <p>Looking for <a href="">previous prototype versions</a>?</p>
    <h2 class="govuk-heading-m">About this service</h2>
    <p>The Animal Health and Welfare Pathway (the Pathway) was launched in 2023.</p>
    <p>The Pathway supports continual improvement in farm animal health and welfare. It is a partnership with farmers, vets, the wider industry and the supply chain.</p>

      <p>Pathway is a critical part of the farming reforms set out in the Agricultural Transition Plan, delivering
      benefits for animal health and welfare, farm productivity, food security, public health, UK trade and the
      environment.</p>
      <h2 class="govuk-heading-m">Vet visits team</h2>
      <p class="govuk-body">This prototype is maintained by the Vet Visits team:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="mailto:Melissa.Wills@capgemini.com">Melissa Wills</a> (Interaction Designer)</li>
      <li><a class="govuk-link" href="mailto:Aaron.Boland@capgemini.com">Aaron Boland</a> (Interaction Designer)</li>
      <li><a class="govuk-link" href="mailto:Berkin.Gurakan@capgemini.com">Berkin Gurakan</a> (Service Designer)</li>
      <li><a class="govuk-link" href="mailto:Chandni.Umradia@capgemini.com">Chandni Umradia</a> (Service Designer)</li>
      <li><a class="govuk-link" href="mailto:Ben.Nolan@capgemini.com">Ben Nolan</a> (Content Designer)</li>
      <li><a class="govuk-link" href="mailto:Emily.Aspinall@capgemini.com">Emily Aspinall</a> (Content Designer)</li>
      <li><a class="govuk-link" href="mailto:Ayesha.Biswas@capgemini.com">Ayesha Biswas</a> (User Researcher)</li>
      <li><a class="govuk-link" href="mailto:Juliette.Fournier@capgemini.com">Juliette Fournier</a> (User Researcher)</li>
    </ul>
  </div>
  
</div>
<!-- End prototype links and intro-->
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Journeys in this prototype</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Journey</th>
              <th scope="col" class="govuk-table__header">About this journey</th>
              <th scope="col" class="govuk-table__header">What's new in this version?</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Guidance</th>
              <td class="govuk-table__cell">Farmers and vets can learn more about the service with a step by step guide to welfare reviews and endemics disease follow-ups.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Apply</th>
              <td class="govuk-table__cell">The first interaction with the service. Old world and new world users will enter the service and agree to the terms and conditions.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total estimated pay</th>
              <td class="govuk-table__cell">£4,282.20</td>
              <td class="govuk-table__cell">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row"></tr>
              <td class="govuk-table__cell">Total estimated pay</th>
              <td class="govuk-table__cell">The internal application review system RPA staff use to look up claims and agreements.</td>
              <td class="govuk-table__cell">£109.80 per week</td>
            </tr>
          </tbody>
        </table>
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Guidance<br>
          <span class="govuk-hint"> A collection of guidance pages. Farmers and vets can learn more
            about the service with a step by step guide to welfare reviews and endemics disease follow-ups.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v31/landing-page">V.31</a>
          </li>
        </ul>

        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Vet guidance updated</li>
          <li>Collection page added</li>
          <li>Endemics added</li>
        </ul>
        </p>


        <hr>

      </div>

      <!-- Second half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Apply<br>
          <span class="govuk-hint">The first interaction with the service. Old world and new world users will enter the
            service and agree to the terms and conditions.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.31</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Registration and magic link removed</li>
          <li>Defra ID and auto eligibility added</li>
          <li>Educational screens added</li>
        </ul>
        </p>

        <hr>

      </div>

      <!-- Third half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Claim<br>
          <span class="govuk-hint">The first claim a farmer makes through the service. They must select a species which
            they'll claim for throughout the life of the service.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.30</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Multiple claims and endemics added</li>
          <li>10 month rule implementation</li>
          <li>More data required for claim completion</li>
          
        </ul>
        </p>

        <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

        <hr>

      </div>

      <!-- Third half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Back Office<br>
          <span class="govuk-hint">The internal application review system
            RPA staff will be able to use this system to look up applications. It will feature the progression status of all claims.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v31/back-office/agreements.html">V.31</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>History tab added</li>
          <li>Role based access added</li>
          <li>Multiple claims and statuses updated</li>
        </ul>
        </p>

        <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

        <hr>

      </div>


    </div>

  </div>
</div>

{% endblock %}