{% extends "layouts/layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Get funding to improve animal welfare
    </h1>

    <p>This prototype is maintained by the Vet Visits team.</p>

    <p>
      <a href="mailto:enterEmailAddress">Melissa Wills</a>(Interaction Designer)<br>
      <a href="mailto:enterEmailAddress">Aaron Boland</a>(Interaction Designer)<br>
      <a href="mailto:enterEmailAddress">Berkin Gurakan</a>(Service Designer)<br>
      <a href="mailto:enterEmailAddress">Chandni Umradia</a>(Service Designer)<br>
      <a href="mailto:enterEmailAddress">Ben Nolan</a>(Content Designer)<br>
      <a href="mailto:enterEmailAddress">Emily Aspinall</a>(Content Designer)<br>
      <a href="mailto:enterEmailAddress">Juliette Fournier</a>(User Researcher)<br>
      <a href="mailto:enterEmailAddress">Ayesha Biswas</a>(User Researcher)<br>


      <br>

    <h2 class="govuk-heading-m">About the service</h2> 


    <p>The Animal Health and Welfare Pathway (the Pathway) was launched in 2023.</p>

    <p>The Pathway supports continual improvement in farm animal health and welfare. It is a partnership with farmers,
      vets, the wider industry and the supply chain.</p>

      <p>Pathway is a critical part of the farming reforms set out in the Agricultural Transition Plan, delivering
      benefits for animal health and welfare, farm productivity, food security, public health, UK trade and the
      environment.</p>

      <br>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Guidance<br>
          <span class="govuk-hint"> A collection of guidance pages. Farmers and vets can learn more
            about the service with a step by step guide to welfare reviews and endemics disease follow-ups.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v31/landing-page">V.31</a>
          </li>
        </ul>

        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Vet guidance updated</li>
          <li>Collection page added</li>
          <li>Endemics added</li>
        </ul>
        </p>


        <hr>

      </div>

      <!-- Second half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Apply<br>
          <span class="govuk-hint">The first interaction with the service. Old world and new world users will enter the
            service and agree to the terms and conditions.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.31</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Registration and magic link removed</li>
          <li>Defra ID and auto eligibility added</li>
          <li>Educational screens added</li>
        </ul>
        </p>

        <hr>

      </div>

      <!-- Third half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Claim<br>
          <span class="govuk-hint">The first claim a farmer makes through the service. They must select a species which
            they'll claim for throughout the life of the service.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v30">V.30</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Multiple claims and endemics added</li>
          <li>10 month rule implementation</li>
          <li>More data required for claim completion</li>
          
        </ul>
        </p>

        <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

        <hr>

      </div>

      <!-- Third half of your service -->
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" style="border-bottom: 1px solid lightgray; margin-bottom: 0">Back Office<br>
          <span class="govuk-hint">The internal application review system
            RPA staff will be able to use this system to look up applications. It will feature the progression status of all claims.</span>
        </h2>

        <hr class="govuk-!-margin-top-0">

        <h2 class="govuk-heading-m">
          Latest version
        </h2>

        <!-- Add a link to your latest version here -->
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../v31/back-office/agreements.html">V.31</a>
          </li>
        </ul>

        <!-- An optional changelog to show the main points of what this version covers -->
        <p>
          <span class="govuk-!-font-weight-bold">Changelog:</span>
          <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>History tab added</li>
          <li>Role based access added</li>
          <li>Multiple claims and statuses updated</li>
        </ul>
        </p>

        <!-- How would you like to display the other versions of your prototype? You could use a details component here -->

        <hr>

      </div>


    </div>

  </div>
</div>

{% endblock %}