{% extends "layouts/layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="../index">Back</a>
{% endblock %}

{% block content %}

<!-- End prototype links and intro-->

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prototype archive
    </h1>
    <p class="govuk-body-l">Previous versions of the prototypes of journeys through the "Get funding to improve animal health and welfare" service.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v1/" class="govuk-link">Version 1</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v2/" class="govuk-link">Version 2</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v3/" class="govuk-link">Version 3</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v6/" class="govuk-link">Version 6</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v7/" class="govuk-link">Version 7</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v8/" class="govuk-link">Version 8</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v10/" class="govuk-link">Version 10</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v13/" class="govuk-link">Version 13</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v16/" class="govuk-link">Version 16</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v17/" class="govuk-link">Version 17</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v18/" class="govuk-link">Version 18</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v19/" class="govuk-link">Version 19</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v20/" class="govuk-link">Version 20</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v21/" class="govuk-link">Version 21</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v22/" class="govuk-link">Version 22</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v23/" class="govuk-link">Version 23</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v24/" class="govuk-link">Version 24</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v25/" class="govuk-link">Version 25</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v26/" class="govuk-link">Version 26</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v27/" class="govuk-link">Version 27</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v28/" class="govuk-link">Version 28</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v29/" class="govuk-link">Version 29</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v30/" class="govuk-link">Version 30</a></li>
      <li><a href="https://fcp-ahwr-prototype.herokuapp.com/v31/" class="govuk-link">Version 31</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">

        <h3 class="govuk-heading-s">Resources</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://defra.sharepoint.com/:x:/r/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/_layouts/15/Doc.aspx?sourcedoc=%7BB2E55787-6DC5-46B2-BCBC-3F986E87CC46%7D&file=User%20insights%20and%20needs.xlsx&action=default&mobileredirect=true"
              target="_blank">
              User insight and needs
            </a>
          </li>
          <li>
            <a href="https://eaflood.atlassian.net/wiki/spaces/SFI/pages/3588849665/Vet+Visits" target="_blank">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://defra.sharepoint.com/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/Shared%20Documents/Forms/AllItems.aspx?viewid=c001e37e%2D0f18%2D46ce%2D96ab%2D4070d6882140&id=%2Fsites%2FMST%2DDefra%2DSustainableFarmingIncentive2022ProductTeam%2FShared%20Documents%2FAnimal%20Health%20and%20Welfare&CT=1631111182054&OR=OWA%2DNT&CID=770c6880%2Daf78%2D57d2%2D1344%2Ddb0aacf43184"
              target="_blank">
              Team Sharepoint
            </a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Design assets</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://docs.google.com/drawings/d/1dJIH_7FlDCVj9FPC81DJtrJRtm9TfHJh4p1cxyoT1gs/edit"
              target="_blank">
              FFC funding landscape
            </a>
          </li>
          <li>
            <a href="https://miro.com/app/board/uXjVOIgqslk=/?moveToWidget=3458764527581122081&cot=14" target="_blank">
              Miro board
            </a>
          </li>
          <li>
            <a href="https://www.figma.com/design/sgwKQ7WBAANnPXA1UfB8NG/Vet-Visits---Apply-and-Claim-journey-for-multiple-visits?node-id=7969-22721&node-type=canvas&t=P85J6CTWkabw1X15-0" target="_blank">
              Figma
            </a>
          </li>
          <li></li>
            <a href="https://defra.sharepoint.com/:x:/r/teams/Team4373/Animal%20Health%20and%20Welfare%20Review/UCD%20Team/interaction-design-assets/vet-visits-error-list.xlsx?d=w26c082601fbe4a95a252a485547c631a&csf=1&web=1&e=kUFNoL" target="_blank">Inline validation and error page list</a>  
        </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

    

{% endblock %}