{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}

{% set serviceName %}
Get funding to improve animal health and welfare
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="../endemics-sheep/endemics-package-3.html" method="get">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
  
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "package",
            fieldset: {
              legend: {
                text: "Which sheep health package did you choose?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
              hint: {
                text: "You can find this on the summary the vet gave you. The diseases the vet might take samples to test for are listed with each package. ."
              
            },
            items: [
              {
                value: "thin-ewes",
                text: "Ewe condition",
                hint: {
                  text: "Includes: Caseous lymphadenitis (CLA), ewe nutrition status, haemonchosis, Johne’s, liver fluke, louping ill, Maedi Visna (MV), mastitis, orf, ovine pulmonary adenocarcinoma (OPA), pulpy kidney, tick-borne fever, trace elements"
                }
              },
              {
                value: "reproductive-performance",
                text: "Reproductive performance",
                hint: {
                  text: "Includes: border disease (BD), enzootic abortion of ewes (EAE), ewe nutrition status, liver fluke, tick-borne fever, toxoplasmosis, trace elements"
                }
              },
              {
                value: "lamb-performance",
                text: "Lamb performance",
                hint: {
                  text: "Includes: border disease (BD), coccidiosis, lamb dysentery, lamb nutrition status, liver fluke, louping ill, mastitis, orf,  parasitic gastroenteritis (PGE), pasteurellosis, pulpy kidney, tick-borne fever, tick pyaemia, trace elements "
                }
              },
              {
                value: "neonatal-lamb-diseases",
                text: "Neonatal lamb survival",
                hint: {
                  text: "Includes: border disease (BD), ewe nutrition status, joint ill, lamb dysentery, mastitis, pasteurellosis, tick pyaemia, toxoplasmosis, trace elements, watery mouth"
                }
              },
              {
                value: "external-parasites",
                text: "External parasites",
                hint: {
                  text: "Includes: flystrike, sheep scab"
                }
              },
              {
                value: "lameness",
                text: "Lameness",
                hint: {
                  text: "Includes: contagious ovine digital dermatitis (CODD), foot rot, granuloma, heel or toe abscess, joint ill, lameness, scald, shelly hoof, tick pyaemia"
                }
              }
            ]
          }) }}
          
          
    <br>
    


      <button class="govuk-button" data-module="govuk-button">Continue</button>
    
    </form>
     

  </div>
</div>

{% endblock%}
