{% extends "layouts/layout.html" %}

{% block pageTitle %}
Apply for an Annual Health and Welfare Review
{% endblock %}
{% set serviceName %}
Apply for an Annual Health and Welfare Review
{% endset%}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">Email responses</h1>
  
          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Apply now
              </dt>
              <dd class="govuk-summary-list__value">
                before you start
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="apply-now.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email confirmation
              </dt>
              <dd class="govuk-summary-list__value">
                reg confirmation
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="email-confirmation.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email eligible now
              </dt>
              <dd class="govuk-summary-list__value">
                meeting criteria
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="email-eligibility-now.html">
                  Link here<span class="govuk-visually-hidden"> sbi</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email waiting
              </dt>
              <dd class="govuk-summary-list__value">
                in the waiting list
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="email-waiting.html">
                  Link here<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            
          </dl>
  
     
  
          </form>
  
        </div>
      </div>
    </main>
  </div>


{% endblock %}
