{% extends "layouts/layout.html" %}

{% block pageTitle %}
Index page
{% endblock %}
{% set serviceName %}Get funding to improve animal health and welfare{% endset%}   

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Review your agreement offer</h1>

        <p class="govuk-body">
          This is an offer of funding  to improve animal health and welfare  for this business:
        </p>
        <div class="govuk-inset-text">
          Orchard Farm Ltd.<br>
          Primrose Ln, Arthington, Otley, LS21 1PH<br>
          SBI: 234567890
        </div>

        <p>You must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>allow a vet to test for diseases relevant to the livestock you choose</li>
            <li>share details about the vet and the results the vet gives you with the Rural Payments Agency (RPA)</li>
          </ul>

        <p>You may need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>provide the RPA with evidence your reviews or follow-ups took place, such as a summary from the vet</li>
          </ul>

        <p>You confirm that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your reviews and follow-ups will be for the same species</li>
          <li>you will have the minimum number of livestock needed</li>
          <li>you will follow the rules for <a href="../farmer/guidance-visit#endemic-disease-2">timing of reviews, follow-ups</a></li>
          <li>you have read and accept <a href="terms-conditions.html">the full terms and conditions</a></li>
        </ul>

        

        <div class="govuk-!-margin-top-6">
          <a href="confirmation-2" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Accept
          </a>
          <a href="offer-rejected-2" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Reject
          </a>
        </div>

        <br>
        <a class="govuk-link" hef="#">Print this page</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}
