{% extends "layouts/layout.html" %}
{% set serviceName = "Get funding to improve animal health and welfare" %}


{% set title = "Reviews and follow-ups must be for the same species" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}


{% block beforeContent %}

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
   
<h2 class="govuk-heading-m">If you are new to the service</h2>

<p class="govuk-heading-body">All your reviews and follow-ups must be done on the same species.</p>

<h2 class="govuk-heading-m">If you have already had a review</h2>

<p class="govuk-heading-body">All your reviews and follow-ups must be done on the same species tested during your first review.</p>

      
<div class="govuk-button-group">
  <a href="numbers.html" class="govuk-button" data-module="govuk-button">
    I agree
  </a></button>
  <a href="offer-rejected.html"class="govuk-button govuk-button--secondary" data-module="govuk-button">
    I do not agree – reject agreement
  </a></button>
</div>


  
  
     
  
  
     
    </div>
  </div>

{% endblock %}