{% extends "layouts/layout-defra.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{% set serviceName %}
Annual Health and Welfare Back Office
{% endset%}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-!-padding-top-0">
  <p class="govuk-phase-banner__content">
    <strong style="background-color:#00a33b;" class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link govuk-!-margin-bottom-0" href="../march-applications.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-caption-l govuk-!-margin-bottom-3">
      Agreement number: AHWR-F021-721B
    </h1>

    <h2 class="govuk-heading-l">
      P & D Fearnley & Sons
      <strong class="govuk-tag govuk-tag--green">
        Agreed
      </strong>
    </h2>

    <!--User details-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Phil Fearnley</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number:
        </dt>
        <dd class="govuk-summary-list__value">
          103491987
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address:
        </dt>
        <dd class="govuk-summary-list__value">
          Manor Farm Rd, Harleston IP20 0AX
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address:
        </dt>
        <dd class="govuk-summary-list__value">
          <p>fearnley-sons@hotmail.com</p>
        </dd>
      </div>
    </dl>

   
      <!--Application stages (in tabs)-->
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#applied">
              Agreement
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#claimed">
              Claim
            </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#history">
                History
              </a>
              </li>
        </ul>

  
        <div class="govuk-tabs__panel" id="applied">
          <h2 class="govuk-heading-l">Agreed</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of agreement</th>
                  <td class="govuk-table__cell">1/11/2022</td>
                </tr>
                <th scope="row" class="govuk-table__header">Business details correct</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type of review</th>
                <td class="govuk-table__cell">Beef</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Number of livestock</th>
                <td class="govuk-table__cell">Minimum 11</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Agreement accepted</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimed">
          <h2 class="govuk-heading-l">Agreed</h2>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
          <h2 class="govuk-heading-l">History</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Time</th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header">User</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">23/03/2023</td>
                <td class="govuk-table__cell">10:00:12</td>
                <td class="govuk-table__cell">Claim approved</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">24/03/2023</td>
                <td class="govuk-table__cell">09:30:00</td>
                <td class="govuk-table__cell">Withdraw completed</td>
                <td class="govuk-table__cell">Daniel Jones</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25/03/2023</td>
                <td class="govuk-table__cell">11:10:15</td>
                <td class="govuk-table__cell">Claim rejected</td>
                <td class="govuk-table__cell">Amanda Hassan</td>
              </tr>
        </div>
      </tbody>
    </table>
  </div>
</div> 
              
        <!--Withdraw process-->

        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Further action maybe required</h2>

        <div class="govuk-cookie-banner__content">
                      <p class="govuk-body">This customer has successfully submitted an application.</p>
                  <p class="govuk-body">However, the customer does have the right to withdraw from an agreement upon request. Decide the appropriate action.</p>
      
        
        <a href="x-fearnley-farm-withdrawing.html" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
        Withdraw</a>
        </button>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        </div>
        
        </div>
        
    </div>
  </div>
</div>

{% endblock %}