{% extends "layouts/layout.html" %}
{% set serviceName = "Review the health and welfare of your livestock" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
    <div class="govuk-form-group">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">You must select a disease or condition</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What did the vet test for?
            </h1>
          </legend>
          <div id="nationality-hint" class="govuk-hint">
            You can find this on the summary the vet gave you.
          </div>
          <p id="nationality-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> You must select a disease or condition
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="disease-1" aria-describedby="nationality-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="nationality">
                Border disease (BD)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-2">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Toxoplasmosis
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="disease-3">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
                Joint ill
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-4">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Ewe nutrition status
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-5">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Trace elements
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-6">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Watery mouth
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-7">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Mastitis
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-7">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Tick pyaemia
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-7">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Lamb dysentery
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-7">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Pasteurellosis
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="disease-7">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    <br>
    <br>
    
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    
    </form>



{% endblock %}
