{% set tocPage = "guide" %}

{% set mainClasses = "guide govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% extends "layouts/layout-document-collection.html" %}

{% block head %}
{% include "includes/publisher/head.html" %}
{% endblock %}

{% block pageTitle %}
Guidance for farmers
{% endblock %}
{% set serviceName %}
Annual livestock health and welfare review
{% endset%}

{% block header %}
{% include "includes/publisher/header.html" %}

{% endblock %}


{% block beforeContent %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      ...
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Annual health and welfare review</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Guidance for vets</a>
    </li>
  </ol>
  </div>
{% endblock %}


{% block content %}

<main role="main" id="content" class="html-publication" lang="en">
          

  <div class="publication-external">
    <ul class="organisation-logos">
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-environment-food-rural-affairs">
      <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
</a>
</div>
        </li>
        <li class="organisation-logos__logo">
          
<div class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/rural-payments-agency">
      <span class="gem-c-organisation-logo__name">Rural Payments <br>Agency</span>
</a>
</div>
        </li>
    </ul>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
  

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
      <span class="govuk-caption-xl gem-c-title__context">
    Guidance
  </span>


  <h1 class="gem-c-title__text govuk-heading-xl">
    Vets: test for bovine viral diarrhoea (BVD) in cattle
  </h1>
</div>
  <p class="publication-header__last-changed">Published 20 April 2023</p>

  </header>


  
  <section class="gem-c-devolved-nations">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
      Applies to England
</h2>
</section>

<div id="contents">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
          <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#test-type-and-sampling-for-beef-cattle" data-track-options="{&quot;dimension29&quot;:&quot;Test type and sampling for beef cattle&quot;}" href="#test-type-and-sampling-for-beef-cattle">Test type and sampling for beef cattle</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#test-type-and-sampling-for-dairy-cattle" data-track-options="{&quot;dimension29&quot;:&quot;Test type and sampling for dairy cattle&quot;}" href="#test-type-and-sampling-for-dairy-cattle">Test type and sampling for dairy cattle</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#test-sample-laboratory-analysis" data-track-options="{&quot;dimension29&quot;:&quot;Test sample laboratory analysis&quot;}" href="#test-sample-laboratory-analysis">Test sample laboratory analysis</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#test-results" data-track-options="{&quot;dimension29&quot;:&quot;Test results&quot;}" href="#test-results">Test results</a>

        </li>
      </ol>
  </nav>
  
          
  {% include "includes/print-page.html" %}
        </div>



  
    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">
    
    
        <div class="govspeak">
<h2 id="test-type-and-sampling-for-beef-cattle">Test type and sampling for beef cattle</h2>

<p>To test for <abbr title="bovine viral diarrhoea">BVD</abbr> in beef cattle, you should do a blood (serum) antibody test.</p>

<p>Read <a rel="external" href="https://bvdfree.org.uk/the-scheme/#testing" class="govuk-link"><abbr title="bovine viral diarrhoea">BVD</abbr> Free guidance on how to carry out a blood (serum) antibody test for <abbr title="bovine viral diarrhoea">BVD</abbr></a> if you need more information.</p>

<p>If the farmer is a CHeCs member, you can choose to follow <a rel="external" href="https://checs.co.uk/diseases/bvd/" class="govuk-link">CHeCs guidance on how to carry out a blood (serum) antibody test for <abbr title="bovine viral diarrhoea">BVD</abbr></a>.</p>

<h3 id="number-of-samples">Number of samples</h3>
<p>You should carry out 5 tests in up to 2 epidemiological groups.</p>

<p>The farmer will not get paid unless 5 tests in up to 2 epidemiological groups are carried out.</p>

<p>Where the primary or secondary epidemiological group number is less than 5, all animals should be sampled.</p>

<h2 id="test-type-and-sampling-for-dairy-cattle">Test type and sampling for dairy cattle</h2>

<p>To test for <abbr title="bovine viral diarrhoea">BVD</abbr> in dairy cattle, you should do a bulk milk test. You can choose with the farmer whether to do an antibody or polymerase chain reaction (<abbr title="polymerase chain reaction">PCR</abbr>) bulk milk test.</p>

<p>You should not use the results of a bulk milk test done before the farmer applied for the review.</p>

<p>If you’re confident the farmer has the expertise to carry out bulk milk sampling and they agree, they can take the sample. The farmer should not do the test.</p>

<p>If you and the farmer want to do a blood serum antibody test instead of a bulk milk test, you can. The results would be accepted, but the £372 payment rate for a dairy cattle review will not change. The antibody test must be to the same standard as is specified for beef cattle.</p>

<p>Read <a rel="external" href="https://bvdfree.org.uk/the-scheme/#testing" class="govuk-link"><abbr title="bovine viral diarrhoea">BVD</abbr> Free guidance on how to test for <abbr title="bovine viral diarrhoea">BVD</abbr></a> if you need more information.</p> 
  
<p>If the farmer is a CHeCs member, you can choose to follow <a rel="external" href="https://checs.co.uk/diseases/bvd/" class="govuk-link">CHeCs guidance on how to test for <abbr title="bovine viral diarrhoea">BVD</abbr></a>.</p>

<h2 id="test-sample-laboratory-analysis">Test sample laboratory analysis</h2>

<p>Send the test sample for analysis to a laboratory that meets one or more of these specifications:</p>

<ul>
  <li>
    <p>ISO/IEC 17025 accredited</p>
  </li>
  <li>
    <p>UKAS accredited (UK accredited) for <abbr title="bovine viral diarrhoea">BVD</abbr> testing</p>
  </li>
</ul>

<p>A farmer will not be eligible for funding unless samples are tested at a laboratory that meets at least one of these specifications.</p>

<p><a rel="external" href="../technical/cattle-lab-2.html" class="govuk-link">Find a recommended laboratory to test for <abbr title="bovine viral diarrhoea">BVD</abbr> in cattle</a>.</p>

<h2 id="test-results">Test results</h2>

<p>You should:</p>

<ul>
  <li>discuss the test results and any further action with the farmer as part of the review</li>
  <li>include test results in the written report you give to the farmer with appropriate recommendations</li>
</ul>

<p>The farmer can use the test results for other accreditation schemes they're a member of. The farmer should check with the accreditation scheme that they’ll accept testing from the review.</p>

</div>


</div>
</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
</a>

  </div>
</div>


    </main>



{% endblock %}
