{% extends "layouts/layout.html" %}

{% block pageTitle %}
AHWR Private Beta
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}

{% endblock %}

<!-- Adds spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
<a class="govuk-back-link" href="../index">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Private Beta Prototype</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Get funding to improve animal health and welfare</h1>
    <span class="govuk-caption-m">Vet Visits Sprint 61-64</span>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Version 31.0</h2>

    <h2 class="govuk-heading-l">Journeys</h2>
    <h3 class="govuk-heading-m">Guidance</h3>

    <!-- Guidance journeys -->
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">User</th>
          <th class="govuk-table__header" scope="col">Journey</th>
          <th class="govuk-table__header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/landing-page.html" target="_blank">Collection</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            A collection of guidance pages for farmers and vets.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/farmer/guidance-apply.html" target="_blank">How to apply guidance</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            Guidance on how to apply for livestock health and welfare review and endemic disease follow-ups.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/farmer/guidance-visit.html" target="_blank">What happens during a visit guidance</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            Guidance on what happens when a vet visits your farm to carry out a livestock health and welfare review and endemic disease follow-up.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/farmer/guidance-claim.html" target="_blank">How to claim guidance</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            Guidance on how to claim for a livestock health and welfare review and endemics disease follow-up.
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Apply journeys -->
    <h3 class="govuk-heading-m">Apply</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">User</th>
          <th class="govuk-table__header" scope="col">Journey</th>
          <th class="govuk-table__header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/apply/start.html" target="_blank">Apply</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            The first interaction with the service. Old world and new world users will enter the service and agree to the terms and conditions.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/apply-2/start.html" target="_blank">Apply (old world)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            The first interaction with the service. Old world and new world users will enter the service and agree to the terms and conditions.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/apply/defraid-errors/all-errors.html" target="_blank">Apply (Sign in and Reset password errors)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">Service name updates</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/apply/exceptions/all-errors.html" target="_blank">Apply (Exceptions, lock screens and time out)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">Service name updates</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Claim</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">User</th>
          <th class="govuk-table__header" scope="col">Journey</th>
          <th class="govuk-table__header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/first-claim/start.html" target="_blank">Review: first review claim</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            The first claim a farmer makes through the service. They must select a species which they'll claim for throughout the life of the service.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/second-claim/endemics-pig/vet-visits-pigs.html" target="_blank">Follow up: pigs</a></li>
              <li><a href="../v31/second-claim/endemics-pig-old-world/vet-visits-pigs.html" target="_blank">Follow up: pigs (returning old world user)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">Endemics claim for this species.</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/second-claim/endemics-beef/vet-visits-beef.html" target="_blank">Follow-up: beef cattle, positive result in corresponding review</a></li>
              <li><a href="../v31/second-claim/endemics-beef-negative/vet-visits-beef.html" target="_blank">Follow-up: beef cattle, negative result in corresponding review</a></li>
              <li><a href="../v31/second-claim/endemics-beef-old-world-positive/vet-visits-beef.html" target="_blank">Follow-up: beef cattle, positive result in corresponding review (user is coming from old world)</a></li>
              <li><a href="../v31/second-claim/endemics-beef-old-world-negative/vet-visits-beef.html" target="_blank">Follow-up: beef cattle, negative result in corresponding review (user is coming from old world)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">Endemics claim for this species.</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>Farmer</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="../v31/second-claim/endemics-dairy-positive/vet-visits-beef.html" target="_blank">Follow-up: dairy cattle, positive result in corresponding review</a></li>
              <li><a href="../v31/second-claim/endemics-dairy-negative/vet-visits-beef.html" target="_blank">Follow-up: dairy cattle, negative result in corresponding review</a></li>
              <li><a href="../v31/second-claim/endemics-dairy-old-world-positive/vet-visits-beef.html" target="_blank">Follow-up: dairy cattle, positive result in corresponding review (user is coming from old world)</a></li>
              <li><a href="../v31/second-claim/endemics-dairy-old-world-negative/vet-visits-beef.html" target="_blank">Follow-up: dairy cattle, negative result in corresponding review (user is coming from old world)</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">Endemics claim for this species.</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Back office</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">User</th>
          <th class="govuk-table__header" scope="col">Journey</th>
          <th class="govuk-table__header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p>To come</p>
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list">
              <li><a href="" target="_blank">To come</a></li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            To come
          </td>
        </tr>

      
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">

        <h3 class="govuk-heading-s">Resources</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://defra.sharepoint.com/:x:/r/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/_layouts/15/Doc.aspx?sourcedoc=%7BB2E55787-6DC5-46B2-BCBC-3F986E87CC46%7D&file=User%20insights%20and%20needs.xlsx&action=default&mobileredirect=true"
              target="_blank">
              User insight and needs
            </a>
          </li>
          <li>
            <a href="https://eaflood.atlassian.net/wiki/spaces/SFI/pages/3588849665/Vet+Visits" target="_blank">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://defra.sharepoint.com/sites/MST-Defra-SustainableFarmingIncentive2022ProductTeam/Shared%20Documents/Forms/AllItems.aspx?viewid=c001e37e%2D0f18%2D46ce%2D96ab%2D4070d6882140&id=%2Fsites%2FMST%2DDefra%2DSustainableFarmingIncentive2022ProductTeam%2FShared%20Documents%2FAnimal%20Health%20and%20Welfare&CT=1631111182054&OR=OWA%2DNT&CID=770c6880%2Daf78%2D57d2%2D1344%2Ddb0aacf43184"
              target="_blank">
              Team Sharepoint
            </a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Design assets</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://docs.google.com/drawings/d/1dJIH_7FlDCVj9FPC81DJtrJRtm9TfHJh4p1cxyoT1gs/edit"
              target="_blank">
              FFC funding landscape
            </a>
          </li>
          <li>
            <a href="https://miro.com/app/board/uXjVOIgqslk=/?moveToWidget=3458764527581122081&cot=14" target="_blank">
              Miro board
            </a>
          </li>
        </ul>

      </nav>
    </aside>
  </div>

</div>


{% endblock %}