{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}

  {% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}




      <script src="/assets/static/application-552bcc46f397538d6eec353a0eb617556364aac48b43a258be0d93d454531264.js"></script>
  <script src="/assets/government-frontend/application-f480365656ce8a47c44fd0799f20d6649c12b7272f7c42c910c6176d5a98b0fd.js"></script><script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.gov.uk/government/publications/home-office-register-of-forensic-pathologists-february-2013"
    },
    "name": "Home Office register of forensic pathologists",
    "datePublished": "2013-02-13T00:00:00.000+00:00",
    "dateModified": "2023-05-22T12:52:28.000+00:00",
    "text": "The list of Home Office approved forensic pathologists and their practice areas.",
    "publisher": {
      "@type": "Organization",
      "name": "GOV.UK",
      "url": "https://www.gov.uk",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.gov.uk/assets/government-frontend/govuk_publishing_components/govuk-logo-73b5a4056ffe9988d02c728b56fe9fe7f90bb822322a5f6183ccbb92a99b019a.png"
      }
    },
    "image": [
      "https://www.gov.uk/assets/government-frontend/govuk_publishing_components/govuk-schema-placeholder-1x1-bf9e64d759af6dfd93bede8168f3087a329f405b382aff36747db0db4b7b23e9.png",
      "https://www.gov.uk/assets/government-frontend/govuk_publishing_components/govuk-schema-placeholder-4x3-13093f053c15f613acd827aff27cac83d3fab452947cbcae4c7b706dadf2f7f2.png",
      "https://www.gov.uk/assets/government-frontend/govuk_publishing_components/govuk-schema-placeholder-16x9-4233cd42671827e266e284c4d5ae68fb600bd9f9e35dda663ccabbc2b6ab7ec3.png"
    ],
    "author": {
      "@type": "Organization",
      "name": "Home Office",
      "url": "https://www.gov.uk/government/organisations/home-office"
    },
    "about": [
      {
        "@context": "http://schema.org",
        "@type": "Thing",
        "sameAs": "https://www.gov.uk/crime-justice-and-law/crime-prevention"
      }
    ],
    "headLine": "Home Office register of forensic pathologists",
    "description": "The list of Home Office approved forensic pathologists and their practice areas.",
    "articleBody": "\u003cdiv class=\"govspeak\"\u003e\u003cp\u003eThe Home Office register of forensic pathologists is a list of forensic pathologists who meet the criteria for registration as detailed in the \u003ca href=\"https://www.gov.uk/government/publications/pathology-delivery-board-criteria-registration\" class=\"govuk-link\"\u003eprocess and criteria for recommendation for admission to the Home Secretary’s register of forensic pathologists\u003c/a\u003e.\u003c/p\u003e\n\n\u003cp\u003eThis document lists those on the register by group practice and details the police forces within those group practice areas.\u003c/p\u003e\n\u003c/div\u003e"
  }
  </script><script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "name": "Home",
          "@id": "https://www.gov.uk/"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "name": "Crime, justice and law",
          "@id": "https://www.gov.uk/crime-justice-and-law"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "name": "Crime prevention",
          "@id": "https://www.gov.uk/crime-justice-and-law/crime-prevention"
        }
      }
    ]
  }
  </script>
  
  
  </body></html>

  {% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->

