{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Index page
{% endblock %}
{% set serviceName %}
  Get funding to improve animal health and welfare 
{% endset %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#" id="error-summary-link">Select if the vet did a PI hunt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form class="form" method="post">

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="eligibility-cattle-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Did the vet do a persistently infected (PI) hunt for BVD?
            </h1>
          </legend>
          <div id="eligibility-hint" class="govuk-hint">
            You can find this on the summary the vet gave you.
          </div>
          <div id="validation-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if the vet did a PI hunt
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eligibility-cattle" name="eligibility-cattle" type="radio" value="test-reference-cattle" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-cattle-yes") }}>
              <label class="govuk-label govuk-radios__label" for="eligibility-cattle">
                Yes
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="eligibility-cattle-2" name="eligibility-cattle" type="radio" value="pi-hunt-error" onclick="setLocation(this);" {{ checked("eligibility-cattle", "eligibility-cattle-no") }}>
              <label class="govuk-label govuk-radios__label" for="eligibility-cattle-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


  </div>
</div>


{% endblock %}
